<footer id="colophon">
	<div class="container">
		<div class="row">
			<div class="col-6 col-md">
				<h2 class="h5">Platform</h2>
				<nav class="nav flex-column">
					<a href="#">Web accessibility</a>
					<a href="#">Smartphone OS</a>
					<a href="#">Browser extension</a>
					<a href="#">Platform apps</a>
				</nav>
			</div>
			<div class="col-6 col-md">
				<h2 class="h5">Accelerator</h2>
				<nav class="nav flex-column">
					<a href="#">Program home</a>
					<a href="#">Portfolio startups</a>
					<a href="#">Upcoming events</a>
					<a href="#">Partnerships</a>
				</nav>
			</div>
			<div class="col-6 col-md">
				<h2 class="h5">Developers</h2>
				<nav class="nav flex-column">
					<a href="#">Documentation</a>
					<a href="#">API reference</a>
					<a href="#">Agastya apps</a>
					<a href="#">&#9679; Status</a>
				</nav>
			</div>
			<div class="col-6 col-md">
				<h2 class="h5">Company</h2>
				<nav class="nav flex-column">
					<a href="#">About us</a>
					<a href="#">Leadership</a>
					<a href="#">Our values</a>
					<a href="#">Work with us</a>
					<a href="#">Blog</a>
				</nav>
			</div>
			<div class="col-6 col-md">
				<h2 class="h5">Resources</h2>
				<nav class="nav flex-column">
					<a href="#">Contact us</a>
					<a href="#">Press</a>
					<a href="#">Privacy &amp; terms</a>
					<a href="#">GDPR Tools</a>
				</nav>
			</div>
		</div>
	</div>
</footer>