<header id="masthead">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="#">Oswald Labs</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Platform</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Accelerator</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Company</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="#">Get in touch &rarr;</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>