<footer class="site-footer">
	<section class="bg-light-1-force pt-5 pb-5">
		<div class="container">
			<div class="row">
				<div class="col-md-3 d-flex justify-content-between flex-column text-center text-md-left">
					<div>
						<a class="navbar-brand" href="/">
							<svg viewBox="0 0 116 116" xmlns="http://www.w3.org/2000/svg"><g fill="#007bff" fill-rule="evenodd"><path d="M58 116C25.967 116 0 90.033 0 58S25.967 0 58 0s58 25.967 58 58-25.967 58-58 58zm.5-11c26.234 0 47.5-21.266 47.5-47.5S84.734 10 58.5 10 11 31.266 11 57.5 32.266 105 58.5 105z"></path><circle cx="58.5" cy="57.5" r="35.5"></circle></g></svg>
							<span>Oswald Labs</span>
						</a>
					</div>
					<div class="text-muted">
						<p>&copy; 2016&ndash;{{ now.Format "2006" }} &middot; <a href="/licenses">Licenses</a></p>
					</div>
				</div>
				<div class="col-md-9">
					<div class="row">
						<div class="col-6 col-md">
							<h2 class="h5">
								<a href="/platform">Platform</a>
							</h2>
							<nav class="nav flex-column">
								<a href="/platform/agastya">Web accessibility</a>
								<a href="/platform/shravan/apps">Android &amp; iOS apps</a>
								<a href="/platform/valmiki">Browser extension</a>
								<a href="/platform/shravan/os">Smartphone OS</a>
								<a href="/platform/agastya/privacy">GDPR &amp; privacy</a>
							</nav>
						</div>
						<div class="col-6 col-md">
							<h2 class="h5">Accelerator</h2>
							<nav class="nav flex-column">
								<a href="/accelerator">Program home</a>
								<a href="/accelerator/startups">Portfolio startups</a>
								<a href="/accelerator/events">Upcoming events</a>
								<a href="/accelerator/partners">Partnerships</a>
							</nav>
						</div>
						<div class="col-6 col-md">
							<h2 class="h5">Developers</h2>
							<nav class="nav flex-column">
								<a href="/">Documentation</a>
								<a href="/">API reference</a>
								<a href="/">Agastya apps</a>
								<a href="/"><span class="text-success">●</span> Status</a>
							</nav>
						</div>
						<div class="col-6 col-md">
							<h2 class="h5">Company</h2>
							<nav class="nav flex-column">
								<a href="/about">About us</a>
								<a href="/team">Leadership</a>
								<a href="/values/access">Our values</a>
								<a target="_blank" rel="noopener" href="https://angel.co/oswald-foundation/jobs">
									Work with us
									<i title="External link" class="fas fa-external-link-alt ml-2 text-muted"></i>
								</a>
								<a target="_blank" rel="noopener" href="https://blog.oswald.foundation">
									Blog
									<i title="External link" class="fas fa-external-link-alt ml-2 text-muted"></i>
								</a>
							</nav>
						</div>
						<div class="col-6 col-md">
							<h2 class="h5">Resources</h2>
							<nav class="nav flex-column">
								<a href="/services">Services</a>
								<a href="/contact">Contact us</a>
								<a href="/press">Presskit</a>
								<a href="/policies/privacy">Privacy &amp; terms</a>
								<a href="/gdpr/delete">GDPR tools</a>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="pt-4 pb-4 bg-light-2-force">
		<div class="container">
			<div class="row">
				<div class="col-md">Accessibility tools</div>
				<div class="col-md text-right">Made in India and the Netherlands</div>
			</div>
		</div>
	</div>
</footer>