<footer class="site-footer">
	<section class="bg-light-1-force">
		<div class="container">
			<div class="row">
				<div class="col-md-3 mb-5 mb-md-0 d-flex justify-content-between flex-column text-center text-md-left">
					<div>
						<a class="navbar-brand pt-0" href="/">
							<svg viewBox="0 0 116 116" xmlns="http://www.w3.org/2000/svg"><g fill="#007bff" fill-rule="evenodd"><path d="M58 116C25.967 116 0 90.033 0 58S25.967 0 58 0s58 25.967 58 58-25.967 58-58 58zm.5-11c26.234 0 47.5-21.266 47.5-47.5S84.734 10 58.5 10 11 31.266 11 57.5 32.266 105 58.5 105z"></path><circle cx="58.5" cy="57.5" r="35.5"></circle></g></svg>
							<span>Oswald Labs</span>
						</a>
						<div>Technology for the next billion users</div>
						<div class="sharer">
							<a title="Facebook" href="https://www.facebook.com/OswaldLabs"><i class="fab fa-facebook"></i></a>
							<a title="Instagram" href="https://www.instagram.com/oswaldlabs"><i class="fab fa-instagram"></i></a>
							<a title="GitHub" href="https://github.com/OswaldLabsOpenSource"><i class="fab fa-github"></i></a>
							<a title="Twitter" href="https://twitter.com/OswaldLabs"><i class="fab fa-twitter"></i></a>
						</div>
					</div>
					<div>
						<p>&copy; 2016&ndash;{{ now.Format "2006" }} &middot; <a href="/policies/licenses/">Licenses</a></p>
					</div>
				</div>
				<div class="col-md-9">
					<div class="row">
						<div class="col-6 col-md">
							<h2 class="h5">
								<a href="/platform/">Platform</a>
							</h2>
							<nav class="nav flex-column">
								<a href="/platform/agastya/">Web accessibility</a>
								<a href="/platform/shravan/apps/">Android &amp; iOS apps</a>
								<a href="/platform/valmiki/">Browser extension</a>
								<a href="/platform/shravan/os/">Smartphone OS</a>
								<a href="/platform/agastya/eu/">GDPR &amp; privacy</a>
							</nav>
						</div>
						<div class="col-6 col-md">
							<h2 class="h5">Accelerator</h2>
							<nav class="nav flex-column">
								<a href="/accelerator/">Program home</a>
								<a href="/accelerator/startups/">Portfolio startups</a>
								<a href="/accelerator/events/">Upcoming events</a>
								<a href="/accelerator/partners/">Partnerships</a>
								<a href="/accelerator/spaces/">Office spaces</a>
							</nav>
						</div>
						<div class="col-6 col-md">
							<h2 class="h5">Developers</h2>
							<nav class="nav flex-column">
								<a href="https://help.oswaldlabs.com/developers/">Documentation</a>
								<a href="https://github.com/OswaldLabsOpenSource/platform">Platform APIs</a>
								<a href="/platform/agastya/features/">Integrations</a>
								<a href="https://status.oswaldlabs.com">
									<i class="fas fa-circle mr-1 inline-fa text-success"></i>
									<span>Status</span>
								</a>
							</nav>
						</div>
						<div class="col-6 col-md">
							<h2 class="h5">Company</h2>
							<nav class="nav flex-column">
								<a href="/about/">About us</a>
								<a href="/team/">Leadership</a>
								<a href="/values/">Our values</a>
								<a href="https://angel.co/oswald-foundation/jobs">Work with us</a>
								<a href="https://blog.oswald.foundation">Blog</a>
							</nav>
						</div>
						<div class="col-6 col-md">
							<h2 class="h5">Resources</h2>
							<nav class="nav flex-column">
								<a href="/contact/">Contact us</a>
								<a href="/press/">Press &amp; news</a>
								<a href="/sitemap/">Sitemap</a>
								<a href="/policies/">Privacy &amp; terms</a>
								<a href="/gdpr/">GDPR tools</a>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="pt-3 pb-3 bg-light-2-force">
		<div class="container">
			<div class="row a11y-buttons-parent">
				<div class="col-md">
					<div class="a11y-buttons">
						<span class="dropdown dropup">
							<button class="btn bg-transparent dropdown-toggle btn-left d-none d-md-inline" type="button" id="translateMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-language mr-1"></i>
								<span>English<span class="sr-only"> (Change language)</span></span>
							</button>
							<div class="dropdown-menu" aria-labelledby="translateMenu">
								<button class="dropdown-item" onclick="window.agastya.api('translate', 'en')">
									<span class="flag-span" aria-hidden="true">🇺🇸</span>
									<span>English (US)</span>
								</button>
								<button class="dropdown-item" onclick="window.agastya.api('translate', 'nl')">
									<span class="flag-span" aria-hidden="true">🇳🇱</span>
									<span>Nederlands</span>
								</button>
								<button class="dropdown-item" onclick="window.agastya.api('translate', 'de')">
									<span class="flag-span" aria-hidden="true">🇩🇪</span>
									<span>Deutsch</span>
								</button>
								<button class="dropdown-item" onclick="window.agastya.api('translate', 'es')">
									<span class="flag-span" aria-hidden="true">🇪🇸</span>
									<span>Espa&ntilde;ol</span>
								</button>
								<button class="dropdown-item" onclick="window.agastya.api('translate', 'fr')">
									<span class="flag-span" aria-hidden="true">🇫🇷</span>
									<span>Fran&ccedil;ais</span>
								</button>
								<button class="dropdown-item" onclick="window.agastya.api('translate', 'it')">
									<span class="flag-span" aria-hidden="true">🇮🇹</span>
									<span>Italiano</span>
								</button>
								<button class="dropdown-item" onclick="window.agastya.api('translate', 'hi')">
									<span class="flag-span" aria-hidden="true">🇮🇳</span>
									<span>हिन्दी</span>
								</button>
								<button class="dropdown-item" onclick="window.agastya.frame.open()">
									<span>More Languages</span>
								</button>
							</div>
						</span>
						<button class="btn bg-transparent">
							<i class="fas fa-universal-access mr-1"></i>
							<span>Accessibility</span>
						</button>
						<button class="btn bg-transparent">
							<i class="fas fa-sun mr-1"></i>
							<span>Contrast</span>
						</button>
						<button class="btn bg-transparent">
							<i class="fas fa-volume-up mr-1"></i>
							<span>Read aloud</span>
						</button>
					</div>
				</div>
				<div class="col-md text-right align-items-center justify-content-end d-flex">
					<a target="_blank" rel="noopener noreferrer" href="https://madewithlove.org.in">Made with <i class="fas fa-heart ml-1 mr-1 text-danger" title="Love"></i><span>Love</span> in India and the Netherlands</a>
				</div>
			</div>
		</div>
	</div>
</footer>