<header class="site-header" role="banner">
	<!-- <div class="announcement small text-center text-white p-2">
		<div class="container">
			<p>
				<strong>Big news: </strong>We&rsquo;ve been featured in Forbes 30 Under 30 Asia 2018!
				<a href="/news/forbes-30-under-30-asia-2018" class="ml-3">
					Read Forbes article
					<i class="fas fa-arrow-right ml-1"></i>
				</a>
			</p>
		</div>
	</div> -->
	<nav class="navbar navbar-expand-lg bg-none">
		<div class="container">
			<a class="navbar-brand" href="/">
				<svg viewBox="0 0 116 116" xmlns="http://www.w3.org/2000/svg"><g fill="#007bff" fill-rule="evenodd"><path d="M58 116C25.967 116 0 90.033 0 58S25.967 0 58 0s58 25.967 58 58-25.967 58-58 58zm.5-11c26.234 0 47.5-21.266 47.5-47.5S84.734 10 58.5 10 11 31.266 11 57.5 32.266 105 58.5 105z"></path><circle cx="58.5" cy="57.5" r="35.5"></circle></g></svg>
				<span>Oswald Labs</span>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link" href="/platform" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Platform</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item d-flex align-items-center" href="/platform/agastya">
								<div class="dropdown-text">
									<img alt="Shravan icon" src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Agastya.svg">
									<div>
										<div><strong>Agastya</strong></div>
										<div>For websites and apps</div>
									</div>
								</div>
							</a>
							<a class="dropdown-item d-flex align-items-center" href="/platform/shravan">
								<div class="dropdown-text">
									<img alt="Shravan icon" src="https://upload.wikimedia.org/wikipedia/commons/c/c0/Shravan.svg">
									<div>
										<div><strong>Shravan</strong></div>
										<div>For smartphones</div>
									</div>
								</div>
							</a>
							<a class="dropdown-item d-flex align-items-center" href="/platform/valmiki">
								<div class="dropdown-text">
									<img alt="Shravan icon" src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Valmiki.svg">
									<div>
										<div><strong>Valmiki</strong></div>
										<div>For web browsers</div>
									</div>
								</div>
							</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/accelerator">Accelerator</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about">Company</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link pr-0" href="/contact">Get in touch &rarr;</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>