<header class="site-header" role="banner">
	<!-- <div class="announcement small text-center text-white p-2">
		<div class="container">
			<p>
				<strong>Big news: </strong>We&rsquo;ve been featured in Forbes 30 Under 30 Asia 2018!
				<a href="/news/forbes-30-under-30-asia-2018" class="ml-3">
					Read Forbes article
					<i class="fas fa-arrow-right ml-1"></i>
				</a>
			</p>
		</div>
	</div> -->
	<nav class="navbar navbar-expand-lg bg-none">
		<div class="container">
			<a class="navbar-brand" href="/">
				<svg viewBox="0 0 116 116" xmlns="http://www.w3.org/2000/svg"><g fill="#007bff" fill-rule="evenodd"><path d="M58 116C25.967 116 0 90.033 0 58S25.967 0 58 0s58 25.967 58 58-25.967 58-58 58zm.5-11c26.234 0 47.5-21.266 47.5-47.5S84.734 10 58.5 10 11 31.266 11 57.5 32.266 105 58.5 105z"></path><circle cx="58.5" cy="57.5" r="35.5"></circle></g></svg>
				<span>Oswald Labs</span>
			</a>
			<button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<svg class="menu-button only-mobile" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve">
					<path id="XMLID_3_" d="M8.1,72.8h6.2l4.7,13.7H19l4.4-13.7h6.2v20h-4.1V78.6h-0.1l-4.9,14.2h-3.4l-4.9-14h-0.1v14H8.1V72.8z"></path>
					<path id="XMLID_9_" d="M34.4,72.8h15v3.7H38.8v4.3h9.7v3.4h-9.7v4.9h10.8v3.7H34.4V72.8z"></path>
					<path id="XMLID_11_" d="M53.4,72.8h4.4l8.3,13.4h0.1V72.8h4.1v20h-4.4l-8.3-13.4h-0.1v13.4h-4.1V72.8z"></path>
					<path id="XMLID_13_" d="M92,85.2c0,2.7-0.8,4.7-2.3,6s-3.6,2-6.3,2c-2.7,0-4.8-0.7-6.3-2C75.7,90,75,88,75,85.2V72.8h4.4v12.4 c0,0.5,0,1.1,0.1,1.6s0.3,1,0.6,1.4c0.3,0.4,0.7,0.7,1.2,1c0.5,0.2,1.2,0.4,2.1,0.4c1.6,0,2.7-0.4,3.2-1c0.6-0.7,0.9-1.8,0.9-3.3 V72.8H92V85.2z"></path>
					<rect id="XMLID_1_" x="6.1" y="7.5" width="87.7" height="11.2"></rect>
					<rect id="XMLID_6_" x="6.1" y="29.8" width="87.7" height="11.2"></rect>
					<rect id="XMLID_8_" x="6.1" y="52.2" width="87.7" height="11.2"></rect>
				</svg>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link no-barba" href="/platform/" id="platformDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Platform</a>
						<div class="dropdown-menu" aria-labelledby="platformDropdown">
							<a class="dropdown-item d-flex align-items-center" href="/platform/agastya/">
								<div class="dropdown-text">
									<img alt="Shravan icon" src="/images/icons/agastya.svg">
									<div>
										<div><strong>Agastya</strong></div>
										<div>For websites and apps</div>
									</div>
								</div>
							</a>
							<a class="dropdown-item d-flex align-items-center" href="/platform/shravan/">
								<div class="dropdown-text">
									<img alt="Shravan icon" src="/images/icons/shravan.svg">
									<div>
										<div><strong>Shravan</strong></div>
										<div>For smartphones</div>
									</div>
								</div>
							</a>
							<a class="dropdown-item d-flex align-items-center" href="/platform/valmiki/">
								<div class="dropdown-text">
									<img alt="Shravan icon" src="/images/icons/valmiki.svg">
									<div>
										<div><strong>Valmiki</strong></div>
										<div>For web browsers</div>
									</div>
								</div>
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/platform/">Explore all solutions &rarr;</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/research/">Research</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/accelerator/">Accelerator</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link no-barba" href="/about/" id="companyDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Company</a>
						<div class="dropdown-menu" aria-labelledby="companyDropdown">
							<a class="dropdown-item" href="/about/">About</a>
							<a class="dropdown-item" href="/team/">Team</a>
							<a class="dropdown-item" href="/news/">News</a>
							<a class="dropdown-item" href="https://blog.oswald.foundation/">Blog</a>
							<a class="dropdown-item" href="/press/">Press</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="https://angel.co/oswald-foundation/jobs">Work with us</a>
						</div>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" target="_blank" rel="noreferrer noopener" href="https://admin.oswaldlabs.com/auth/login">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link pr-0" href="/contact/">Get in touch &rarr;</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>