{{ if .Params.Title }}
    {{ if eq .File.Path "accelerator/_index.md" }}
        {{ .Scratch.Set "setTitle" "Oswald Labs Accelerator" }}
    {{ else if eq .File.Path "accelerator/partners/_index.md" }}
        {{ .Scratch.Set "setTitle" "Partners · Oswald Labs Accelerator" }}
    {{ else if eq .File.Path "accelerator/events/_index.md" }}
        {{ .Scratch.Set "setTitle" "Events · Oswald Labs Accelerator" }}
    {{ else if eq .File.Path "accelerator/spaces/_index.md" }}
        {{ .Scratch.Set "setTitle" "Spaces · Oswald Labs Accelerator" }}
    {{ else if eq .File.Path "accelerator/startups/_index.md" }}
        {{ .Scratch.Set "setTitle" "Portfolio Startups · Oswald Labs Accelerator" }}
    {{ else if .Params.Subtype }}
        {{ if eq .Params.Subtype "agastya_features" }}
            {{ .Scratch.Add "setTitle" .Title }}
            {{ .Scratch.Add "setTitle" " · Features · Agastya by Oswald Labs" }}
        {{ else if eq .Params.Subtype "shravan_apps" }}
            {{ .Scratch.Add "setTitle" .Title }}
            {{ .Scratch.Add "setTitle" " · Shravan Apps by Oswald Labs" }}
        {{ else if eq .Params.Subtype "events" }}
            {{ .Scratch.Add "setTitle" .Title }}
            {{ .Scratch.Add "setTitle" " · Events · Oswald Labs Accelerator" }}
        {{ else if eq .Params.Subtype "accelerator_partners" }}
            {{ .Scratch.Add "setTitle" .Title }}
            {{ .Scratch.Add "setTitle" " · Partners · Oswald Labs Accelerator" }}
        {{ else }}
            {{ if in .Title "Oswald Labs "}}
                {{ .Scratch.Set "setTitle" .Title }}
            {{ else }}
                {{ .Scratch.Add "setTitle" .Title }}
                {{ .Scratch.Add "setTitle" " · Oswald Labs" }}
            {{ end }}
        {{ end }}
    {{ else if eq .Params.Type "accelerator" }}
        {{ .Scratch.Add "setTitle" .Title }}
        {{ .Scratch.Add "setTitle" " · Oswald Labs Accelerator" }}
    {{ else }}
        {{ if in .Title "Oswald Labs "}}
            {{ .Scratch.Set "setTitle" "{{ .Title }}" }}
        {{ else }}
            {{ .Scratch.Add "setTitle" .Title }}
            {{ .Scratch.Add "setTitle" " · Oswald Labs" }}
        {{ end }}
    {{ end }}
{{ end }}
<title>{{ .Scratch.Get "setTitle" }}</title>