<section class="hero pb-5">
    <div class="container">
        <div class="row justify-content-center text-md-center">
            <div class="col-md-6">
                <h1>{{ .Title }}</h1>
                {{ if .Params.Description }}
                <p class="intro-para">{{ .Params.Description }}</p>
                {{ end }}
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>How can I get {{ .Title }} on my website?</h2>
                <ul class="steps">
                    <li class="row">
                        <div class="col-2"><div>1</div></div>
                        <div class="col-10"><div>Sign up for Agastya and add the one-line JavaScript snippet to your website.</div></div>
                    </li>
                    <li class="row">
                        <div class="col-2"><div>2</div></div>
                        <div class="col-10"><div>Log in to your admin panel and enable {{ .Title }} from the Agastya App Store.</div></div>
                    </li>
                    <li class="row">
                        <div class="col-2"><div>3</div></div>
                        <div class="col-10"><div>That's it, you're done!</div></div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 mt-5 mt-md-0">
                <h2>Built on Oswald Labs Platform, with thousands of users.</h2>
                <p class="intro-para mb-2">All Agastya features are built on Oswald Labs Platform, an extensive suite of products, open-source projects, and developer APIs and SDKs to build tools to empower the next billion users.</p>
                <p>Oswald Labs Platform products are used by thousands of users and works for websites with millions of pageviews every month.</p>
                <div class="mt-2">
                    <a class="btn btn-outline-warning" href="/platform/">Visit Oswald Labs Platform &rarr;</a>
                </div>
            </div>
        </div>
    </div>
</section>