<section class="hero big-image">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>{{ .Title }}</h1>
                {{ if .Params.Description }}
                <p class="intro-para">{{ .Params.Description }}</p>
                {{ end }}
                {{ if .Params.Link }}
                    <div>
                        <a href="{{ .Params.Link }}" class="btn btn-warning">Visit {{ .Title }} &rarr;</a>
                    </div>
                {{ end }}
            </div>
            <div class="col-md-6 text-right">
                <img role="presentation" src="/images/illustrations/case-studies.svg">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="content">
                    {{ .Content }}
                </div>
            </div>
            <div class="col-md-6 text-center mt-all">
                <img style="max-width: 50%" alt="{{ .Title }} logo" src="/images/logos/{{ .File.TranslationBaseName }}.png">
            </div>
        </div>
    </div>
</section>
<section class="bg-light-1">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <i class="fas fa-book-reader fa-2x o-5"></i>
                <h3 class="mt-3">Legibility features</h3>
                <p>Agastya has built-in features to increase legibility, including a dyslexia-friendly mode for users with learning disabilities.</p>
            </div>
            <div class="col-md mt-5 mt-md-0">
                <i class="fas fa-palette fa-2x o-5"></i>
                <h3 class="mt-3">White labelling</h3>
                <p>Make it yours by adding your brand identity to the plugin for free. Add your brand name, colors, and custom call-to-actions.</p>
            </div>
            <div class="col-md mt-5 mt-md-0">
                <i class="fas fa-chart-line fa-2x o-5"></i>
                <h3 class="mt-3">Advanced analytics</h3>
                <p>Track plugin usage, user abilities, pageviews, and custom events using our GDPR-compliant and privacy-aware tracking technology.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>How can I get Agastya on my website?</h2>
                <ul class="steps">
                    <li class="row">
                        <div class="col-2"><div>1</div></div>
                        <div class="col-10"><div>Estimate the number of monthly pageviews your website receives and select a free or Pro plan.</div></div>
                    </li>
                    <li class="row">
                        <div class="col-2"><div>2</div></div>
                        <div class="col-10"><div>Sign up for Agastya and add the one-line JavaScript snippet to your website.</div></div>
                    </li>
                    <li class="row">
                        <div class="col-2"><div>3</div></div>
                        <div class="col-10"><div>That's it, you're done!</div></div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 mt-5 mt-md-0">
                <h2>Thousands of users use Agastya every month.</h2>
                <p class="intro-para mb-2">Agastya comes built-in with tens of features, including dyslexia-friendly mode, night mode, blind-friendly read aloud, and GDPR-compliant privacy-aware event tracking.</p>
                <p>Agastya features are used by thousands of users and works for websites with millions of pageviews every month.</p>
                <div class="mt-2">
                    <a class="btn btn-outline-warning" href="/platform/agastya/features/">Explore Agastya features &rarr;</a>
                </div>
            </div>
        </div>
    </div>
</section>