<section class="hero big-image pb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>{{ .Title }}</h1>
				<div class="row intro-para">
					<div class="col-2 text-center">
						<div class="display-n text-danger">{{ .Date.Format "02" }}</div>
						<div>{{ .Date.Format "Jan" }}</div>
					</div>
					<div class="col-10">
						{{ if .Params.AddressName }}{{ .Params.AddressName }}<br>{{ end }}
						{{ if .Params.StreetAddress }}{{ .Params.StreetAddress }}<br>{{ end }}
						{{ if .Params.AddressLocality }}{{ .Params.AddressLocality }}<br>{{ end }}
					</div>
				</div>
				{{ if .Params.Link }}
					<div>
						<a href="{{ .Params.Link }}" class="btn btn-primary">Visit {{ .Title }} &rarr;</a>
					</div>
				{{ end }}
			</div>
			<div class="col-md-6 text-right">
				<img role="presentation" src="/images/illustrations/events.svg">
			</div>
		</div>
	</div>
</section>
<section itemscope itemtype="http://schema.org/Event">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				{{ if .Content }}
				<h2 class="subheading">About {{ .Title }}</h2>
				<div class="mb-5" itemprop="description">
					{{ .Content }}
				</div>
				{{ end }}
				{{ if .Params.Role }}
					{{ if eq .Params.Role "organizer" }}
						<h2 class="subheading mt-5">Organizer</h2>
						<p>Organizing events is an exciting way to give back to the ecosystem, and it also helps us find new talent and startups for our program or potential partnerships. Oswald Labs organized the {{ .Params.Category | lower }} {{ .Title }} on <time datetime="{{ .Date }}">{{ .Date.Format "January 02, 2006" }}</time>.</p>
					{{ end }}
				{{ end }}
			</div>
			<div class="col-md-6 pl-md-5 mt-all">
				<h2 class="subheading">Event details</h2>
				<p>{{ .Title }} was organized {{ if eq (.Date.Format "January 02, 2006") (dateFormat "January 02, 2006" .Params.endDate) }}on {{ .Date.Format "January 02, 2006" }}{{ else }}from {{ .Date.Format "January 02, 2006" }} to {{ dateFormat "January 02, 2006" .Params.endDate }}{{ end }} at {{ .Params.AddressName }}, located at {{ .Params.streetAddress }}, {{ .Params.addressLocality }}, {{ .Params.postalCode }}, {{ .Params.addressRegion }}. {{ if eq .Params.category "Hackathon" }}{{ .Title }} is a hackathon, which is a design sprint-like event in which programmers, graphic designers, interface designers, project managers, etc, often including subject-matter-experts, collaborate intensively on software projects.{{ end }}</p>
				<div>
					<a href="https://maps.google.com/?q={{ .Params.AddressName }} {{ .Params.StreetAddress }} {{ .Params.AddressLocality }} {{ .Params.AddressRegion }} {{ .Params.PostalCode }} {{ .Params.Country }} " class="btn btn-outline-primary">Navigate to {{ if .Params.AddressName }}{{ .Params.AddressName }}{{ else }}{{ .Params.StreetAddress }}{{ end }} &rarr;</a>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Event",
		"name": "{{ .Title }}",
		"startDate": "{{ .Params.startDate }}",
		"location": {
			"@type": "Place",
			"name": "{{ .Params.addressName }}",
			"address": {
				"@type": "PostalAddress",
				"streetAddress": "{{ .Params.streetAddress }}",
				"addressLocality": "{{ .Params.addressLocality }}",
				"postalCode": "{{ .Params.postalCode }}",
				"addressRegion": "{{ .Params.addressRegion }}",
				"addressCountry": "{{ .Params.addressCountry }}"
			}
		},
		"image": "{{ .Params.Image }}",
		"description": "{{ .Params.Description }}",
		"endDate": "{{ .Params.endDate }}"
	}
</script>