<section class="hero pb-5 text-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7">
				<h1>{{ .Title }}</h1>
				<div class="mt-4">Posted on <a href="{{ .Permalink }}">{{ .Date.Format "January 2, 2006" }}</a></div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7">
				<div class="content">
					{{ .Content }}
				</div>
				{{ partial "sharer.html" . }}
			</div>
		</div>
	</div>
</section>