<section class="hero pb-5 text-md-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7">
				<h1>{{ .Title }}</h1>
				{{ if .Params.Subtitle }}<div class="subheading intro-para ml-auto mr-auto">{{ .Params.Subtitle }}</div>{{ end }}
				<div class="mt-4">Published on <a href="{{ .Permalink }}">{{ .Date.Format "January 2, 2006" }}</a>{{ if .Params.Author }} by {{ .Params.Author }}{{ end }}</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7">
				<div class="content">
					{{ .Content }}
					{{ if .Params.Continue }}
					<p>
						<a class="btn btn-outline-primary btn-lg" href="{{ .Params.Continue }}">Continue reading{{ if .Params.Publication }} on {{ .Params.Publication }}{{ end }} &rarr;</a>
					</p>
					{{ end }}
				</div>
				{{ partial "sharer.html" . }}
			</div>
		</div>
	</div>
</section>