<section class="hero pb-5 text-md-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7">
				<h1>{{ .Title }}</h1>
				{{ if .Params.Journal }}<div class="subheading intro-para ml-auto mr-auto">{{ .Params.Journal }}</div>{{ end }}
				{{ if .Params.Subtitle }}<div class="subheading intro-para ml-auto mr-auto">{{ .Params.Subtitle }}</div>{{ end }}
				<div class="mt-4 ml-auto mr-auto" style="max-width: 400px">Published on <a href="{{ .Permalink }}">{{ .Date.Format "January 2, 2006" }}</a>{{ if .Params.Author }} by {{ .Params.Author }}{{ end }}</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7">
				<div class="content">
					{{ .Content }}
					{{ if .Params.Continue }}
					<p>
						<a class="btn btn-outline-primary btn-lg" href="{{ .Params.Continue }}">{{ if eq .Params.Publication "pdf" }}Download the PDF{{ else }}Continue reading{{ if .Params.Publication }} on {{ .Params.Publication }}{{ end }}{{ end }} &rarr;</a>
					</p>
					{{ end }}
				</div>
				{{ partial "sharer.html" . }}
			</div>
		</div>
	</div>
</section>
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "NewsArticle",
		"mainEntityOfPage": {
			"@type": "WebPage",
			"@id": "https://google.com/article"
		},
		"headline": "{{ .Title }}",
		"datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z0700" }}",
		"dateModified": "{{ .Date.Format "2006-01-02T15:04:05Z0700" }}",
		"author": {
			"@type": "Person",
			"name": "John Doe"
		},
		"publisher": {
			"@type": "Organization",
			"name": "Oswald Labs",
			"logo": {
				"@type": "ImageObject",
				"url": "https://static.oswaldlabs.com/logo.png"
			}
		},
		"description": "{{ .Title }}"
	}
</script>