---
title: Features &middot; Shravan by Oswald Labs
desc: Shravan, the world's first end-to-end accessible smartphone OS, has many features that help people use a smartphone for the first time.
---

<header id="masthead" class="light">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
	</div>
	<%= partial "shravan_nav" %>
</header>

<main id="content">
	<section>
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-6">
					<div>
						<h1>Features</h1>
						<p>Shravan is the world's first end-to-end accessible smartphone operating system, and it features custom modes and apps that help everyone use a smartphone with ease.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="gray">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2 class="mt-3 mt-md-0"><i class="fas fa-microphone"></i></h2>
					<h3 class="h5 mb-3">Voice assistant</h3>
					<p>Shravan comes with an AI-based assistant that can help you answer emails, make calls, send messages, and do everyday tasks with ease, with natural speech recognition and synthesis.</p>
					<p>The Shravan voice assistant if the first one that works in 11 native Indian languages &mdash; Bengali, English, Gujarati, Kannada, Malayalam, Marathi, Tamil, Telugu, Urdu, Hindi.</p>
				</div>
				<div class="col-md-6">
					<h2 class="mt-3 mt-md-0"><i class="fas fa-newspaper"></i></h2>
					<h3 class="h5 mb-3">News, search, internet</h3>
					<p>Shravan can potentially be the first-of-its-kind internet device for millions of people, so it comes with native language support for news, web search, email, and an HTML5-based low data usage web browser.</p>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2 class="mt-3 mt-md-0"><i class="fas fa-music"></i></h2>
					<h3 class="h5 mb-3">Music streaming</h3>
					<p>Users can listen to unlimited free music on their smartphones using Shravan's build-in Music app. Users can use the custom-build YouTube&trade; app with their screens off for free music streaming, or choose to configure their music subscription with Shravan.</p>
					<p>Currently supported streaming services are Apple Music, Gaana, Jio Music, Spotify, Saavn, and Wynk Music.</p>
				</div>
				<div class="col-md-6">
					<h2 class="mt-3 mt-md-0"><i class="fas fa-ambulance"></i></h2>
					<h3 class="h5 mb-3">Health &amp; emergency</h3>
					<p>Shravan users can set up emergency contacts, who can get access to their high-accuracy live location, found using a combination of GPS, mobile towers, and WiFi hotspots. They can also use one-tap ambulance, a service that automatically alerts the authorities in case of an emergency.</p>
					<p>Shravan also comes with a custom-built version of Naari, a period tracking and menstrual health education app for women; and a medication reminder and scheduler for senior citizens.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="gray">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2 class="mt-3 mt-md-0"><i class="fas fa-lock"></i></h2>
					<h3 class="h5 mb-3">Aadhaar integration</h3>
					<p>When you turn on Shravan for the first time, you can choose to enter your Aadhaar number, and the phone will instantly recognize you thereafter. No need to spend countless hours storing your information or verifying one-time passwords.</p>
					<p>Using IndiaStack's Aadhaar API, your information is only accessed after direct consent and authentication, and implements a bank-level 128-bit SSL/TLS security system.</p>
				</div>
				<div class="col-md-6">
					<h2 class="mt-3 mt-md-0"><i class="fas fa-comments"></i></h2>
					<h3 class="h5 mb-3">Free messaging</h3>
					<p>Shravan comes build-in with an unlimited free messaging app for Shravan-to-Shravan users, and support for popular messaging apps such as BBM, Facebook Messenger, LINE, Skype, Telegram, Viber, WeChat, and WhatsApp.</p>
					<p>Shravan Messenger also comes with a Ping feature, using which users can alert and ask for the live locations of their contacts securely.</p>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2 class="mt-3 mt-md-0"><i class="fas fa-credit-card"></i></h2>
					<h3 class="h5 mb-3">Cashless payments</h3>
					<p>Shravan is the first operating system with build-in support for Unified Payments Interface (UPI). Aadhaar-verified users can make even transactions without manually entering OTPs using Shravan's AutoOTP&trade;. It works across all partner banks, and money is automatically debited to and credited from your bank account.</p>
				</div>
				<div class="col-md-6">
					<h2 class="mt-3 mt-md-0"><i class="fas fa-sync-alt"></i></h2>
					<h3 class="h5 mb-3">Automatic updates</h3>
					<p>Shravan automatically downloads and installs updates when a WiFi connection is detected. Latest security updates, interface changes, and features are automatically added, and user data backed up to the cloud. Users can just enter their Aadhaar number to a new Shravan phone to automatically transfer all their data.</p>
				</div>
			</div>
		</div>
	</section>
</main>