---
title: Features &middot; Shravan by Oswald Labs
desc: Shravan, the world's first end-to-end accessible smartphone OS, has many features that help people use a smartphone for the first time.
---

<header id="masthead" class="light">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
	</div>
	<%= partial "shravan_nav" %>
</header>

<main id="content">
	<section>
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-6">
					<div>
						<h1>Features</h1>
						<p>Agastya is a solution for web developers to help incorporate accessibility features in their websites. It features an incredible array of disabled-friendly modes which you can add to your website.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="p-0">
		<div class="gray">
			<div class="container">
				<div class="row pt-5 pb-5">
					<div class="col-md-6">
						<div>
							<h1 class="mt-3 mt-md-0"><i class="fas fa-book"></i></h1>
							<h3 class="h5 mb-3">Dyslexia</h3>
							<p>Our exclusive dyslexia-friendly mode uses the research verified by the British Dyslexia Association and the W3C for up to 65% easier and faster reading for those with learning disorders.</p>
							<p>It automatically changes the color schemes and contrast ratios, typography, and removes unnecessary elements.</p>
							<p><a tabindex="0" onclick="agastya.mode('dyslexia');">Try dyslexia-friendly mode &rarr;</a></p>
						</div>
					</div>
					<div class="col-md-6">
						<div>
							<h1 class="mt-3 mt-md-0"><i class="fas fa-book"></i></h1>
							<h3 class="h5 mb-3">Dyslexia</h3>
							<p>Our exclusive dyslexia-friendly mode uses the research verified by the British Dyslexia Association and the W3C for up to 65% easier and faster reading for those with learning disorders.</p>
							<p>It automatically changes the color schemes and contrast ratios, typography, and removes unnecessary elements.</p>
							<p><a tabindex="0" onclick="agastya.mode('dyslexia');">Try dyslexia-friendly mode &rarr;</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>