---
title: Anand Chowdhary, CEO, Oswald Labs
desc: "Anand Chowdhary is the Chief Executive Officer (CEO) of Oswald Labs, an award-winning accessibility technology company. Learn more about him or get in touch."
---

<header id="masthead" class="light">
	<div class="container pt-3">
		<%= partial "navbar" %>
		<div class="row justify-content-between">
			<div class="col-md-6">
				<div class="hero mb-5">
					<h1>Team</h1>
					<p>Oswald Labs is an innovative, young company of 10+ motivated individuals with a mission to make technology accessible to everyone. We're based out of India and the Netherlands.</p>
				</div>
			</div>
		</div>
	</div>
</header>

<main id="content">
	<section>
		<div class="container">
			<div class="row justify-content-center" itemscope itemtype="http://schema.org/Person">
				<div class="col-md-3 text-center text-md-left">
					<a href="/team/anand"><img alt="Anand Chowdhary" itemprop="image" alt="Photo of Anand Chowdhary" src="/images/team/anand.png" class="rounded-circle w-50"></a>
					<div class="h5 font-weight-bold mt-4 mb-0">Anand Chowdhary</div>
					<div itemprop="jobTitle">Chief Executive Officer</div>
					<p class="mt-2">
						<ul class="list-unstyled d-flex d-md-block justify-content-center">
							<li class="ml-3 mr-3 ml-md-0 mr-md-0">
								<a target="_blank" rel="noopener" href="https://www.linked.com/in/AnandChowdhary/" itemprop="sameAs">
									<i class="fab fa-linkedin fa-fw mr-md-2 mb-1 mb-md-0 d-block d-md-inline m-auto"></i>
									<span>LinkedIn</span>
								</a>
							</li>
							<li class="ml-3 mr-3 ml-md-0 mr-md-0">
								<a target="_blank" rel="noopener" href="https://twitter.com/AnandChowdhary" itemprop="sameAs">
									<i class="fab fa-twitter fa-fw mr-md-2 mb-1 mb-md-0 d-block d-md-inline m-auto"></i>
									<span>Twitter</span>
								</a>
							</li>
							<li class="ml-3 mr-3 ml-md-0 mr-md-0">
								<a target="_blank" rel="noopener" href="https://www.facebook.com/AnandChowdhary" itemprop="sameAs">
									<i class="fab fa-facebook fa-fw mr-md-2 mb-1 mb-md-0 d-block d-md-inline m-auto"></i>
									<span>Facebook</span>
								</a>
							</li>
							<li class="ml-3 mr-3 ml-md-0 mr-md-0">
								<a target="_blank" rel="noopener" href="https://github.com/AnandChowdhary" itemprop="sameAs">
									<i class="fab fa-github fa-fw mr-md-2 mb-1 mb-md-0 d-block d-md-inline m-auto"></i>
									<span>GitHub</span>
								</a>
							</li>
						</ul>
					</p>
				</div>
				<div class="col-md-6">
					<p><strong itemprop="name">Anand Chowdhary</strong> is the <span itemprop="disambiguatingDescription">chief executive officer of Oswald Labs</span>. He co-founded <span itemprop="worksFor">Oswald Labs</span> with fellow schoolmate <a href="/team/nishant" itemprop="colleague">Nishant Gadihoke</a>.</p>
					<p>He has previously worked at the Government of Delhi and was a design and technology consultant to 10+ startups and organizations.</p>
					<p>He has also worked on projects alongside the United Nations Development Programme (UNDP), the National Skill Development Corporation (NSDC), and the Telecom Sector Skill Council (TSSC) as the Technology Lead at <a target="_blank" rel="noopener" href="http://unifiers.in">Unifiers</a>, and was the Technology Lead at <a target="_blank" rel="noopener" href="http://www.justiceadda.com/">Justice Adda</a>, a Cambridge Social Ventures startup in the Centre for Social Innovation, Judge Business School, University of Cambridge.</p>
					<p>He graduated from <span itemprop="alumniOf">The Mother's International School</span>, <span itemprop="birthPlace">New Delhi</span>, and joined the <span itemprop="alumniOf">Unitedworld Institute of Design</span>, Ahmedabad, to study Visual Communication Design. In July 2016, after winning Code4Impact at AngelHack Delhi, Chowdhary dropped out of design school to start Oswald Foundation, and is currently a Creative Technology student at the <span itemprop="alumniOf">University of Twente</span>, <span itemprop="homeLocation">Enschede</span>.</p>
					<p>He also founded <a target="_blank" rel="noopener" href="https://madewithlove.org.in">Made with Love in India</a>, an initiative to promote Indian-made brands and products, and is a software engineering consultant to <a target="_blank" rel="noopener" href="https://www.elnino.tech">El Ni&ntilde;o</a>, a digital development studio in the Netherlands.</p>
					<p>You can visit his <a target="_blank" rel="noopener" itemprop="url" href="https://anandchowdhary.com">personal website</a> for more information or write to him at <a itemprop="email" href="mailto:ceo@​oswald​labs.com">ceo@​oswald​labs.com</a>.</p>
				</div>
			</div>
		</div>
	</section>
</main>