---
title: Mahendra Singh Raghuwanshi, COO, Oswald Labs
desc: "Mahendra Singh Raghuwanshi is the Chief Operating Officer (COO) of Oswald Labs, an award-winning accessibility technology company. Learn more about him or get in touch."
---

<header id="masthead" class="light">
	<div class="container pt-3">
		<%= partial "navbar" %>
		<div class="row justify-content-between">
			<div class="col-md-6">
				<div class="hero mb-5">
					<h1>Team</h1>
					<p>Oswald Labs is an innovative, young company of 10+ motivated individuals with a mission to make technology accessible to everyone. We're based out of India and the Netherlands.</p>
				</div>
			</div>
		</div>
	</div>
</header>

<main id="content">
	<section>
		<div class="container">
			<div class="row justify-content-center" itemscope itemtype="http://schema.org/Person">
				<div class="col-md-3 text-center text-md-left">
					<a href="/team/mahendra"><img alt="Mahendra Singh Raghuwanshi" itemprop="image" alt="Photo of Mahendra Singh Raghuwanshi" src="/assets/images/team/mahendra.png" class="rounded-circle w-50"></a>
					<div class="h5 font-weight-bold mt-4 mb-0">Mahendra Singh Raghuwanshi</div>
					<div itemprop="jobTitle">Chief Operating Officer</div>
					<p class="mt-2">
						<ul class="list-unstyled d-flex d-md-block justify-content-center">
							<li class="ml-3 mr-3 ml-md-0 mr-md-0">
								<a target="_blank" href="https://www.linkedin.com/in/mahendra-singh-raghuwanshi-88297a7b/">
									<i class="fab fa-linkedin fa-fw mr-md-2 mb-1 mb-md-0 d-block d-md-inline m-auto"></i>
									<span>LinkedIn</span>
								</a>
							</li>
						</ul>
					</p>
				</div>
				<div class="col-md-6">
					<p><strong itemprop="name">Mahendra Singh Raghuwanshi</strong> is the <span itemprop="disambiguatingDescription">chief operations officer of Oswald Labs</span>. Before joining Oswald Labs, he co-founded <a href="https://www.melangebox.com" target="_blank" itemprop="worksFor">Melangebox</a>, a fashion and ecommerce technology company with <a href="/team/anand" itemprop="colleague">Anand Chowdhary</a>, the founder and CEO.</p>
					<p>He was previously a radio expert at Nokia and has a degree in Electronics and Telecommunication Engineering from <span itemprop="alumniOf">Shri Govindram Seksaria Institute of Technology and Science</span> (SGSITS), <span itemprop="birthPlace">Indore</span>. Mahendra handles the day-to-day operations, HR, and mobility technology at Oswald Labs.</p>
					<p>You can write to him at <a itemprop="email" target="_blank" href="mailto:coo@oswaldlabs.com">coo@oswaldlabs.com</a>.</p>
				</div>
			</div>
		</div>
	</section>
</main>