---
title: Nishant Gadihoke, CTO, Oswald Labs
desc: "Nishant Gadihoke is the Chief Technology Officer (CTO) of Oswald Labs, an award-winning accessibility technology company. Learn more about him or get in touch."
---

<header id="masthead" class="light">
	<div class="container pt-3">
		<%= partial "navbar" %>
		<div class="row justify-content-between">
			<div class="col-md-6">
				<div class="hero mb-5">
					<h1>Team</h1>
					<p>Oswald Labs is an innovative, young company of 10+ motivated individuals with a mission to make technology accessible to everyone. We're based out of India and the Netherlands.</p>
				</div>
			</div>
		</div>
	</div>
</header>

<main id="content">
	<section>
		<div class="container">
			<div class="row justify-content-center" itemscope itemtype="http://schema.org/Person">
				<div class="col-md-3 text-center text-md-left">
					<a href="/team/nishant"><img alt="Nishant Gadihoke" itemprop="image" alt="Photo of Nishant Gadihoke" src="/images/team/nishant.png" class="rounded-circle w-50"></a>
					<div class="h5 font-weight-bold mt-4 mb-0">Nishant Gadihoke</div>
					<div itemprop="jobTitle">Chief Executive Officer</div>
					<p class="mt-2">
						<ul class="list-unstyled d-flex d-md-block justify-content-center">
							<li class="ml-3 mr-3 ml-md-0 mr-md-0">
								<a target="_blank" rel="noopener" href="https://www.linked.com/in/nishantgadihoke/" itemprop="sameAs">
									<i class="fab fa-linkedin fa-fw mr-md-2 mb-1 mb-md-0 d-block d-md-inline m-auto"></i>
									<span>LinkedIn</span>
								</a>
							</li>
							<li class="ml-3 mr-3 ml-md-0 mr-md-0">
								<a target="_blank" rel="noopener" href="https://twitter.com/NishantGadihoke" itemprop="sameAs">
									<i class="fab fa-twitter fa-fw mr-md-2 mb-1 mb-md-0 d-block d-md-inline m-auto"></i>
									<span>Twitter</span>
								</a>
							</li>
							<li class="ml-3 mr-3 ml-md-0 mr-md-0">
								<a target="_blank" rel="noopener" href="https://www.facebook.com/NishantGadihoke" itemprop="sameAs">
									<i class="fab fa-facebook fa-fw mr-md-2 mb-1 mb-md-0 d-block d-md-inline m-auto"></i>
									<span>Facebook</span>
								</a>
							</li>
							<li class="ml-3 mr-3 ml-md-0 mr-md-0">
								<a target="_blank" rel="noopener" href="https://github.com/NishantGadihoke" itemprop="sameAs">
									<i class="fab fa-github fa-fw mr-md-2 mb-1 mb-md-0 d-block d-md-inline m-auto"></i>
									<span>GitHub</span>
								</a>
							</li>
						</ul>
					</p>
				</div>
				<div class="col-md-6">
						<p><strong itemprop="name">Nishant Gadihoke</strong> is the <span itemprop="disambiguatingDescription">chief technology officer of Oswald Labs</span>. He co-founded <span itemprop="worksFor">Oswald Labs</span> with fellow schoolmate <a href="/team/anand" itemprop="colleague">Anand Chowdhary</a> after winning Code4Impact at AngelHack Delhi.</p>
						<p>He has previously worked with organizations like Google, where he interned with the Chrome Design Team, the Wikimedia Foundation, and Khan Academy. He also worked as a freelance designer with startups.</p>
						<p>He is a senior at <span itemprop="alumniOf">The Mother's International School</span>, <span itemprop="birthPlace">New Delhi</span>. Apart from developing for the web, Nishant likes experimenting with Artifical Intelligence and Machine Learning from time to time. In the past couple of months, he has been building Android apps and learning about design patterns and color theory.</p>
						<p>You can visit his <a itemprop="url" target="_blank" rel="noopener" href="https://nishantgadihoke.com">personal website</a> for more information or write to him at <a itemprop="email" target="_blank" rel="noopener" href="mailto:cto@oswaldlabs.com">cto@oswaldlabs.com</a>.</p>
				</div>
			</div>
		</div>
	</section>
</main>