---
title: Tarek Gethe, Head of Sales (Germany), Oswald Labs
desc: "Tarek Gethe is the Head of Sales (Germany) at Oswald Labs, an award-winning accessibility technology company. Learn more about him or get in touch."
---

<header id="masthead" class="light">
	<div class="container pt-3">
		<%= partial "navbar" %>
		<div class="row justify-content-between">
			<div class="col-md-6">
				<div class="hero mb-5">
					<h1>Team</h1>
					<p>Oswald Labs is an innovative, young company of 10+ motivated individuals with a mission to make technology accessible to everyone. We're based out of India and the Netherlands.</p>
				</div>
			</div>
		</div>
	</div>
</header>

<main id="content">
	<section>
		<div class="container">
			<div class="row justify-content-center" itemscope itemtype="http://schema.org/Person">
				<div class="col-md-3 text-center text-md-left">
					<a href="/team/mahendra"><img alt="Tarek Gethe" itemprop="image" alt="Photo of Tarek Gethe" src="/images/team/tarek.png" class="rounded-circle w-50"></a>
					<div class="h5 font-weight-bold mt-4 mb-0">Tarek Gethe</div>
					<div itemprop="jobTitle">Head of Sales, Germany</div>
					<p class="mt-2">
						<ul class="list-unstyled d-flex d-md-block justify-content-center">
							<li class="ml-3 mr-3 ml-md-0 mr-md-0">
								<a target="_blank" href="https://www.linkedin.com/in/tarek-gethe-60b1b3156/">
									<i class="fab fa-linkedin fa-fw mr-md-2 mb-1 mb-md-0 d-block d-md-inline m-auto"></i>
									<span>LinkedIn</span>
								</a>
							</li>
						</ul>
					</p>
				</div>
				<div class="col-md-6">
					<p><strong itemprop="name">Tarek Gethe</strong> is the <span itemprop="disambiguatingDescription">head of sales for Germany at Oswald Labs</span>, focussing primarily on <a href="/agastya">Agastya</a>. He joined <span itemprop="worksFor">Oswald Labs</span> in 2017 with the motivation of introducing the web accessibility product to the German online market.</p>
					<p>Tarek's area of work and interest concerns the connection of psychology with entrepreneurship, sales, marketing, and online technology. He graduated from the <span itemprop="alumniOf">International School Hannover Region (ISHR)</span> in Germany with an International Baccalaureate Diploma.</p>
					<p>He previously worked at Hardstart Student Entrepreneurs in the Netherlands, organizing and hosting events and managing community and communications among young entrepreneurs and startups. Currently living in the Netherlands close to the German border, Tarek is a psychology student at the <span itemprop="alumniOf">University of Twente</span> in Enschede.</p>
					<p>You can write to him at <a itemprop="email" target="_blank" href="mailto:tarek@oswaldlabs.com">tarek@oswaldlabs.com</a>.</p>
				</div>
			</div>
		</div>
	</section>
</main>