@import url("https://oswaldlabs.com/stylesheets/fonts-b9c9ba49.css");
body {
  font-size: 105%;
  color: #4b5f79; }

a {
  cursor: pointer; }

a:focus, [tabindex]:focus, area:focus, iframe input:focus, select:focus, textarea:focus, button:focus {
  -webkit-box-shadow: 0 0 0 3px #007bff;
          box-shadow: 0 0 0 3px #007bff;
  outline: none; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 5; }

.text-body {
  color: #6b7c93;
  font-size: 105%; }

a.text-body:hover {
  text-decoration: none;
  color: #32325d; }

p:last-child {
  margin-bottom: 0; }

nav {
  font-size: 95%; }

h1 {
  font-weight: 300; }

h2 {
  font-weight: 400; }

.subheading {
  text-transform: uppercase;
  font-size: 110%;
  margin-bottom: 1rem;
  color: #6b7c93;
  font-weight: 400;
  letter-spacing: 2px; }

.bg-light-1 {
  background-color: #f6f9fc; }

.bg-light-2 {
  background-color: #e9edf1; }

.navbar-brand svg {
  width: 25px;
  height: 25px;
  float: left;
  vertical-align: middle;
  margin-right: 10px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px); }

main {
  overflow: hidden; }

main > header {
  -webkit-transition: padding 0.25s;
  transition: padding 0.25s;
  padding: 7.5rem 0 2rem 0;
  position: relative; }
  main > header.triangle::after {
    content: "";
    position: absolute;
    left: -10rem;
    right: -10rem;
    bottom: -10rem;
    background-color: #f6f9fc;
    height: 20rem;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    z-index: -1; }
  main > header.smaller {
    padding-top: 5.5rem; }

main > section {
  padding: 4rem 0;
  position: relative; }
  main > section + section:not(.bg-light-1) {
    border-top: 2px solid #eee; }

img {
  max-width: 100%; }

::selection {
  background-color: #e9edf1; }

.page-enter-active, .page-leave-active {
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s; }

.page-leave-to, .page-enter {
  opacity: 0; }

.page-home header .navbar .nav-link, .page-home header .navbar .navbar-brand {
  color: #fff; }
  .page-home header .navbar .nav-link svg g, .page-home header .navbar .navbar-brand svg g {
    fill: #fff; }
  .page-home header .navbar .nav-link:hover, .page-home header .navbar .navbar-brand:hover {
    opacity: 0.75; }

header {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.75rem 0;
  -webkit-transition: 0.25s;
  transition: 0.25s; }
  header .navbar-brand {
    position: relative;
    z-index: 100; }
  header .nav-link {
    padding: 0 1.25rem !important;
    position: relative;
    z-index: 1; }
    header .nav-link.active {
      font-weight: bold; }
  header.smaller {
    font-size: 95%;
    padding: 0; }
    header.smaller nav {
      padding: 0; }
    header.smaller .nav-link {
      padding: 0.5rem 1rem !important; }
    header.smaller .nav-link.active::before {
      position: absolute;
      left: 100%;
      pointer-events: none;
      top: 0;
      content: "";
      width: 100vw;
      height: 100%;
      background-color: #fff;
      z-index: -1; }
    header.smaller .nav-link.active::after {
      position: absolute;
      right: 100%;
      pointer-events: none;
      top: 0;
      content: "";
      width: 100vw;
      height: 100%;
      background-color: #fff;
      z-index: -1; }
    header.smaller .navbar-brand {
      font-size: 1.05rem;
      padding: 0; }
      header.smaller .navbar-brand svg {
        height: 20px;
        width: 20px; }

footer {
  font-size: 90%; }
  footer .fa-external-link-alt {
    -webkit-transform: scale(0.9) translateX(-6px);
            transform: scale(0.9) translateX(-6px); }
  footer a {
    color: inherit; }
    footer a + a {
      margin-top: 0.5rem; }
    footer a:hover {
      color: #32325d;
      text-decoration: none; }
  footer .text-muted {
    opacity: 0.65; }
  footer h2.h5 {
    font-size: 95%;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase; }

.hero {
  padding-top: 10rem;
  padding-bottom: 7.5rem;
  margin-bottom: 5rem;
  color: #fff; }
  .hero p {
    max-width: 500px;
    color: #d9fcff;
    margin-top: 1.5rem; }
    .hero p a {
      color: #fff;
      font-weight: 500; }

.light .hero p a {
  color: #0c1215; }
  .light .hero p a.btn-outline-primary {
    color: #007bff; }
    .light .hero p a.btn-outline-primary:hover {
      color: #fff; }

.hero {
  position: relative; }
  .hero.home {
    background: linear-gradient(150deg, #4e30e2 15%, #05d5ff 80%, #a6ffcb 94%); }

section.dark {
  color: #fff;
  background-color: #263238; }
  section.dark .text-muted {
    color: rgba(255, 255, 255, 0.75) !important; }

.dark-1 {
  background: #32325d;
  color: #9cdbff; }

.dark-2 {
  background: #3b3c74;
  color: #9cdbff; }

.right-drawings {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  overflow: hidden;
  padding-bottom: 20px; }

.app-illustrations {
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  pointer-events: none;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 1287px;
  margin-left: -644px;
  -webkit-transform: scale(0.5) translateX(50px);
          transform: scale(0.5) translateX(50px);
  -webkit-transform-origin: 50% 20%;
          transform-origin: 50% 20%; }
  .app-illustrations div {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    border-radius: 38px;
    background: #fff;
    -webkit-box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
            box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05); }

.app-illustrations .tablet-landscape {
  width: 512px;
  height: 352px;
  margin: 115px 50px 0; }

.app-illustrations .phone-big {
  display: none; }

.app-illustrations .phone-small {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
          order: -1;
  width: 225px;
  height: 467px; }

.app-illustrations .tablet-portrait {
  width: 450px;
  height: 675px;
  margin-top: 115px; }

@media (min-width: 670px) {
  .right-drawings {
    top: 215px; }
  .app-illustrations {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 512px;
    margin-left: -50px;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0; }
  .app-illustrations [class^=tablet] {
    margin: 0; }
  .app-illustrations .tablet-landscape {
    width: 512px;
    height: 352px; }
  .app-illustrations .phone-small {
    width: 225px;
    height: 467px;
    margin: 0 0 50px 176px; }
  .app-illustrations .tablet-portrait {
    display: none; } }

@media (min-width: 880px) {
  .right-drawings {
    top: 300px; }
  .app-illustrations {
    width: 829px; }
  .app-illustrations .tablet-landscape {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-right: 50px; }
  .app-illustrations .phone-big {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    width: 267px;
    height: 553px; }
  .app-illustrations .phone-small {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
            order: 0;
    margin: 50px 50px 0 0; }
  .app-illustrations .tablet-portrait {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    width: 450px;
    height: 675px;
    margin-top: 50px; } }

@media (max-width: 1350px) {
  .app-illustrations .tablet-portrait {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    width: 250px;
    height: 375px;
    margin-top: 50px; } }

b, strong, .font-weight-bold {
  font-weight: 500; }

.globalFooterCard {
  -ms-flex: 1 1 100%;
  -webkit-box-flex: 1;
          flex: 1 1 100%;
  margin: 15px;
  z-index: 499;
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  overflow: hidden;
  padding: 30px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
          box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  -webkit-transition-property: color, background-color, -webkit-box-shadow, -webkit-transform;
  transition-property: color, background-color, -webkit-box-shadow, -webkit-transform;
  transition-property: color, background-color, box-shadow, transform;
  transition-property: color, background-color, box-shadow, transform, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-duration: .15s;
          transition-duration: .15s; }
  .globalFooterCard:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #aab7c4;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .15s;
    transition: opacity .15s; }
  .globalFooterCard .icon-image {
    position: absolute;
    width: 130px;
    height: 130px;
    left: -35px;
    top: calc(50% - 65px);
    display: none; }

@media (min-width: 670px) {
  .globalFooterCard {
    -ms-flex-preferred-size: 1%;
    flex-basis: 1%;
    padding-left: 100px; }
    .globalFooterCard .icon-image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

@media (min-width: 880px) {
  a.globalFooterCard,
  div.globalFooterCard {
    padding-left: 120px; } }

.dark body {
  background: #151d21;
  color: #ccc; }
  .dark body .dark-invert {
    -webkit-filter: invert(1);
            filter: invert(1); }
  .dark body .table td, .dark body .table th {
    border-color: #333; }
  .dark body #masthead.light {
    background: #0c1215; }
    .dark body #masthead.light .hero, .dark body #masthead.light .nav-link, .dark body #masthead.light .navbar-brand, .dark body #masthead.light .navbar-nav:last-child a {
      color: #fff; }
    .dark body #masthead.light .hero p {
      color: inherit; }
    .dark body #masthead.light .navbar .navbar-toggler svg, .dark body #masthead.light .navbar-brand svg g {
      fill: #fff; }
  .dark body .form-control, .dark body .card, .dark body .list-group-item {
    background: #0c1215;
    color: #fff;
    border-color: rgba(255, 255, 255, 0.1); }
  .dark body p a {
    color: yellow !important; }
  .dark body .bg-white, .dark body .breaker:before, .dark body .globalFooterCard, .dark body .darkgray {
    background: #151d21 !important; }
  .dark body #masthead .darkgray {
    background: #263238 !important; }
  .dark body .gray, .dark body .gray-slanted:before {
    background: #263238; }
  .dark body .press-section img, .dark body img[alt="BW Disrupt"] {
    -webkit-filter: invert(1);
            filter: invert(1); }
  .dark body section.gray:first-child {
    background: #0c1215 !important; }
  .dark body #colophon a:hover, .dark body #colophon a:active, .dark body #colophon a:focus {
    color: #fff; }
  .dark body #colophon .darkgray .btn-light {
    color: #ddd !important; }
    .dark body #colophon .darkgray .btn-light:hover, .dark body #colophon .darkgray .btn-light:active, .dark body #colophon .darkgray .btn-light:focus {
      background: rgba(255, 255, 255, 0.1);
      color: #fff !important; }
  .dark body #masthead {
    background: #0f171b; }
    .dark body #masthead .btn-light {
      background: none;
      border-color: yellow;
      color: yellow; }
    .dark body #masthead .btn-light {
      background: none;
      color: inherit; }
    .dark body #masthead .hero, .dark body #masthead p {
      color: inherit; }
    .dark body #masthead .darkgray h2 {
      color: #909cab; }
  .dark body .globalFooterCard {
    -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.25);
            box-shadow: 0 5px 35px rgba(0, 0, 0, 0.25); }
  .dark body .subheading, .dark body a.btn {
    color: #007bff; }
    .dark body .subheading.btn-primary, .dark body a.btn.btn-primary {
      color: #fff; }
    .dark body .subheading.btn-secondary, .dark body a.btn.btn-secondary {
      background: #000;
      border-color: #222; }
  .dark body .app-illustrations div {
    background: #000;
    -webkit-box-shadow: inset 0 4px 7px 1px #000, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
            box-shadow: inset 0 4px 7px 1px #000, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05); }
