@import url("https://oswaldlabs.com/stylesheets/fonts-b9c9ba49.css");
body {
  font-size: 105%;
  padding-top: 5rem;
  color: #4b5f79; }

p:last-child {
  margin-bottom: 0; }

nav {
  font-size: 95%; }

h1 {
  font-weight: 300; }

h2 {
  font-weight: 400; }

.subheading {
  text-transform: uppercase;
  font-size: 110%;
  margin-bottom: 1rem;
  color: #6b7c93;
  font-weight: 400;
  letter-spacing: 2px; }

.bg-light-1 {
  background-color: #f6f9fc; }

.bg-light-2 {
  background-color: #e9edf1; }

.navbar-brand svg {
  width: 25px;
  height: 25px;
  float: left;
  vertical-align: middle;
  margin-right: 10px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px); }

main {
  overflow: hidden; }

main > header {
  -webkit-transition: padding 0.25s;
  transition: padding 0.25s;
  padding: 7.5rem 0 2rem 0;
  position: relative; }
  main > header.triangle::after {
    content: "";
    position: absolute;
    left: -10rem;
    right: -10rem;
    bottom: -10rem;
    background-color: #f6f9fc;
    height: 20rem;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    z-index: -1; }
  main > header.smaller {
    padding-top: 5.5rem; }

main > section {
  padding: 4rem 0;
  position: relative; }
  main > section + section:not(.bg-light-1) {
    border-top: 2px solid #eee; }

img {
  max-width: 100%; }

::selection {
  background-color: #e9edf1; }

.page-enter-active, .page-leave-active {
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s; }

.page-leave-to, .page-enter {
  opacity: 0; }

header {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.75rem 0;
  -webkit-transition: 0.25s;
  transition: 0.25s; }
  header .navbar-brand {
    position: relative;
    z-index: 100; }
  header .nav-link {
    padding: 0 1rem !important;
    position: relative;
    z-index: 1; }
    header .nav-link.nuxt-link-active {
      font-weight: bold; }
  header.smaller {
    font-size: 95%;
    padding: 0; }
    header.smaller nav {
      padding: 0; }
    header.smaller .nav-link {
      padding: 0.5rem 1rem !important; }
    header.smaller .nav-link.nuxt-link-active::before {
      position: absolute;
      left: 100%;
      pointer-events: none;
      top: 0;
      content: "";
      width: 100vw;
      height: 100%;
      background-color: #fff;
      z-index: -1; }
    header.smaller .nav-link.nuxt-link-active::after {
      position: absolute;
      right: 100%;
      pointer-events: none;
      top: 0;
      content: "";
      width: 100vw;
      height: 100%;
      background-color: #fff;
      z-index: -1; }
    header.smaller .navbar-brand {
      font-size: 1.05rem;
      padding: 0; }
      header.smaller .navbar-brand svg {
        height: 20px;
        width: 20px; }

footer {
  font-size: 90%; }
  footer a {
    color: inherit; }
    footer a + a {
      margin-top: 0.5rem; }
    footer a:hover {
      color: #32325d;
      text-decoration: none; }
  footer .text-muted {
    opacity: 0.65; }
  footer h2.h5 {
    font-size: 95%;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase; }

.hero {
  position: relative; }
  .hero.home {
    background: linear-gradient(150deg, #4e30e2 15%, #05d5ff 80%, #a6ffcb 94%); }
