{{ define "main" }}
{{ partial "subnav.html" . }}
{{ .Content }}
{{ if eq .Section "news" }}
    {{ partial "section/news.html" . }}
{{ end }}
{{ if eq .Section "policies" }}
    {{ partial "section/policies.html" . }}
{{ end }}
{{ if eq .Section "values" }}
{{ partial "section/values.html" . }}
{{ end }}
{{ if eq .Params.Subtype "logos" }}
{{ partial "section/logos.html" . }}
{{ else if eq .Section "press" }}
{{ partial "section/press.html" . }}
{{ end }}
{{ if eq .URL "/accelerator/events/" }}
{{ partial "section/events.html" . }}
{{ end }}
{{ if eq .URL "/accelerator/partners/" }}
{{ partial "section/partners.html" . }}
{{ end }}
{{ if .Params.Subtype }}
{{ if eq .Params.Subtype "spaces" }}
{{ partial "section/spaces.html" . }}
{{ end }}
{{ if eq .Params.Subtype "startups" }}
{{ partial "section/startups.html" . }}
{{ end }}
{{ if eq .Params.Subtype "publications" }}
{{ partial "section/publications.html" . }}
{{ end }}
{{ if eq .Params.Subtype "shravan_apps" }}
{{ partial "section/shravan_apps.html" . }}
{{ end }}
{{ end }}
{{ partial "subfooter.html" . }}
{{ end }}