{{ define "main" }}
{{ partial "subnav.html" . }}
{{ .Content }}
{{ if eq .Section "news" }}
<section>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7">
            {{ range .Paginator.Pages }}
                <article>
                    <h2><a class="list-heading" href="{{ .Permalink }}">{{ .Title }}</a></h2>
                    <p class="text-muted">Posted on <time datetime="{{ .Date.Format "2006-01-01" }}">{{ .Date.Format "January 2, 2006" }}</time></p>
                    <p>{{ .Summary }}</p>
                    <p><a href="{{ .Permalink }}">Continue reading &rarr;</a></p>
                </article>
            {{ end }}
            {{ template "_internal/pagination.html" . }}
        </div>
    </div>
</div>
</section>
{{ end }}
{{ if eq .Section "policies" }}
<section>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7">
            {{ range .Pages }}
                <article>
                    <h2><a class="list-heading" href="{{ .Permalink }}">{{ .Title }}</a></h2>
                </article>
            {{ end }}
        </div>
    </div>
</div>
</section>
{{ end }}
{{ if eq .Section "values" }}
<section>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7">
            {{ range .Pages }}
                <article>
                    <h2><a class="list-heading" href="{{ .Permalink }}">{{ .Title }}</a></h2>
                </article>
            {{ end }}
        </div>
    </div>
</div>
</section>
{{ end }}
{{ if eq .Section "press" }}
<section class="pt-0">
    <div class="container mt-5">
        <div class="row">
            {{ range .Pages }}
            {{ if .Params.Quote }}
            <div class="col-md-4 mb-med">
                <a class="card card-body" href="{{ .Permalink }}">
                    <div class="mb-4">&ldquo;{{ .Params.Quote }}&rdquo;</div>
                    <div class="d-flex flex-row align-items-center">
                        <div class="w-20 mr-3">
                            <img alt="" class="rounded-circle" src="https://logo.clearbit.com/{{ .Params.Domain }}">
                        </div>
                        <div>
                            <div><strong>{{ .Title }}</strong></div>
                            <div>{{ .Date.Format "January 2, 2006" }}</div>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
            {{ end }}
        </div>
        <div class="row">
            {{ range .Pages }}
            {{ if not .Params.Quote }}
            <div class="col-md-4 mb-med">
                <a class="card card-body d-flex flex-row align-items-center" href="{{ .Permalink }}">
                    <div class="w-20 mr-3">
                        <img alt="" class="rounded-circle" src="https://logo.clearbit.com/{{ .Params.Domain }}">
                    </div>
                    <div>
                        <div><strong>{{ .Title }}</strong></div>
                        <div>{{ .Date.Format "January 2, 2006" }}</div>
                    </div>
                </a>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ if .Params.Subtype }}
{{ if eq .Params.Subtype "partners" }}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="subheading-3">Program partners</h2>
                <p>We’ve partnered with the most innovative companies across the globe to bring you the best advice, mentorship, services, resources, and investments — all for free.</p>
            </div>
        </div>
        <div class="row pt-5">
            {{ range .Pages }}
            {{ if .Params.Quote }}
            <div class="col-md-4 d-flex align-items-stretch mb-med">
                <a class="card" href="{{ .Permalink }}">
                    <div class="image card-bg-image">
                        {{ if .Params.Image }}
                        <img alt="" src="{{ .Params.Image }}">
                        {{ else }}
                        <h2>{{ .Title }}</h2>
                        {{ end }}
                    </div>
                    <div class="card-body">
                        <p>{{ .Params.Quote }}</p>
                    </div>
                </a>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
<section class="pt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="subheading-3">Event partners</h2>
                <p>We’ve partnered with the most innovative companies across the globe to bring you the best advice, mentorship, services, resources, and investments — all for free.</p>
            </div>
        </div>
        <div class="row pt-5">
            {{ range .Pages }}
            {{ if not .Params.Quote }}
            <div class="col-md-4 mb-med">
                <a class="card card-body d-flex flex-row align-items-center" href="{{ .Permalink }}">
                    <div class="w-20 mr-3">
                        {{ if .Params.Image }}
                        <img alt="" class="rounded-circle" src="{{ .Params.Image }}">
                        {{ else }}
                        <img alt="" class="rounded-circle" src="https://logo.clearbit.com/{{ .Params.Domain }}">
                        {{ end }}
                    </div>
                    <div>
                        <div><strong>{{ .Title }}</strong></div>
                        <div>{{ .Params.Category }}</div>
                    </div>
                </a>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ if eq .Params.Subtype "spaces" }}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="subheading-3">Program partners</h2>
                <p>We’ve partnered with the most innovative companies across the globe to bring you the best advice, mentorship, services, resources, and investments — all for free.</p>
            </div>
        </div>
        <div class="row pt-5">
             {{ range .Pages }}
            <div class="col-md-4 d-flex align-items-stretch mb-med">
                <a class="card" href="{{ .Permalink }}">
                    <img class="card-img-top" alt="" src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&center={{ if .Params.Address_1 }}{{ .Params.Address_1 }}{{ end }}+{{ if .Params.Address_2 }}{{ .Params.Address_2 }}{{ end }}+{{ if .Params.Address_3 }}{{ .Params.Address_3 }}{{ end }}+&key=AIzaSyCuiZevIb1G87KAoLRSECEdWNBQ06JCMjU">
                    <div class="card-body">
                        <h2 class="subheading">{{ .Title }}</h2>
                        {{ if .Params.Address_1 }}<div>{{ .Params.Address_1 }}</div>{{ end }}
                        {{ if .Params.Address_2 }}<div>{{ .Params.Address_2 }}</div>{{ end }}
                        {{ if .Params.Address_3 }}<div>{{ .Params.Address_3 }}</div>{{ end }}
                    </div>
                </a>
            </div>
            {{ end }}
            <div class="col-md-4 d-flex align-items-stretch mb-med">
                <div class="card text-center">
                    <div class="card-body d-flex align-items-center justify-content-center flex-column">
                        <div>
                            <div>
                                <i class="fas fa-map-marked-alt fa-3x mb-4 text-muted"></i>
                            </div>
                            <h2 class="subheading">More coming soon</h2>
                            <p>We're constantly adding more partners and co-working spaces, stay tuned!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ if eq .Params.Subtype "events" }}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="subheading-3">Upcoming events</h2>
                <p>We’ve partnered with the most innovative companies across the globe to bring you the best advice, mentorship, services, resources, and investments — all for free.</p>
            </div>
        </div>
        <div class="row pt-5">
             {{ range .Pages }}
            <div class="col-md-4 d-flex align-items-stretch mb-med">
                <a class="card" href="{{ .Permalink }}">
                    <img class="card-img-top" alt="" src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&center={{ if .Params.Address_1 }}{{ .Params.Address_1 }}{{ end }}+{{ if .Params.Address_2 }}{{ .Params.Address_2 }}{{ end }}+{{ if .Params.Address_3 }}{{ .Params.Address_3 }}{{ end }}+&key=AIzaSyCuiZevIb1G87KAoLRSECEdWNBQ06JCMjU">
                    <div class="card-body">
                        <h2 class="subheading">{{ .Title }}</h2>
                        {{ if .Params.Address_1 }}<div>{{ .Params.Address_1 }}</div>{{ end }}
                        {{ if .Params.Address_2 }}<div>{{ .Params.Address_2 }}</div>{{ end }}
                        {{ if .Params.Address_3 }}<div>{{ .Params.Address_3 }}</div>{{ end }}
                    </div>
                </a>
            </div>
            {{ end }}
            <div class="col-md-4 d-flex align-items-stretch mb-med">
                <div class="card text-center">
                    <div class="card-body d-flex align-items-center justify-content-center flex-column">
                        <div>
                            <div>
                                <i class="fas fa-map-marked-alt fa-3x mb-4 text-muted"></i>
                            </div>
                            <h2 class="subheading">More coming soon</h2>
                            <p>We're constantly adding more partners and co-working spaces, stay tuned!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h2 class="subheading-3">Past events</h2>
                <p>We’ve partnered with the most innovative companies across the globe to bring you the best advice, mentorship, services, resources, and investments — all for free.</p>
            </div>
        </div>
        <div class="row pt-5">
             {{ range .Pages }}
            <div class="col-md-4 d-flex align-items-stretch mb-med">
                <a class="card" href="{{ .Permalink }}">
                    <img class="card-img-top" alt="" src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&center={{ if .Params.Address_1 }}{{ .Params.Address_1 }}{{ end }}+{{ if .Params.Address_2 }}{{ .Params.Address_2 }}{{ end }}+{{ if .Params.Address_3 }}{{ .Params.Address_3 }}{{ end }}+&key=AIzaSyCuiZevIb1G87KAoLRSECEdWNBQ06JCMjU">
                    <div class="card-body">
                        <h2 class="subheading">{{ .Title }}</h2>
                        {{ if .Params.Address_1 }}<div>{{ .Params.Address_1 }}</div>{{ end }}
                        {{ if .Params.Address_2 }}<div>{{ .Params.Address_2 }}</div>{{ end }}
                        {{ if .Params.Address_3 }}<div>{{ .Params.Address_3 }}</div>{{ end }}
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ if eq .Params.Subtype "startups" }}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="subheading-3">Startups</h2>
                <p>We’ve partnered with the most innovative companies across the globe to bring you the best advice, mentorship, services, resources, and investments — all for free.</p>
            </div>
        </div>
        <div class="row pt-5">
             {{ range .Pages }}
            <div class="col-md-4 d-flex align-items-stretch mb-med">
                <a class="card" href="{{ .Permalink }}">
                    <div class="image card-bg-image">
                        {{ if .Params.Image }}
                        <img alt="" src="{{ .Params.Image }}">
                        {{ else }}
                        <h2>{{ .Title }}</h2>
                        {{ end }}
                    </div>
                    <div class="card-body">
                        <h2 class="subheading">{{ .Title }}</h2>
                        {{ if .Params.Address_1 }}<div>{{ .Params.Address_1 }}</div>{{ end }}
                        {{ if .Params.Address_2 }}<div>{{ .Params.Address_2 }}</div>{{ end }}
                        {{ if .Params.Address_3 }}<div>{{ .Params.Address_3 }}</div>{{ end }}
                    </div>
                </a>
            </div>
            {{ end }}
            <div class="col-md-4 d-flex align-items-stretch mb-med">
                <a href="#" class="card text-center">
                    <div class="card-body d-flex align-items-center justify-content-center flex-column">
                        <div>
                            <div>
                                <i class="fas fa-chevron-circle-right fa-3x mb-4 text-muted"></i>
                            </div>
                            <h2 class="subheading">Apply</h2>
                            <p>Apply to our upcoming batch to become one of our portfolio startups.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ if eq .Params.Subtype "publications" }}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="subheading-3">Articles</h2>
                <p>We’ve partnered with the most innovative companies across the globe to bring you the best advice, mentorship, services, resources, and investments — all for free.</p>
            </div>
        </div>
        <div class="row pt-5">
             {{ range .Pages }}
            <div class="col-md-4 d-flex align-items-stretch mb-med">
                <a class="card w-100" href="{{ .Permalink }}">
                    <div class="card-body">
                        <h2>{{ .Title }}</h2>
                        <div>{{ .Params.Subtitle }}</div>
                        <div>{{ .Params.Author }}</div>
                    </div>
                </a>
            </div>
            {{ end }}
            <div class="col-md-4 d-flex align-items-stretch mb-med">
                <div class="card text-center">
                    <div class="card-body d-flex align-items-center justify-content-center flex-column">
                        <div>
                            <div>
                                <i class="fas fa-book-open fa-3x mb-4 text-muted"></i>
                            </div>
                            <h2 class="subheading">More coming soon</h2>
                            <p>We're constantly adding more partners and co-working spaces, stay tuned!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ partial "subfooter.html" . }}
{{ end }}