{{ define "main" }}
{{ partial "subnav.html" . }}
{{ if eq .Section "news" }}
	{{ partial "single/news.html" . }}
{{ else if eq .Params.Subtype "logos" }}
	{{ partial "single/logos.html" . }}
{{ else if eq .Section "press" }}
	{{ partial "single/press.html" . }}
{{ else if eq .Section "policies" }}
	{{ partial "single/policies.html" . }}
{{ else if eq .Section "events" }}
	{{ partial "single/events.html" . }}
{{ else if eq .Section "values" }}
	{{ partial "single/values.html" . }}
{{ else if eq .Section "team" }}
	{{ partial "single/team.html" . }}
{{ else if .Params.Subtype }}
{{ if eq .Params.Subtype "publications" }}
	{{ partial "single/publications.html" . }}
{{ else if eq .Params.Subtype "events" }}
	{{ partial "single/events.html" . }}
{{ else if eq .Params.Subtype "agastya_features" }}
	{{ partial "single/agastya_features.html" . }}
{{ else if eq .Params.Subtype "agastya_case_studies" }}
	{{ partial "single/agastya_case_studies.html" . }}
{{ else if eq .Params.Subtype "accelerator_partners" }}
	{{ partial "single/accelerator_partners.html" . }}
{{ else if eq .Params.Subtype "shravan_apps" }}
	{{ partial "single/shravan_apps.html" . }}
{{ end }}
{{ else }}
{{ .Content }}
{{ end }}
{{ partial "subfooter.html" . }}
{{ end }}