{{ define "main" }}
{{ partial "subnav.html" . }}
{{ if eq .Section "news" }}
<section class="hero pb-5 text-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7">
				<h1>{{ .Title }}</h1>
				<div class="mt-4">Posted on <a href="{{ .Permalink }}">{{ .Date.Format "January 2, 2006" }}</a></div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7">
				<div class="content">
					{{ .Content }}
				</div>
				<div class="sharer d-flex justify-content-end mt-5">
					<div>
						<span>Share</span>
						<a target="_blank" rel="noopener noreferrer" title="Twitter" href="https://twitter.com/intent/tweet?text={{ .Permalink }}"><i class="fab fa-twitter"></i></a>
						<a target="_blank" rel="noopener noreferrer" title="Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"><i class="fab fa-facebook"></i></a>
						<a target="_blank" rel="noopener noreferrer" title="LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}"><i class="fab fa-linkedin"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{ else if eq .Section "policies" }}
<section class="hero pb-5 text-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7">
				<h1>{{ .Title }}</h1>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7">
				{{ .Content }}
			</div>
		</div>
	</div>
</section>
{{ else }}
{{ .Content }}
{{ end }}
{{ partial "subfooter.html" . }}
{{ end }}