{{ define "main" }}
{{ partial "subnav.html" . }}
{{ if eq .Section "news" }}
<section class="hero pb-5 text-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7">
				<h1>{{ .Title }}</h1>
				<div class="mt-4">Posted on <a href="{{ .Permalink }}">{{ .Date.Format "January 2, 2006" }}</a></div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7">
				<div class="content">
					{{ .Content }}
				</div>
				<div class="sharer d-flex justify-content-end mt-5">
					<div>
						<span>Share</span>
						<a target="_blank" rel="noopener noreferrer" title="Twitter" href="https://twitter.com/intent/tweet?text={{ .Permalink }}"><i class="fab fa-twitter"></i></a>
						<a target="_blank" rel="noopener noreferrer" title="Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"><i class="fab fa-facebook"></i></a>
						<a target="_blank" rel="noopener noreferrer" title="LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}"><i class="fab fa-linkedin"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{ else if eq .Section "policies" }}
<section class="no-header">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7">
				<h1 class="text-center mb-5">{{ .Title }}</h1>
				<div class="content">{{ .Content }}</div>
			</div>
		</div>
	</div>
</section>
{{ else if eq .Section "team" }}
<section class="hero pb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>Team</h1>
				<p>Oswald Labs is an innovative, young company of 10+ motivated individuals with a mission to make technology accessible to everyone. We’re based out of India and the Netherlands.</p>
			</div>
		</div>
	</div>
</section>
<section class="no-header">
	<div class="container" itemscope itemtype="http://schema.org/Person">
		<div class="row justify-content-center">
			<div class="col-md-3">
				{{ if .Params.Image }}
					<img class="rounded-circle w-50" alt="" src="{{ .Params.Image }}" itemprop="image">
				{{ end }}
				<h1 class="h5 mb-0" itemprop="name">{{ .Title }}</h1>
				{{ if .Params.Position }}
					<div itemprop="jobTitle">{{ .Params.Position }}</div>
				{{ end }}
				{{ if .Params.City }}
					<div class="mt-3">
						<i class="fas fa-map-marker-alt mr-2 fa-fw"></i>
						<span itemprop="homeLocation">{{ .Params.City }}</span>
					</div>
				{{ end }}
				<nav class="social mt-4">
					{{ if .Params.Email }}<div>
						<a href="mailto:{{ .Params.Email }}">
							<i class="fas fa-envelope fa-fw mr-2"></i>
							<span itemprop="email">{{ .Params.Email }}</span>
						</a>
					</div>{{ end }}
					{{ if .Params.Website }}<div>
						<a href="https://{{ .Params.Website }}" itemprop="sameAs">
							<i class="fas fa-globe fa-fw mr-2"></i>
							<span>{{ .Params.Website }}</span>
						</a>
					</div>{{ end }}
					{{ if .Params.Linkedin }}<div>
						<a href="{{ .Params.Linkedin }}" itemprop="sameAs">
							<i class="fab fa-linkedin fa-fw mr-2"></i>
							<span>LinkedIn</span>
						</a>
					</div>{{ end }}
					{{ if .Params.Facebook }}<div>
						<a href="{{ .Params.Facebook }}" itemprop="sameAs">
							<i class="fab fa-facebook fa-fw mr-2"></i>
							<span>Facebook</span>
						</a>
					</div>{{ end }}
					{{ if .Params.Twitter }}<div>
						<a href="{{ .Params.Twitter }}" itemprop="sameAs">
							<i class="fab fa-twitter fa-fw mr-2"></i>
							<span>Twitter</span>
						</a>
					</div>{{ end }}
					{{ if .Params.Github }}<div>
						<a href="{{ .Params.Github }}" itemprop="sameAs">
							<i class="fab fa-github fa-fw mr-2"></i>
							<span>GitHub</span>
						</a>
					</div>{{ end }}
					{{ if .Params.Instagram }}<div>
						<a href="{{ .Params.Instagram }}" itemprop="sameAs">
							<i class="fab fa-instagram fa-fw mr-2"></i>
							<span>Instagram</span>
						</a>
					</div>{{ end }}
				</nav>
			</div>
			<div class="col-md-6">
				<div class="content">{{ .Content }}</div>
			</div>
		</div>
	</div>
</section>
{{ else }}
{{ .Content }}
{{ end }}
{{ partial "subfooter.html" . }}
{{ end }}