<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="subheading-3">Upcoming events</h2>
                <p>We’ve partnered with the most innovative companies across the globe to bring you the best advice, mentorship, services, resources, and investments — all for free.</p>
            </div>
        </div>
        <div class="row pt-5">
             {{ range .Pages }}
            <div class="col-md-4 d-flex align-items-stretch mb-med">
                <a class="card" href="{{ .Permalink }}">
                    <img alt="The location of {{ .Title }} from Google Maps" class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&center={{ if .Params.Address_1 }}{{ .Params.Address_1 }}{{ end }}+{{ if .Params.Address_2 }}{{ .Params.Address_2 }}{{ end }}+{{ if .Params.Address_3 }}{{ .Params.Address_3 }}{{ end }}+&key=AIzaSyCuiZevIb1G87KAoLRSECEdWNBQ06JCMjU">
                    <div class="card-body">
                        <h2 class="subheading">{{ .Title }}</h2>
                        {{ if .Params.Address_1 }}<div>{{ .Params.Address_1 }}</div>{{ end }}
                        {{ if .Params.Address_2 }}<div>{{ .Params.Address_2 }}</div>{{ end }}
                        {{ if .Params.Address_3 }}<div>{{ .Params.Address_3 }}</div>{{ end }}
                    </div>
                </a>
            </div>
            {{ end }}
            <div class="col-md-4 d-flex align-items-stretch mb-med">
                <div class="card text-center">
                    <div class="card-body d-flex align-items-center justify-content-center flex-column">
                        <div>
                            <div>
                                <i class="fas fa-map-marked-alt fa-3x mb-4 text-muted"></i>
                            </div>
                            <h2 class="subheading">More coming soon</h2>
                            <p>We're constantly adding more partners and co-working spaces, stay tuned!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h2 class="subheading-3">Past events</h2>
                <p>We’ve partnered with the most innovative companies across the globe to bring you the best advice, mentorship, services, resources, and investments — all for free.</p>
            </div>
        </div>
        <div class="row pt-5">
             {{ range .Pages }}
            <div class="col-md-4 d-flex align-items-stretch mb-med">
                <a class="card" href="{{ .Permalink }}">
                    <img alt="The location of {{ .Title }} from Google Maps" class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&center={{ if .Params.Address_1 }}{{ .Params.Address_1 }}{{ end }}+{{ if .Params.Address_2 }}{{ .Params.Address_2 }}{{ end }}+{{ if .Params.Address_3 }}{{ .Params.Address_3 }}{{ end }}+&key=AIzaSyCuiZevIb1G87KAoLRSECEdWNBQ06JCMjU">
                    <div class="card-body">
                        <h2 class="subheading">{{ .Title }}</h2>
                        {{ if .Params.Address_1 }}<div>{{ .Params.Address_1 }}</div>{{ end }}
                        {{ if .Params.Address_2 }}<div>{{ .Params.Address_2 }}</div>{{ end }}
                        {{ if .Params.Address_3 }}<div>{{ .Params.Address_3 }}</div>{{ end }}
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>