<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>The following is a list of events that we have sponsors, organized, or participated in. Click on any of them to learn more about our role or to join them.</p>
            </div>
        </div>
        <div class="row pt-5">
             {{ range .Pages }}
            <div class="col-md-4 d-flex align-items-stretch mb-med">
                <a class="card" href="{{ .Permalink }}">
                    <img alt="Photo for {{ .Title }} event" src="{{ .Params.Image }}">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3 text-center">
                                <div class="display-n text-danger">{{ .Date.Format "02" }}</div>
                                <div>{{ .Date.Format "Jan" }}</div>
                                <div>{{ .Date.Format "2006" }}</div>
                            </div>
                            <div class="col-9">
                                <h2 class="subheading mt-2 mb-2">{{ .Title }}</h2>
                                {{ if .Params.Category }}<div>{{ .Params.Category }}</div>{{ end }}
                                <div>{{ .Params.addressLocality }}, {{ .Params.addressCountry }}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
            <div class="col-md-4 d-flex align-items-stretch mb-med">
                <div class="card text-center">
                    <div class="card-body d-flex align-items-center justify-content-center flex-column">
                        <div>
                            <div>
                                <i class="fas fa-calendar-week fa-3x mb-4 text-muted"></i>
                            </div>
                            <h2 class="subheading">More coming soon</h2>
                            <p>We're constantly working on organizing great new events, so stay tuned!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>