<section class="pt-0">
    <div class="container mt-5">
        <div class="row logos">
            {{ range .Pages }}
            <div class="col-md-4 mb-med">
                <a class="card card-body p-4" href="{{ .Permalink }}">
                    <div>
                        <img src="{{ .Params.Thumbnail }}">
                    </div>
                    <h2 class="h5 mb-2 mt-3">{{ .Title }}</h2>
                    <div class="mb-2">{{ .Params.Info }}</div>
                    <div class="text-muted small">{{ .Params.License }}</div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>