{{ if eq .URL "/press/brand-guidelines/" }}
{{ else }}
<section class="pt-0">
    <div class="container mt-5">
        <div class="row">
            {{ range .Pages }}
            {{ if .Params.Quote }}
            <div class="col-md-4 mb-med">
                <a class="card card-body" href="{{ .Permalink }}">
                    <div class="mb-4">&ldquo;{{ .Params.Quote }}&rdquo;</div>
                    <div class="d-flex flex-row align-items-center">
                        <div class="w-20 mr-3">
                            <img class="rounded-circle" alt="{{ .Title }} logo" src="/images/logos/{{ .File.TranslationBaseName }}.png">
                        </div>
                        <div>
                            <div><strong>{{ .Title }}</strong></div>
                            <div>{{ .Date.Format "January 2, 2006" }}</div>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
            {{ end }}
        </div>
        <div class="row">
            {{ range .Pages }}
            {{ if not .Params.Quote }}
            <div class="col-md-4 mb-med">
                <a class="card card-body d-flex flex-row align-items-center" href="{{ .Permalink }}">
                    <div class="w-20 mr-3">
                        <img class="rounded-circle" alt="{{ .Title }} logo" src="/images/logos/{{ .File.TranslationBaseName }}.png">
                    </div>
                    <div>
                        <div><strong>{{ .Title }}</strong></div>
                        <div>{{ .Date.Format "January 2, 2006" }}</div>
                    </div>
                </a>
            </div>
            {{ end }}
            {{ end }}
            {{ range $.Site.Data.news }}
                <div class="col-md-4 mb-med">
                    <a class="card card-body d-flex flex-row align-items-center" href="{{ .url }}">
                        <div class="w-20 mr-3">
                            <img class="rounded-circle ignore-image" alt="{{ .Title }} logo" src="/images/logos/{{ .icon }}.png">
                        </div>
                        <div>
                            <div><strong>{{ .publisher }}</strong></div>
                            <div>{{ .date }}</div>
                        </div>
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}