<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="subheading-3">Partner workspaces</h2>
                <p>We’ve partnered with co-working spaces and private offices to help our startups and research teams save time and money when deciding on a workspace.</p>
            </div>
        </div>
        <div class="row pt-5">
             {{ range .Pages }}
            <div class="col-md-4 d-flex align-items-stretch mb-med">
                <a class="card" href="{{ .Permalink }}">
                    <img alt="The location of {{ .Title }} from Google Maps" class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&center={{ .Params.streetAddress }}, {{ .Params.addressLocality }}, {{ .Params.addressRegion }}, {{ .Params.postalCode }}, {{ .Params.addressCountry }}, +&key=AIzaSyCuiZevIb1G87KAoLRSECEdWNBQ06JCMjU">
                    <div class="card-body">
                        <h2 class="subheading">{{ .Title }}</h2>
                        <div>{{ .Params.streetAddress }}, {{ .Params.addressLocality }}</div>
                        <div>{{ .Params.addressRegion }}, {{ .Params.postalCode }}</div>
                    </div>
                </a>
            </div>
            {{ end }}
            <div class="col-md-4 d-flex align-items-stretch mb-med">
                <div class="card text-center">
                    <div class="card-body d-flex align-items-center justify-content-center flex-column">
                        <div>
                            <div>
                                <i class="fas fa-map-marked-alt fa-3x mb-4 text-muted"></i>
                            </div>
                            <h2 class="subheading">More coming soon</h2>
                            <p>We're constantly adding more partners and co-working spaces, stay tuned!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>