<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                {{ range .Pages }}
                    <article>
                        <h2><a class="list-heading" href="{{ .Permalink }}">{{ .Title }}</a></h2>
                    </article>
                {{ end }}
                    <article>
                        <h2><a class="list-heading" href="/purpose/">Purpose</a></h2>
                    </article>
            </div>
        </div>
    </div>
</section>