{{ if eq .Type "agastya" }}
<script type="application/ld+json">
	{
		"@context": "http://schema.org/", 
		"@type": "Product", 
		"name": "Agastya",
		"url": "https://oswaldlabs.com/platform/agastya/",
		"image": "https://oswaldlabs.com/images/illustrations/agastya.png",
		"description": "Agastya makes your websites inclusive and accessible with just one line of code, a product by Oswald Labs, the award-winning accessibility technology company.",
		"brand": "Oswald Labs",
		"sku": "agastya",
		"mpn": "oswald-labs-agastya",
		"offers": {
			"@type": "Offer",
			"priceCurrency": "EUR",
			"price": "0",
			"priceValidUntil": "2020-12-31",
			"availability": "http://schema.org/InStock",
			"itemCondition": "http://schema.org/NewCondition"
		},
		"aggregateRating": {
			"@type": "AggregateRating",
			"ratingValue": "5",
			"bestRating": "5",
			"worstRating": "1",
			"ratingCount": "{{ partial "data/reviews-agastya.html" . }}",
			"reviewCount": "2"
		},
		"reviews": [{
			"@context": "http://schema.org/",
			"@type": "Review",
			"name": "Jaydeep Bhosale",
			"reviewBody": "The special thing of web site of Youth Ki Awaaz is that the people having learning disabilities can also read easily.",
			"reviewRating": {
			"@type": "Rating",
			"ratingValue": "5",
			"bestRating": "5",
			"worstRating": "1"
			},
			"datePublished": "2018-07-28",
			"author": {"@type": "Person", "name": "Jaydeep Bhosale"},
			"publisher": {"@type": "Organization", "name": "Twitter"}
		},{
			"@context": "http://schema.org/",
			"@type": "Review",
			"name": "Shelika Bhasin",
			"reviewBody": "Agastya is the best way for us to help our users. We use the Live Chat integration to give support in real-time and we've seen many users use accessibility features on our e-commerce website.",
			"reviewRating": {
			"@type": "Rating",
			"ratingValue": "5",
			"bestRating": "5",
			"worstRating": "1"
			},
			"datePublished": "2019-01-01",
			"author": {"@type": "Person", "name": "Shelika Bhasin"},
			"publisher": {"@type": "Organization", "name": "Oswald Labs"}
		}]
	}
</script>
{{ if ne .URL "/platform/agastya/register/" }}
<section class="press-section horizontal-scroll-parent pt-4 pb-4">
	<h2 class="sr-only">Clients</h2>
	<div class="container horizontal-scroll d-flex align-items-center justify-content-between">
		<a href="/platform/agastya/case-studies/provincie-limburg/" class="press-item" title="Provincie Limburg">
			<img alt="Provincie Limburg logo" src="/images/logos/provincie-limburg.png" style="height: 50px">
		</a>
		<a href="/platform/agastya/case-studies/cls-group/" class="press-item" title="CLS Group">
			<img alt="CLS Group logo" src="/images/logos/cls-group.png" style="height: 40px">
		</a>
		<a href="/platform/agastya/case-studies/el-nino/" class="press-item" title="El Niño">
			<img alt="El Niño logo" src="/images/logos/el-nino.png" style="height: 40px">
		</a>
		<a href="/platform/agastya/case-studies/youth-ki-awaaz/" class="press-item" title="Youth ki Awaaz">
			<img alt="Youth ki Awaaz logo" src="/images/logos/youth-ki-awaaz.png" style="height: 45px">
		</a>
		<a href="/platform/agastya/case-studies/melangebox/" class="press-item" title="Melangebox">
			<img alt="Melangebox logo" src="/images/logos/melangebox.png" style="height: 40px">
		</a>
	</div>
</section>
<section class="bg-light-1 text-md-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h2>It’s a no-brainer&mdash;get started now.</h2>
				<p class="mt-4 mb-4">Agastya by Oswald Labs is the world's first end-to-end web accessibility solution, and it helps thousands of users access information every month. Create a free account now to add it to your website.</p>
				<div>
					<a href="/platform/agastya/pricing/" class="btn btn-warning btn-lg">Get started for free &rarr;</a>
				</div>
			</div>
		</div>
	</div>
</section>
{{ end }}
<section class="p-0">
	<div class="bc-container pt-4 pb-4 container">
		<strong class="text-muted">You are here</strong>
		<ol class="bc" itemscope itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/">
					<span itemprop="name">Oswald Labs</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/platform/">
					<span itemprop="name">Platform</span></a>
				<meta itemprop="position" content="2">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/platform/agastya/">
					<span itemprop="name">Agastya</span></a>
				<meta itemprop="position" content="3">
			</li>
			{{ if .Params.Subtype }}
			{{ if eq .Params.Subtype "agastya_features" }}
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/platform/agastya/features/">
					<span itemprop="name">Features</span></a>
				<meta itemprop="position" content="4">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
					<span itemprop="name">{{ .Title }}</span></a>
				<meta itemprop="position" content="5">
			</li>
			{{ end }}
			{{ if eq .Params.Subtype "agastya_case_studies" }}
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/platform/agastya/case-studies/">
					<span itemprop="name">Case Studies</span></a>
				<meta itemprop="position" content="4">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
					<span itemprop="name">{{ .Title }}</span></a>
				<meta itemprop="position" content="5">
			</li>
			{{ end }}
			{{ else if ne .URL "/platform/agastya/" }}
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
					{{ if gt (len .Title) 25 }}
					<span itemprop="name">{{ substr .Title 0 -25 }}</span></a>
					{{ else }}
					<span itemprop="name">{{ .Title }}</span></a>
					{{ end }}
				<meta itemprop="position" content="4">
			</li>
			{{ end }}
		</ol>
	</div>
</section>
{{ end }}
{{ if eq .Type "shravan" }}
{{ if eq .Title "Augmenta11y" }}
<script type="application/ld+json">
	{
		"@context": "http://schema.org/", 
		"@type": "Product", 
		"name": "Augmenta11y",
		"url": "https://oswaldlabs.com/platform/shravan/apps/augmenta11y/",
		"image": "https://oswaldlabs.com/images/screenshots/augmenta11y.png",
		"description": "Augmenta11y is an Augmented Reality (AR) app that helps people with learning disabilities like dyslexia easily read signage, paper, and other material in the real world.",
		"brand": "Oswald Labs",
		"sku": "augmenta11y",
		"mpn": "oswald-labs-augmenta11y",
		"offers": {
			"@type": "Offer",
			"priceCurrency": "EUR",
			"price": "0",
			"priceValidUntil": "2020-12-31",
			"availability": "http://schema.org/InStock",
			"itemCondition": "http://schema.org/NewCondition"
		},
		"aggregateRating": {
			"@type": "AggregateRating",
			"ratingValue": "4.9",
			"bestRating": "5",
			"worstRating": "1",
			"ratingCount": "{{ partial "data/reviews-augmenta11y.html" . }}"
		}
	}
</script>
{{ end }}
<section class="p-0">
	<div class="bc-container pt-4 pb-4 container">
		<strong class="text-muted">You are here</strong>
		<ol class="bc" itemscope itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/">
					<span itemprop="name">Oswald Labs</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/platform/">
					<span itemprop="name">Platform</span></a>
				<meta itemprop="position" content="2">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/platform/shravan/">
					<span itemprop="name">Shravan</span></a>
				<meta itemprop="position" content="3">
			</li>
			{{ if .Params.Subtype }}
			{{ if eq .Params.Subtype "shravan_apps" }}
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/platform/shravan/apps/">
					<span itemprop="name">Apps</span></a>
				<meta itemprop="position" content="4">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
					<span itemprop="name">{{ .Title }}</span></a>
				<meta itemprop="position" content="5">
			</li>
			{{ end }}
			{{ else if ne .URL "/platform/shravan/" }}
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
					<span itemprop="name">{{ .Title }}</span></a>
				<meta itemprop="position" content="4">
			</li>
			{{ end }}
		</ol>
	</div>
</section>
{{ end }}
{{ if eq .Section "accelerator" }}
{{ if ne .URL "/accelerator/" }}
<section class="bg-light-1 text-md-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h2>All of this&mdash;all for free.</h2>
				<p class="mt-4 mb-4">Oswald Labs Accelerator is our way of giving back to the startup ecosystem. Apply now with your startup to get access to all of our resources, completely for free, with no strings attached.</p>
				<div>
					<a href="https://www.f6s.com/oswaldlabsaccelerator2018" class="btn btn-primary btn-lg">Apply to Oswald Labs Accelerator &rarr;</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="p-0">
	<div class="bc-container pt-4 pb-4 container">
		<strong class="text-muted">You are here</strong>
		<ol class="bc" itemscope itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/">
					<span itemprop="name">Oswald Labs</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/accelerator/">
					<span itemprop="name">Accelerator</span></a>
				<meta itemprop="position" content="2">
			</li>
			{{ if .Params.Subtype }}
				{{ if eq .Params.Subtype "accelerator_partners" }}
					<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a itemtype="http://schema.org/Thing" itemprop="item" href="/accelerator/partners/">
							<span itemprop="name">Partners</span></a>
						<meta itemprop="position" content="3">
					</li>
					<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
							<span itemprop="name">{{ .Title }}</span></a>
						<meta itemprop="position" content="4">
					</li>
				{{ else if eq .Params.Subtype "events" }}
					<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a itemtype="http://schema.org/Thing" itemprop="item" href="/accelerator/events/">
							<span itemprop="name">Events</span></a>
						<meta itemprop="position" content="3">
					</li>
					<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
							<span itemprop="name">{{ .Title }}</span></a>
						<meta itemprop="position" content="4">
					</li>
				{{ else if eq .Params.Subtype "startups" }}
					<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a itemtype="http://schema.org/Thing" itemprop="item" href="/accelerator/startups/">
							<span itemprop="name">Portfolio</span></a>
						<meta itemprop="position" content="3">
					</li>
					<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
							<span itemprop="name">{{ .Title }}</span></a>
						<meta itemprop="position" content="4">
					</li>
				{{ else if eq .Params.Subtype "spaces" }}
					<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a itemtype="http://schema.org/Thing" itemprop="item" href="/accelerator/spaces/">
							<span itemprop="name">Spaces</span></a>
						<meta itemprop="position" content="3">
					</li>
					<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
							<span itemprop="name">{{ .Title }}</span></a>
						<meta itemprop="position" content="4">
					</li>
				{{ else }}
					<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
							<span itemprop="name">{{ .Title }}</span></a>
						<meta itemprop="position" content="3">
					</li>
				{{ end }}
			{{ else if ne .URL "/accelerator/" }}
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
						<span itemprop="name">{{ .Title }}</span></a>
					<meta itemprop="position" content="3">
				</li>
			{{ end }}
		</ol>
	</div>
</section>
{{ end }}
{{ end }}
{{ if eq .Section "gdpr" }}
{{ if ne .URL "/gdpr/" }}
<section class="p-0">
	<div class="bc-container pt-4 pb-4 container">
		<strong class="text-muted">You are here</strong>
		<ol class="bc" itemscope itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/">
					<span itemprop="name">Oswald Labs</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/gdpr/">
					<span itemprop="name">GDPR Tools</span></a>
				<meta itemprop="position" content="2">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
					<span itemprop="name">{{ .Title }}</span>
				</a>
				<meta itemprop="position" content="3">
			</li>
		</ol>
	</div>
</section>
{{ end }}
{{ end }}
{{ if eq .Section "press" }}
{{ if ne .URL "/press/" }}
<section class="p-0">
	<div class="bc-container pt-4 pb-4 container">
		<strong class="text-muted">You are here</strong>
		<ol class="bc" itemscope itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/">
					<span itemprop="name">Oswald Labs</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/press/">
					<span itemprop="name">Press</span></a>
				<meta itemprop="position" content="2">
			</li>
			{{ if eq .Params.Subtype "logos" }}
			{{ if ne .URL "/press/logos/" }}
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/press/logos/">
					<span itemprop="name">Logos</span></a>
				<meta itemprop="position" content="3">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
					<span itemprop="name">{{ .Title }}</span>
				</a>
				<meta itemprop="position" content="4">
			</li>
			{{ end }}
			{{ else }}
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
					<span itemprop="name">{{ .Title }}</span>
				</a>
				<meta itemprop="position" content="3">
			</li>
			{{ end }}
		</ol>
	</div>
</section>
{{ end }}
{{ end }}
{{ if eq .Section "news" }}
{{ if ne .URL "/news/" }}
<section class="p-0">
	<div class="bc-container pt-4 pb-4 container">
		<strong class="text-muted">You are here</strong>
		<ol class="bc" itemscope itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/">
					<span itemprop="name">Oswald Labs</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/news/">
					<span itemprop="name">News</span></a>
				<meta itemprop="position" content="2">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
					<span itemprop="name">{{ .Title }}</span>
				</a>
				<meta itemprop="position" content="3">
			</li>
		</ol>
	</div>
</section>
{{ end }}
{{ end }}
{{ if eq .Section "team" }}
{{ if ne .URL "/team/" }}
<section class="p-0">
	<div class="bc-container pt-4 pb-4 container">
		<strong class="text-muted">You are here</strong>
		<ol class="bc" itemscope itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/">
					<span itemprop="name">Oswald Labs</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/team/">
					<span itemprop="name">Team</span></a>
				<meta itemprop="position" content="2">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
					<span itemprop="name">{{ .Title }}</span>
				</a>
				<meta itemprop="position" content="3">
			</li>
		</ol>
	</div>
</section>
{{ end }}
{{ end }}
{{ if eq .Section "research" }}
{{ if ne .URL "/research/" }}
<section class="p-0">
	<div class="bc-container pt-4 pb-4 container">
		<strong class="text-muted">You are here</strong>
		<ol class="bc" itemscope itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/">
					<span itemprop="name">Oswald Labs</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/research/">
					<span itemprop="name">Research</span></a>
				<meta itemprop="position" content="2">
			</li>
			{{ if eq .Params.Subtype "publications" }}
			{{ if ne .URL "/research/publications/" }}
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/research/publications/">
					<span itemprop="name">Publications</span></a>
				<meta itemprop="position" content="3">
			</li>
			{{ end }}
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
					<span itemprop="name">{{ .Title }}</span>
				</a>
				<meta itemprop="position" content="4">
			</li>
			{{ else }}
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
					<span itemprop="name">{{ .Title }}</span>
				</a>
				<meta itemprop="position" content="3">
			</li>
			{{ end }}
		</ol>
	</div>
</section>
{{ end }}
{{ end }}