{{ if eq .Type "agastya" }}
{{ if ne .URL "/platform/agastya/register/" }}
<section class="press-section pt-4 pb-4">
	<h2 class="sr-only">Clients</h2>
	<div class="container d-flex align-items-center justify-content-between">
		<a href="/platform/agastya/case-studies/forbes/" class="press-item" title="Forbes">
			<img alt="Forbes logo" src="/images/logos/forbes.svg" style="height: 25px">
		</a>
		<a href="/platform/agastya/case-studies/huffpost" class="press-item" title="HuffPost">
			<img alt="HuffPost logo" src="/images/logos/huffpost.svg" style="height: 20px">
		</a>
		<a href="/platform/agastya/case-studies/het-financieele-dagblad/" class="press-item" title="Het Financieele Dagblad">
			<img alt="Het Financieele Dagblad logo" src="/images/logos/fd.svg" style="height: 40px">
		</a>
		<a href="/platform/agastya/case-studies/bw-disrupt/" class="press-item" title="BW Disrupt">
			<img alt="BW Disrupt logo" src="/images/logos/bw-disrupt.svg" style="height: 27px">
		</a>
		<a href="/platform/agastya/case-studies/hindustan-times/" class="press-item" title="Hindustan Times">
			<img alt="Hindustan Times logo" src="/images/logos/hindustan-times.svg" style="height: 22px">
		</a>
		<a href="/platform/agastya/case-studies/yourstory/" class="press-item" title="YourStory">
			<img alt="YourStory logo" src="/images/logos/yourstory.svg" style="height: 45px">
		</a>
	</div>
</section>
<section class="bg-light-1 text-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h2>It’s a no-brainer&mdash;get started now.</h2>
				<p class="mt-4 mb-4">Agastya by Oswald Labs is the world's first end-to-end web accessibility solution, and it helps thousands of users access information every month. Create a free account now to add it to your website.</p>
				<div>
					<a href="/platform/agastya/pricing/" class="btn btn-warning btn-lg">Get started for free &rarr;</a>
				</div>
			</div>
		</div>
	</div>
</section>
{{ end }}
<section class="pt-4 pb-4">
	<div class="container">
		<strong class="text-muted">You are here</strong>
		<ol class="bc" itemscope itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/">
					<span itemprop="name">Oswald Labs</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/platform/">
					<span itemprop="name">Platform</span></a>
				<meta itemprop="position" content="2">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/platform/agastya/">
					<span itemprop="name">Agastya</span></a>
				<meta itemprop="position" content="3">
			</li>
			{{ if .Params.Subtype }}
			{{ if eq .Params.Subtype "agastya_features" }}
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/platform/agastya/features/">
					<span itemprop="name">Features</span></a>
				<meta itemprop="position" content="4">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
					<span itemprop="name">{{ .Title }}</span></a>
				<meta itemprop="position" content="5">
			</li>
			{{ end }}
			{{ else if ne .URL "/platform/agastya/" }}
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
					{{ if gt (len .Title) 25 }}
					<span itemprop="name">{{ substr .Title 0 -25 }}</span></a>
					{{ else }}
					<span itemprop="name">{{ .Title }}</span></a>
					{{ end }}
				<meta itemprop="position" content="4">
			</li>
			{{ end }}
		</ol>
	</div>
</section>
{{ end }}
{{ if eq .Type "shravan" }}
<section class="pt-4 pb-4">
	<div class="container">
		<strong class="text-muted">You are here</strong>
		<ol class="bc" itemscope itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/">
					<span itemprop="name">Oswald Labs</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/platform/">
					<span itemprop="name">Platform</span></a>
				<meta itemprop="position" content="2">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/platform/shravan/">
					<span itemprop="name">Shravan</span></a>
				<meta itemprop="position" content="3">
			</li>
			{{ if .Params.Subtype }}
			{{ if eq .Params.Subtype "shravan_apps" }}
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/platform/shravan/apps/">
					<span itemprop="name">Apps</span></a>
				<meta itemprop="position" content="4">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
					<span itemprop="name">{{ .Title }}</span></a>
				<meta itemprop="position" content="5">
			</li>
			{{ end }}
			{{ else if ne .URL "/platform/shravan/" }}
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
					<span itemprop="name">{{ .Title }}</span></a>
				<meta itemprop="position" content="4">
			</li>
			{{ end }}
		</ol>
	</div>
</section>
{{ end }}
{{ if eq .Section "accelerator" }}
{{ if ne .URL "/accelerator/" }}
<section class="bg-light-1 text-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h2>All of this&mdash;all for free.</h2>
				<p class="mt-4 mb-4">Oswald Labs Accelerator is our way of giving back to the startup ecosystem. Apply now with your startup to get access to all of resources, completely for free, with no strings attached.</p>
				<div>
					<a href="/accelerator/apply/" class="btn btn-primary btn-lg">Apply for Oswald Labs Accelerator &rarr;</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt-4 pb-4">
	<div class="container">
		<strong class="text-muted">You are here</strong>
		<ol class="bc" itemscope itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/">
					<span itemprop="name">Oswald Labs</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/accelerator/">
					<span itemprop="name">Accelerator</span></a>
				<meta itemprop="position" content="2">
			</li>
			{{ if .Params.Subtype }}
				{{ if eq .Params.Subtype "accelerator_partners" }}
					<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a itemtype="http://schema.org/Thing" itemprop="item" href="/accelerator/partners/">
							<span itemprop="name">Partners</span></a>
						<meta itemprop="position" content="3">
					</li>
					<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
							<span itemprop="name">{{ .Title }}</span></a>
						<meta itemprop="position" content="4">
					</li>
				{{ else }}
					<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
							<span itemprop="name">{{ .Title }}</span></a>
						<meta itemprop="position" content="3">
					</li>
				{{ end }}
			{{ else if ne .URL "/accelerator/" }}
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
						<span itemprop="name">{{ .Title }}</span></a>
					<meta itemprop="position" content="3">
				</li>
			{{ end }}
		</ol>
	</div>
</section>
{{ end }}
{{ end }}
{{ if eq .Section "gdpr" }}
{{ if ne .URL "/gdpr/" }}
<section class="pt-4 pb-4">
	<div class="container">
		<strong class="text-muted">You are here</strong>
		<ol class="bc" itemscope itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/">
					<span itemprop="name">Oswald Labs</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="/gdpr/">
					<span itemprop="name">GDPR Tools</span></a>
				<meta itemprop="position" content="2">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .URL }}">
					<span itemprop="name">{{ .Title }}</span>
				</a>
				<meta itemprop="position" content="3">
			</li>
		</ol>
	</div>
</section>
{{ end }}
{{ end }}
