{{ if eq .Type "shravan" }}
<div class="subnav">
	<div class="navigation">
		<div class="container">
			<div class="row">
				<div class="col-md-3 d-flex align-items-center">
					<a class="d-flex align-items-center logo" href="/platform/shravan">
						<img alt="Shravan icon" src="https://upload.wikimedia.org/wikipedia/commons/c/c0/Shravan.svg">
						<h1 class="m-0 font-weight-bold p-2 pl-3 p-md-0" style="color: #fc3c53">Shravan</h1>
					</a>
				</div>
				<div class="col-md">
					<nav class="nav justify-content-end">
						<a class="nav-link" href="/platform/shravan/">Overview</a>
						<a class="nav-link" href="/platform/shravan/apps">Shravan Apps</a>
						<a class="nav-link" href="/platform/shravan/os">Shravan OS</a>
						<a class="nav-link" href="/platform/shravan/phone">Shravan Phone</a>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}
{{ if eq .Type "agastya" }}
<div class="subnav">
	<div class="navigation">
		<div class="container">
			<div class="row">
				<div class="col-md-3 d-flex align-items-center">
					<a class="d-flex align-items-center logo" href="/platform/agastya">
						<img alt="Agastya icon" src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Agastya.svg">
						<h1 class="m-0 font-weight-bold p-2 pl-3 p-md-0" style="color: #e96300">Agastya</h1>
					</a>
				</div>
				<div class="col-md">
					<nav class="nav justify-content-end">
						<a class="nav-link" href="/platform/agastya">Product</a>
						<a class="nav-link" href="/platform/agastya/features">Features</a>
						<a class="nav-link" href="/platform/agastya/pricing">Pricing</a>
						<a class="nav-link" href="/platform/agastya/compliancy">Compliancy</a>
						<a class="nav-link" href="/platform/agastya/eu">EU</a>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}
{{ if eq .Type "valmiki" }}
<div class="subnav">
	<div class="navigation">
		<div class="container">
			<div class="row">
				<div class="col-md-3 d-flex align-items-center">
					<a class="d-flex align-items-center logo" href="/platform/valmiki">
						<img alt="Agastya icon" src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Valmiki.svg">
						<h1 class="m-0 font-weight-bold p-2 pl-3 p-md-0" style="color: #25852a">Valmiki</h1>
					</a>
				</div>
				<div class="col-md">
					<nav class="nav justify-content-end">
						<a class="nav-link" href="/platform/valmiki">Product</a>
						<a class="nav-link" href="/platform/valmiki/features">Features</a>
						<a class="nav-link" href="#">Download</a>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}