---
title: Pricing &middot; Agastya by Oswald Labs
desc: Learn more about the pricing of Agastya, the accessibility plugin for websites by Oswald Labs, an award-winning accessibility technology company.
---

<header id="masthead" class="<%= current_page.data.template || "light" %>">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
	</div>
	<%= partial "agastya_nav" %>
</header>

<main id="content">
	<section class="pt-5">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-6">
					<div class="mb-5">
						<h1>Pricing</h1>
						<p>Agastya is a solution for web developers to help incorporate accessibility features in their websites. It's free for websites with less than 10,000 pageviews per month, and affordable for larger websites.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md">
					<div class="card card-body p-4">
						<h3 class="text-center">Lite</h3>
						<table class="table mb-0 mt-3">
							<tbody>
								<tr>
									<td>Pageviews</td>
									<td>10,000 per month</td>
								</tr>
								<tr>
									<td>Themes</td>
									<td>Default modes</td>
								</tr>
								<tr>
									<td>Security</td>
									<td>128-bit SSL/TLS</td>
								</tr>
								<tr>
									<td>CDN</td>
									<td>jsDelivr</td>
								</tr>
								<tr>
									<td>Support</td>
									<td>24-hour email</td>
								</tr>
								<tr>
									<td>Price</td>
									<td class="font-weight-bold">Free forever</td>
								</tr>
							</tbody>
						</table>
						<a href="https://a11y.co" target="_blank" class="btn btn-secondary mt-3">Get started for free &rarr;</a>
					</div>
				</div>
				<div class="col-md">
					<div class="card card-body p-4">
						<h3 class="text-center">Pro</h3>
						<table class="table mb-0 mt-3">
							<tbody>
								<tr>
									<td colspan="2"><i class="fas fa-check-circle mr-2 text-success"></i>Everything in Lite</td>
								</tr>
								<tr>
									<td>Themes</td>
									<td>5 custom modes</td>
								</tr>
								<tr>
									<td>Support</td>
									<td>Priority tickets</td>
								</tr>
								<tr>
									<td>Installation</td>
									<td>Included for free</td>
								</tr>
								<tr>
									<td>Uptime</td>
									<td>100% uptime SLA</td>
								</tr>
								<tr>
									<td style="vertical-align: middle">Pageviews</td>
									<td>
										<select class="form-control" onchange="$('.price').html($(this).val())">
											<option value="99">100,000 per month</option>
											<option value="249">250,000 per month</option>
											<option value="499">500,000 per month</option>
											<option value="999">1,000,000 per month</option>
											<option value="2,999">5,000,000 per month</option>
											<option value="4,999">10,000,000 per month</option>
											<option value="9,999">25,000,000 per month</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>Price</td>
									<td class="font-weight-bold">&euro;<span class="price">99</span> per month</td>
								</tr>
							</tbody>
						</table>
						<a href="https://a11y.co" target="_blank" class="btn btn-primary mt-3">Get started &rarr;</a>
					</div>
				</div>
				<div class="col-md">
					<div class="card card-body p-4">
						<h3 class="text-center">Self-hosted</h3>
						<table class="table mb-0 mt-3">
							<tbody>
								<tr>
									<td colspan="2"><i class="fas fa-check-circle mr-2 text-success"></i>Everything in Lite &amp; Pro</td>
								</tr>
								<tr>
									<td>Themes</td>
									<td>Unlimited custom</td>
								</tr>
								<tr>
									<td>Security</td>
									<td>Custom SSL</td>
								</tr>
								<tr>
									<td>Domain</td>
									<td>Custom domain</td>
								</tr>
								<tr>
									<td>Support</td>
									<td>Phone + email</td>
								</tr>
								<tr>
									<td>Price</td>
									<td class="font-weight-bold">&euro;6,999 one-time</td>
								</tr>
							</tbody>
						</table>
						<a href="/contact?department=sales" class="btn btn-secondary mt-3">Buy a license &rarr;</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>