---
title: Regulation &middot; Agastya by Oswald Labs
desc: Agastya, the accessibility plugin for websites by Oswald Labs, increases your compliance with WCAG 2.0, ATAG 2.0, ADA, and Section 508 requirements.
---

<header id="masthead" class="<%= current_page.data.template || "light" %>">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
	</div>
	<%= partial "agastya_nav" %>
</header>

<main id="content">
	<section>
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-6">
					<div>
						<h1>Regulation</h1>
						<p>The following regulations around the world require web accessibility. Agastya increases your compliance with these requirements.</p>
					</div>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-md-4">
					<h2 class="h4">UNCRPD</h2>
					<p>The United Nations Convention on the Rights of Persons with Disabilities (UNCRPD)'s Article 9, to which the EU is a party, requires that appropriate measures are taken to ensure access for people with disabilities.</p>
				</div>
				<div class="col-md-4 mt-4 mt-md-0">
					<h2 class="h4">WCAG 2.0</h2>
					<p>The Web Content Accessibility Guidelines (WCAG) 2.0 are the World Wide Web Consortium (W3C)'s guidelines for accessible web content.</p>
				</div>
				<div class="col-md-4 mt-4 mt-md-0">
					<h2 class="h4">EU 2016/2102</h2>
					<p>Directive (EU) 2016/2102 of the European Parliament and of the Council of 26 October 2016 requires accessibility of the websites and mobile content.</p>
				</div>
				<div class="col-md-4 mt-4">
					<h2 class="h4">ATAG 2.0</h2>
					<p>The Authoring Tool Accessibility Guidelines (ATAG) 2.0 provides guidelines for designing web content authoring tools that are both more accessible to authors with disabilities.</p>
				</div>
				<div class="col-md-4 mt-4">
					<h2 class="h4">ADA</h2>
					<p>The Americans with Disabilities Act of 1990 is a civil rights law that prohibits discrimination based on disability.</p>
				</div>
				<div class="col-md-4 mt-4">
					<h2 class="h4">Section 508</h2>
					<p>Section 508 Amendment to the Rehabilitation Act of 1973 was passed in 1998 which ensures content access to people with disabilities.</p>
				</div>
			</div>
		</div>
	</section>
</main>