---
title: Service-level Agreement (SLA) &middot; Agastya by Oswald Labs
desc: Agastya, the accessibility plugin for websites by Oswald Labs, has a custom SLA for enterprice clients.
---

<header id="masthead" class="<%= current_page.data.template || "light" %>">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
	</div>
	<%= partial "agastya_nav" %>
</header>

<main id="content">
	<section>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div>
						<h1>Service-level Agreement</h1>
						<p><strong>This SLA only applies to custom enterprise plans. You can request an SLA by <a href="/contact">getting in touch</a> with us.</strong></p>
						<p>1. Business Service Level Agreement ("SLA"). OswaldAble Technologies Pvt. Ltd. doing business as Oswald Labs ("Company") commits to provide a level of service for Business Customers demonstrating:</p>
						<p>1.1 100% Uptime. The Service will serve Customer Content 100% of the time without qualification.</p>
						<p>1.2 Penalties. If the Service fails to meet the above service level, the Customer will receive a credit equal to the result of the Service Credit calculation in Section 6 of this SLA.</p>
						<p>2. Definitions.</p>
						<p>2.1 Capitalized terms used in this SLA and not otherwise defined have the meanings ascribed to them in the Company’s Terms of Use.</p>
						<p>2.2 100% "Affected Customer Ratio" is calculated as follows: Affected Customer Ratio = (Unique visitors as measured by IP address affected by Unscheduled Service Outage) ÷ Total unique visitors as measured by IP address</p>
						<p>2.3 "Business Level" is a specific service plan provided by Company.</p>
						<p>2.4 "Claim" means a claim submitted by Customer to Company pursuant to this SLA that a Service Level has not been met and that a Service Credit may be due to Customer.</p>
						<p>2.5 "Customer" refers to the organization that has purchased and explicitly enabled Services from Company at the Business Level.</p>
						<p>2.6 "Customer Content" means any files, software, scripts, multimedia images, graphics, audio, video, text, data or other objects originating or transmitted from any web site owned or operated by Customer and routed to, passed through and/or stored on or within the Company’s network or otherwise transmitted or routed using the Service.</p>
						<p>2.7 "Customer Planned Downtime" is downtime specified by the Customer that is to be excluded from any calculation of an Outage Period. This would apply to any time when the Customer has requested Service access suspended from their environment.</p>
						<p>2.8 "Customer Support" means the services by which Company may provide assistance to Customer to resolve issues with the Service.</p>
						<p>2.9 "Force Majeure" refers to any downtime minutes that are the result of events or conditions beyond Company’s reasonable control. Such events might include but are not limited to any acts of common enemy, the elements, earthquakes, floods, fires, epidemics, and inability to secure products or services from other persons or entities.</p>
						<p>2.10 "Incident" means any set of circumstances resulting in a failure to meet a Service Level.</p>
						<p>2.11 "Outage Period" is equal to the number of downtime minutes resulting from an Unscheduled Service Outage.</p>
						<p>2.12 "Scheduled Availability" is the total number of minutes in the month minus any Customer Planned Downtime, and downtime caused by Force Majeure.</p>
						<p>2.13 "Service" means, collectively, the information, tools, features and functionality located on OswaldLabs.com or A11Y.co, through any Agastya APIs, or through any software or other websites that interface with OswaldLabs.com or its APIs.</p>
						<p>2.14 "Service Credit" is the percentage of the monthly service fees for the Service that is credited to Customer for a validated Claim.</p>
						<p>2.15 "Service Level" means standards Company chooses to adhere to and by which it measures the level of service it provides as specifically set forth below.</p>
						<p>2.16 "Unscheduled Service Outage" are those interruptions to the Service that have not been previously communicated to the Customer and that result in the Customer’s application being unavailable to its customers or users. Unscheduled Service Outages exclude downtime minutes resulting from Customer Planned Downtime or downtime cause by Force Majeure.</p>
						<p>3. Service Credit Claims.</p>
						<p>3.1 Company provides this SLA subject to the following terms.</p>
						<p>3.2 In order to be eligible to submit a Claim with respect to any Incident, the Customer must first have notified Customer Support of the Incident, using the procedures set forth by Company, within five business days following the Incident.</p>
						<p>3.3 To submit a Claim, Customer must contact Customer Support and provide notice of its intention to submit a Claim. Customer must provide to Customer Support all reasonable details regarding the Claim, including but not limited to, detailed descriptions of the Incident(s), the duration of the Incident, network traceroutes, the URL(s) affected and any attempts made by Customer to resolve the Incident.</p>
						<p>3.4 In order for Company to consider a Claim, Customer must submit the Claim, including sufficient evidence to support the Claim, by the end of the billing month following the billing month in which the Incident which is the subject of the Claim occurs.</p>
						<p>3.5 Company will use all information reasonably available to it to validate Claims and make a good faith judgment on whether the SLA and Service Levels apply to the Claim.</p>
						<p>4. SLA Exclusions.</p>
						<p>4.1 This SLA and any applicable Service Levels do not apply to any performance or availability issues:</p>
						<p>(a) Due to factors outside Company’s reasonable control;</p>
						<p>(b) That resulted from Customer’s or third party hardware or software;</p>
						<p>(c) That resulted from actions or inactions of Customer or third parties;</p>
						<p>(d) Caused by Customer’s use of the Service after Company advised Customer to modify its use of the Service, if Customer did not modify its use as advised;</p>
						<p>(e) During beta and trial Service (as determined by Company); Or</p>
						<p>(f) Attributable to the acts or omissions of Customer or Customer’s employees, agents, contractors, or vendors, or anyone gaining access to Company’s Service by means of Customer’s Authorized Users’ accounts or equipment.</p>
						<p>5. Service Credits.</p>
						<p>5.1 The amount and method of calculation of Service Credits is described below in Section 6.</p>
						<p>5.2 Service Credits are Customer’s sole and exclusive remedy for any violation of this SLA.</p>
						<p>5.3 The total amount of Service Credits awarded in any twelve (12) month period shall not, under any circumstance, exceed one (1) month of a Customer’s cumulative total monthly service fees.</p>
						<p>5.4 Service Credits for this SLA will only be calculated against monthly recurring fees associated with the Service.</p>
						<p>6. Service Credit Calculation.</p>
						<p>6.1 For any and each Outage Period during a monthly billing period the Company will provide as a Service Credit an amount calculated as follows: Service Credit = (Outage Period minutes * Affected Customer Ratio) ÷ Scheduled Availability minutes</p>
						<p>7. Methodology.</p>
						<p>7.1 Company is not responsible for comprehensive monitoring of Customer Content; this responsibility lies with Customer. Company will review data on a Customer’s reported Outage Periods as determined by any commercially reasonable independent measurement system used by the Customer.</p>
						<p>7.2 Company will use all information reasonably available to it in order to calculate the Affected Customer Ratio during an Outage Period, including analysis of Service Data immediately prior to the Outage Period to estimate the ratio of a Customer’s visitors that were affected during an Outage Period at one or more of the Company’s data centers.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>