{{ define "main" }}

<main>
	<section>
		<div class="container mt-5 mb-5">
			<div class="row">
				<div class="col-md-8">
					<h1>Technology for the next billion users.</h1>
					<p style="max-width: 500px">Oswald Labs is an award-winning accessibility technology company. With our research-driven and inclusive product portfolio, we’ve impacted thousands of lives throughout the globe.</p>
					<div class="cta">
						<a href="#" class="btn btn-light">Learn more</a>
						<a href="#" class="btn btn-light">Get in touch</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="border-top">
		<div class="container mt-5 mb-5">
			<div class="row">
				<div class="col-md-8">
					<h2>Platform</h2>
					<p style="max-width: 500px">Oswald Labs Platform is a set of free and open APIs to build scalable, accessible applications. Get started with cross-platform SDKs featuring flexible APIs and exclusive tools.</p>
					<div class="cta">
						<a href="#" class="btn btn-light">Start building &rarr;</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

{{end}}
