---
title: GDPR Export Tool &middot; Oswald Labs
---

<header id="masthead" class="<%= current_page.data.template || "light" %>">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
	</div>
	<%= partial "gdpr_nav" %>
</header>

<main id="content">
	<section>
		<div class="container">
			<div class="row justify-content-center text-center">
				<div class="col-md-5">
					<div>
						<div class="display-1 mb-5"><i class="fas fa-download"></i></div>
						<h1>GDPR Export Tool</h1>
						<p>You can use this tool to export all collected data that belongs to you.</p>
						<p>Starting May 2018, we stopped collected any personally identifiable information to protect our users' privacy. We only collect completely anonymized information keyed using one-way (undecryptable) hashing algorithms.</p>
						<p>You will receive an email containing a ZIP export of your data in JSON format within 48 hours.</p>
						<form action="https://formspree.io/yourfriends@oswaldlabs.com" method="post">
							<div class="form-group">
								<label for="email">Email</label>
								<input type="text" name="email" class="form-control" id="email" placeholder="Enter your email" required>
							</div>
							<div class="form-group">
								<label for="ip">IP address</label>
								<input type="text" name="ip" class="form-control" id="ip" placeholder="Waiting for your IP address..." required>
							</div>
							<input type="hidden" name="department" value="gdpr-export">
							<button type="submit" class="btn btn-primary">Send me an email with my data &rarr;</button>
						</form>
						<script>
							window.onload = function() {
								fetch("https://ipinfo.io/json").then(function(response) { return response.json(); }).then(function(json) {
									document.getElementById("ip").value = json.ip;
								});
							}
						</script>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>