<div class="darkgray">
	<div class="container">
		<div class="row pt-2 pb-2">
			<div class="col-md-3 d-flex align-items-center">
				<h1 class="mb-0 text-body font-weight-bold p-2 pl-3 p-md-0">
					<img aria-hidden="true" alt="Agastya logo" src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Agastya.svg" class="icon-image">
					<span>Agastya</span>
				</h1>
			</div>
			<div class="col-md d-flex justify-content-end pr-0">
				<nav class="nav">
					<%= current_link_to "Introduction", "/agastya", :class => "nav-link" %>
					<%= current_link_to "Features", "/agastya/features", :class => "nav-link" %>
					<%= current_link_to "Pricing", "/agastya/pricing", :class => "nav-link" %>
					<!--<%= current_link_to "Developers", "/agastya/developers", :class => "nav-link" %>-->
					<a target="_blank" rel="noopener" class="nav-link" href="https://docs.a11y.co">Documentation<i title="External link" class="fas fa-external-link-alt ml-2 text-muted"></i></a>
					<a target="_blank" rel="noopener" class="nav-link" href="https://a11y.co">Register<i title="External link" class="fas fa-external-link-alt ml-2 text-muted"></i></a>
				</nav>
			</div>
		</div>
	</div>
</div>