<nav class="nav">
	<%= current_link_to "Media", "/press", :class => "nav-link" %>
	<%= current_link_to "Logos", "/logos", :class => "nav-link" %>
	<%= current_link_to "Brand Guidelines", "/brand-guidelines", :class => "nav-link" %>
	<a target="_blank" class="nav-link" href="https://www.pr.com/company-profile/press-releases/397280">Press Releases<i title="External link" class="fas fa-external-link-alt ml-2 text-muted"></i></a>
</nav>