<div class="darkgray">
	<div class="container">
		<div class="row pt-2 pb-2">
			<div class="col-md-3 d-flex align-items-center">
				<h1 class="mb-0 text-body font-weight-bold p-2 pl-3 p-md-0">
					<img aria-hidden="true" alt="Shravan logo" src="https://upload.wikimedia.org/wikipedia/commons/c/c0/Shravan.svg" class="icon-image">
					<span>Shravan</span>
				</h1>
			</div>
			<div class="col-md d-flex justify-content-end pr-0">
				<nav class="nav">
					<%= current_link_to "Introduction", "/shravan", :class => "nav-link" %>
					<!--<%= current_link_to "Technology", "/shravan/technology", :class => "nav-link" %>-->
					<%= current_link_to "Features", "/shravan/features", :class => "nav-link" %>
					<a target="_blank" rel="noopener" class="nav-link" href="https://eepurl.com/clrg1n">Preregister<i title="External link" class="fas fa-external-link-alt ml-2 text-muted"></i></a>
				</nav>
			</div>
		</div>
	</div>
</div>