<div class="darkgray">
	<div class="container">
		<div class="row pt-2 pb-2">
			<div class="col-md-3 d-flex align-items-center">
				<h1 class="mb-0 text-body font-weight-bold p-2 pl-3 p-md-0">
					<img aria-hidden="true" alt="Valmiki logo" src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Valmiki.svg" class="icon-image">
					<span>Valmiki</span>
				</h1>
			</div>
			<div class="col-md d-flex justify-content-end pr-0">
				<nav class="nav">
					<%= current_link_to "Introduction", "/valmiki", :class => "nav-link" %>
					<a target="_blank" class="nav-link" href="https://bit.ly/2CUk0zs">Download<i title="External link" class="fas fa-external-link-alt ml-2 text-muted"></i></a>
				</nav>
			</div>
		</div>
	</div>
</div>