---
title: About Oswald Labs
desc: Oswald Labs is an award-winning accessibility technology company that builds disabled-friendly products and runs an equity-free startup accelerator.
template: homepage
---

<header id="masthead" class="<%= current_page.data.template || "light" %>">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
		<div class="hero">
			<h1>About</h1>
			<p>Oswald Labs is an award-winning accessibility technology company that builds technology for the next billion users. Our mission is to build new technologies that help people grow, and do it in a manner promoting accessibility and equality.</p>
			<p>Oswald Labs was founded as Oswald Foundation on August 15, 2016, by Anand Chowdhary and Nishant Gadihoke in New Delhi, India, after building the first web reading tool for people with dyslexia at a weekend hackathon.</p>
			<p>You can learn more about the <a href="/partners">partners</a> we work with, our incredible <a href="/team">team</a> that make this possible, or <a href="/contact">get in touch</a> with us for more information.</p>
		</div>
	</div>
</header>

<main id="content">
	<section>
		<h2 class="text-center mb-5">Our Story</h2>
		<div class="container">
			<div class="row">
				<div class="col-md mb-4 mb-md-0">
					<div class="text-md-right text-uppercase font-weight-bold text-secondary">June 12, 2016</div>
					<div class="d-flex justify-content-end mt-2">
						<div class="card card-body">
							<p>At AngelHack Delhi 2016, Oswald for Chrome, a web reading tool for people with dyslexia, was built and it won the Code4Impact award.</p>
						</div>
					</div>
				</div>
				<div class="d-none d-md-flex col-md-1 justify-content-center align-items-end">
					<div class="timeline-line" style="height: 50%"></div>
					<div class="timeline-circle bg-warning text-white"><i class="fas fa-trophy"></i></div>
				</div>
				<div class="col-md"></div>
			</div>
			<div class="row">
				<div class="col-md"></div>
				<div class="d-none d-md-flex col-md-1 justify-content-center align-items-stretch">
					<div class="timeline-line"></div>
					<div class="timeline-circle bg-danger text-white"><i class="fas fa-rocket"></i></div>
				</div>
				<div class="col-md mb-4 mb-md-0">
					<div class="text-md-left text-uppercase font-weight-bold text-secondary">August 15, 2016</div>
					<div class="d-flex justify-content-begin mt-2">
						<div class="card card-body">
							<p><a href="/team/anand">Anand Chowdhary</a> and <a href="/team/nishant">Nishant Gadihoke</a> founded Oswald Foundation on India's Independence Day along with <a href="/team/mahendra">Mahendra Singh Raghuwanshi</a>.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md mb-4 mb-md-0">
					<div class="text-md-right text-uppercase font-weight-bold text-secondary">September 15, 2016</div>
					<div class="d-flex justify-content-end mt-2">
						<div class="card card-body">
							<p>Showcased a sneak-preview of our R&amp;D project, Shravan, the first smartphone for the differently abled at Delhi Technological University.</p>
						</div>
					</div>
				</div>
				<div class="d-none d-md-flex col-md-1 justify-content-center align-items-stretch">
					<div class="timeline-line"></div>
					<div class="timeline-circle bg-primary text-white"><i class="fas fa-mobile"></i></div>
				</div>
				<div class="col-md"></div>
			</div>
			<div class="row">
				<div class="col-md"></div>
				<div class="d-none d-md-flex col-md-1 justify-content-center align-items-stretch">
					<div class="timeline-line"></div>
					<div class="timeline-circle bg-warning text-white"><i class="fas fa-trophy"></i></div>
				</div>
				<div class="col-md mb-4 mb-md-0">
					<div class="text-md-left text-uppercase font-weight-bold text-secondary">November 19, 2016</div>
					<div class="d-flex justify-content-begin mt-2">
						<div class="card card-body">
							<p>Winners of Startup India Rocks! 2016 out of over 1,000 all across the country.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md mb-4 mb-md-0">
					<div class="text-md-right text-uppercase font-weight-bold text-secondary">November 30, 2016</div>
					<div class="d-flex justify-content-end mt-2">
						<div class="card card-body">
							<p>Incubated in the London/Berlin-based EyeFocus Accelerator, the world's first innovation program for companies building for blindness.</p>
						</div>
					</div>
				</div>
				<div class="d-none d-md-flex col-md-1 justify-content-center align-items-stretch">
					<div class="timeline-line"></div>
					<div class="timeline-circle bg-success text-white"><i class="fas fa-building"></i></div>
				</div>
				<div class="col-md"></div>
			</div>
			<div class="row">
				<div class="col-md"></div>
				<div class="d-none d-md-flex col-md-1 justify-content-center align-items-stretch">
					<div class="timeline-line"></div>
					<div class="timeline-circle bg-info text-white"><i class="fas fa-desktop"></i></div>
				</div>
				<div class="col-md mb-4 mb-md-0">
					<div class="text-md-left text-uppercase font-weight-bold text-secondary">December 8, 2016</div>
					<div class="d-flex justify-content-begin mt-2">
						<div class="card card-body">
							<p>Accepted into the IBM Global Entrepreneur program, which gives us access to go-to-market support, mentorship, and cloud credits.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md mb-4 mb-md-0">
					<div class="text-md-right text-uppercase font-weight-bold text-secondary">February 6, 2017</div>
					<div class="d-flex justify-content-end mt-2">
						<div class="card card-body">
							<p>Mahendra Singh Raghuwanshi, our Chief Operating Officer, gets married!</p>
						</div>
					</div>
				</div>
				<div class="d-none d-md-flex col-md-1 justify-content-center align-items-stretch">
					<div class="timeline-line"></div>
					<div class="timeline-circle bg-danger text-white"><i class="fas fa-heart"></i></div>
				</div>
				<div class="col-md"></div>
			</div>
			<div class="row">
				<div class="col-md"></div>
				<div class="d-none d-md-flex col-md-1 justify-content-center align-items-stretch">
					<div class="timeline-line"></div>
					<div class="timeline-circle bg-success text-white"><i class="fas fa-calendar-alt"></i></div>
				</div>
				<div class="col-md mb-4 mb-md-0">
					<div class="text-md-left text-uppercase font-weight-bold text-secondary">May 10, 2017</div>
					<div class="d-flex justify-content-begin mt-2">
						<div class="card card-body">
							<p>Organized BharatHacks, a two-day hackathon and product incubation event in New Delhi, along with IBM, DigitalOcean, F6S, and more partners.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md mb-4 mb-md-0">
					<div class="text-md-right text-uppercase font-weight-bold text-secondary">August 15, 2017</div>
					<div class="d-flex justify-content-end mt-2">
						<div class="card card-body">
							<p>Celebrating our first birthday with rebranding to Oswald Labs, opening our first European office in the city of Enschede, the Netherlands.</p>
						</div>
					</div>
				</div>
				<div class="d-none d-md-flex col-md-1 justify-content-center align-items-begin">
					<div class="timeline-line" style="height: 50%"></div>
					<div class="timeline-circle bg-primary text-white"><i class="fas fa-globe"></i></div>
				</div>
				<div class="col-md"></div>
			</div>
		</div>
	</section>
</main>