---
title: Accessibility &middot; Oswald Labs Values
---

<header id="masthead" class="<%= current_page.data.template || "light" %>">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
	</div>
	<%= partial "values_nav" %>
</header>

<main id="content">
	<section>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div>
						<h1>Accessibility</h1>
						<p>That was our mission when we started this company, and that's what we're doing today. In fact, Oswald Foundation was named after Oswald Berkhan, the physician who first identified dyslexia in 1881. Our first product, Valmiki, makes the entire web accessible. Our second product, Agastya, helps web developers incorporate accessibility options in their websites. And our third product, Shravan, is the world's first accessible smartphone. We're all about accessibility. If you have a product or organization that can help us build the next big accessibility product, feel free to write to us to explore partnership opportunities.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>