---
title: Agastya &middot; Oswald Labs
desc: Agastya makes your websites inclusive and accessible with just one line of code, a product by Oswald Labs, the award-winning accessibility technology company.
---

<header id="masthead" class="<%= current_page.data.template || "light" %>">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
	</div>
	<%= partial "agastya_nav" %>
</header>

<main id="content">
	<section class="pt-5">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-4">
					<div class="mb-5">
						<h1 class="mt-4">Web accessibility made simple.</h1>
						<p class="mt-3">Agastya is a solution for web developers to help incorporate accessibility features in their websites. By adding just one line of JavaScript code, you can make your website accessible to a much wider audience. You can customize the widget, view usage anayltics, and more.</p>
						<p class="mt-4">
							<a target="_blank" rel="noopener" href="https://a11y.co" class="btn btn-primary">Get started for free &rarr;</a>
						</p>
					</div>
				</div>
				<div class="col-md-8">
					<img alt="" src="/images/agastya-hero.png">
				</div>
			</div>
		</div>
	</section>
	<section class="gray">
		<div class="container">
			<h2 class="text-center mb-5">Features</h2>
			<div class="row">
				<div class="col-md-4 mb-5 mb-md-0">
					<img class="mb-3" alt="" src="/images/dyslexia.png">
					<h3 class="h5">Dyslexia-friendly Mode</h3>
					<p>It adjusts the color-contrast ratio and typography (to Open Dyslexic) to best suit the needs of someone with a learning disorder, based on previous research conducted by the W3C and the British Dyslexia Association.</p>
				</div>
				<div class="col-md-4 mb-5">
					<img class="mb-3" alt="" src="/images/bluelightfilter.png">
					<h3 class="h5">Blue Light Filter</h3>
					<p>The subtle shift to a sepia theme decreases the stark contrast of bright white light on black text that can strain the eyes, and is recommended for reading for longer durations due to lower screen luminescence.</p>
				</div>
				<div class="col-md-4 mb-5">
					<img class="mb-3" alt="" src="/images/autoalt.png">
					<h3 class="h5">Night Mode</h3>
					<p>White-on-black works best in conditions where there is very little light or no light at all. It doesn’t project the bright light to the eyes and the text is easier to read without putting extra effort on eyelids. It also inverts other visual elements.</p>
				</div>
				<div class="col-md-4 mb-5">
					<img class="mb-3" alt="" src="/images/translate.png">
					<h3 class="h5">Translation</h3>
					<p>What if your website’s content was available in all languages? Agastya comes built-in with Google Translate, so your website’s content is accessible to everyone, regardless of the language they can read in.</p>
				</div>
				<div class="col-md-4 mb-5 mb-md-0">
					<img class="mb-3" alt="" src="/images/agastya.png">
					<h3 class="h5">Advanced Analytics</h3>
					<p>Get access to raw data and computed analytics about your users's disabilities. Find out what modes are being used by users, which pages require your attention, and integrate with Google Analytics.</p>
				</div>
				<div class="col-md-4">
					<img class="mb-3" alt="" src="/images/visualimpairment.png">
					<h3 class="h5">AutoALT&trade;</h3>
					<p>Our patent-pending technology automatically generates alternate text (ALT tags) for images using advanced computer vision &amp; machine learning. Available on request for Pro plans larger than 250,000 pageviews only.</p>
				</div>
			</div>
			<div class="text-center mt-5">
				<a class="btn" href="/agastya/features">Learn more about Agastya's features &rarr;</a>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md mb-5 mb-md-0">
					<i class="fas fa-fw fa-fh fa-credit-card h1 mb-3 text-muted"></i>
					<h2 class="h3">Start for free, pay as you grow.</h2>
					<p>Agastya is affordable for everyone &mdash; from small startups to multinational institutions. It's free for websites with less than 10,000 pageviews per month, and we offer special discounts and free Pro plans for non-profits, student startups, and bootstrapped startups.</p>
					<p><a class="btn btn-left" href="/agastya/pricing">Learn more about Agastya's pricing &rarr;</a></p>
				</div>
				<div class="col-md">
					<i class="fas fa-fw fa-fh fa-code h1 mb-3 text-muted"></i>
					<h2 class="h3">By developers, for developers.</h2>
					<p>Agastya features a powerful API for developers, along with plugins for popular platforms such as WordPress, Squarespace, Ghost, and Shopify. Developers can also build their own modes and add them to the a11y.co web accessibility store to earn money. Coming soon.</p>
					<!-- <p><a class="btn btn-left" href="/agastya/developers">Learn more about a11y.co for developers &rarr;</a></p> -->
					<p><a class="btn btn-left" target="_blank" rel="noopener" href="https://docs.a11y.co/">Learn more about a11y.co for developers &rarr;</a></p>
				</div>
			</div>
		</div>
	</section>
	<section class="dark">
		<div class="container">
			<h2 class="text-center mb-5">Built for Europe.</h2>
			<div class="row">
				<div class="col-md mb-5 mb-md-0">
					<i class="fas fa-fw fa-fh fa-euro-sign h1 mb-3 text-muted"></i>
					<h2 class="h3">Pay in euros.</h2>
					<p>Pay with your VISA, MasterCard, or American Express cards with 3D Secure in euros.<sup>1</sup> We're working on bringing iDEAL &amp; SEPA support very soon.</p>
				</div>
				<div class="col-md">
					<i class="fas fa-fw fa-fh fa-database h1 mb-3 text-muted"></i>
					<h2 class="h3">Data stored in the EU.</h2>
					<p>You remain the owner of your data. Easily export, modify, and download your data whenever you want. Securely stored in Dublin, Ireland.<sup>2</sup></p>
				</div>
				<div class="col-md">
					<i class="fas fa-fw fa-fh fa-envelope-open h1 mb-3 text-muted"></i>
					<h2 class="h3">GDPR, check.</h2>
					<p>We're GDPR-compliant from the start, no matter when you're from. We also add EU cookie law compliance to your website automatically.</p>
				</div>
			</div>
			<p class="mt-5 small text-muted"><sup>1</sup>Oswald Labs is registered as Oswald Able Technology Private Limited in India. All invoices are issued by the Indian company. We use Transferwise and Stripe to collect payments. <sup>2</sup>Data is stored by Amazon Web Services in Dublin, Ireland. We use CloudFlare's global CDN to deliver resources.</p>
		</div>
	</section>
</main>