---
title: Brand Guidelines &middot; Oswald Labs
desc: "Read the brand guidelines of Oswald Labs, the award-winning accessibility technology company, in this presskit."
---

<header id="masthead" class="light">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
		</nav>
	</div>
	<%= partial "presskit_nav" %>
</header>

<main id="content">
	<section class="pt-5">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-6">
					<div class="mb-5">
						<h1>Brand Guidelines</h1>
						<p>Please make sure to adhere to these brand guidelines when using the Oswald Labs logos or related items in the presskit in your work.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h2 class="h4">Colors</h2>
					<p>When using the Oswald Labs logo, always make sure that the color is hex <code class="small text-dark">#007bff</code>. The corresponding RGB code is <code class="small text-dark">rgb(0, 123, 255)</code>. In CMYK, it is <code class="small text-dark">100, 52, 0, 0</code>.</p>
				</div>
				<div class="col-md-6 pl-md-5 mt-3 mt-mb-0">
					<div class="row">
						<div class="col">
							<div class="color-box text-light" style="background: #007bff">#007bff</div>
						</div>
						<div class="col">
							<div class="color-box text-white" style="background: #263238">#263238</div>
						</div>
						<div class="col">
							<div class="color-box" style="background: #f6f9fc">#f6f9fc</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="color-box text-light" style="background: #0656cc">#0656cc</div>
						</div>
						<div class="col">
							<div class="color-box text-white" style="background: #151d21">#151d21</div>
						</div>
						<div class="col">
							<div class="color-box" style="background: #e9edf1">#e9edf1</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-md-6">
					<h2 class="h4">Symbol</h2>
					<p>Always use the new Oswald Labs symbol available on the <a href="/logos">Logos</a> page. When possible, use the vector SVG, but high-resolution PNGs are also available on <a target="_blank" rel="noopener" href="https://commons.wikimedia.org/w/index.php?search=Oswald+Labs">Wikimedia Commons</a>.</p>
				</div>
				<div class="col-md-6 pl-md-5 mt-3 mt-mb-0">
					<div class="row">
						<div class="col">
							<svg class="domain-icon" viewBox="0 0 116 116" xmlns="http://www.w3.org/2000/svg"><g fill="#1abc9c" fill-rule="evenodd"><path d="M58 116C25.967 116 0 90.033 0 58S25.967 0 58 0s58 25.967 58 58-25.967 58-58 58zm.5-11c26.234 0 47.5-21.266 47.5-47.5S84.734 10 58.5 10 11 31.266 11 57.5 32.266 105 58.5 105z"/><circle cx="58.5" cy="57.5" r="35.5"/></g></svg>
							<div class="mt-3">
								<i class="fa-inverse fas fa-times text-danger mr-1"></i>
								<span><span class="text-danger text">Don't</span> change the color.</span>
							</div>
						</div>
						<div class="col">
							<svg class="domain-icon" viewBox="0 0 116 116" xmlns="http://www.w3.org/2000/svg"><g fill="#007bff" fill-rule="evenodd"><path d="M58 116C25.967 116 0 90.033 0 58S25.967 0 58 0s58 25.967 58 58-25.967 58-58 58zm.5-11c26.234 0 47.5-21.266 47.5-47.5S84.734 10 58.5 10 11 31.266 11 57.5 32.266 105 58.5 105z"/><circle cx="58.5" cy="57.5" r="35.5"/></g></svg>
							<div class="mt-3">
								<i class="fa-inverse fas fa-check text-success mr-1"></i>
								<span>Correct</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-md-6">
					<h2 class="h4">Logotype</h2>
					<p>Our logotype is the text &ldquo;Oswald Labs&rdquo; in <a target="_blank" rel="noopener" href="https://www.marksimonson.com/fonts/view/proxima-nova">Proxima Nova</a> by Mark Simonson Studio in the weights Light or Regular &mdash; depending on the context.</p>
					<p>Do not substitute Proxima Nova with a different typeface. It is, however, accepted to change the typeface when customizing your work for disability, eg. changing to Open Dyslexic based on a user's preference.</p>
				</div>
				<div class="col-md-6 pl-md-5 mt-3 mt-mb-0">
					<div class="row">
						<div class="col">
							<div class="h4 mb-0" style="font-family: serif">Oswald Labs</div>
							<div class="mt-2">
								<i class="fa-inverse fas fa-times text-danger mr-1"></i>
								<span><span class="text-danger text">Don't</span> use another typeface.</span>
							</div>
						</div>
						<div class="col">
							<div class="h4 mb-0" style="letter-spacing: -1.75px">Oswald Labs</div>
							<div class="mt-2">
								<i class="fa-inverse fas fa-times text-danger mr-1"></i>
								<span><span class="text-danger text">Don't</span> change letter spacing.</span>
							</div>
						</div>
					</div>
					<div class="row mt-4">
						<div class="col">
							<div class="h4 mb-0 font-weight-bold">Oswald Labs</div>
							<div class="mt-2">
								<i class="fa-inverse fas fa-times text-danger mr-1"></i>
								<span><span class="text-danger text">Don't</span> change font weight.</span>
							</div>
						</div>
						<div class="col">
							<div class="h4 mb-0">Oswald Labs</div>
							<div class="mt-2">
								<i class="fa-inverse fas fa-check text-success mr-1"></i>
								<span>Correct</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-md-6">
					<h2 class="h4">Combination Mark</h2>
					<p>Always use the new Oswald Labs combination mark.</p>
					<p>Our old logo was in a custom-designed version of Proxima Nova semibold with the text &ldquo;Oswald&rdquo;in lowercase. Please do not use that, stick to the official logo.</p>
				</div>
				<div class="col-md-6 pl-md-5 mt-3 mt-mb-0">
					<div class="row">
						<div class="col">
							<img alt="Old Oswald logo" src="https://cdn.oswald.foundation/b2b7e-Logo.png" class="w-50">
							<div class="mt-3">
								<i class="fa-inverse fas fa-times text-danger mr-1"></i>
								<span><span class="text-danger text">Don't</span> use the old logo.</span>
							</div>
						</div>
						<div class="col">
							<img alt="New Oswald Labs logo" src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Oswald_Labs_Logo.svg" class="w-75">
							<div class="mt-3">
								<i class="fa-inverse fas fa-check text-success mr-1"></i>
								<span>Correct</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>