---
title: Contact &middot; Oswald Labs
desc: Get in touch with Oswald Labs (formerly Oswald Foundation), the award-winning accessibility technology company based in New Delhi and Enschede.
---

<header id="masthead" class="bg contact-bg">
	<div class="container pt-3">
		<%= partial "navbar" %>
		<div class="row justify-content-between">
			<div class="col-md-6">
				<div class="hero mb-5">
					<h1>Get in touch</h1>
					<p>Oswald Labs is based out of New Delhi, India; and Enschede, the Netherlands. If you have any questions, you can send us a message, or just drop by for a cup of coffee!</p>
					<p>If you'd like to request a product demo, discuss a potential partnership, or write about us, you can click on use the "Schedule a Meeting" button to add something to our calendar.</p>
				</div>
				<div class="row text-light">
					<div class="col mb-5 mb-md-0" itemscope itemtype="http://schema.org/LocalBusiness">
						<svg style="width: 20%" class="big-card-shadow rounded-circle mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><circle cx="256" cy="256" r="256" fill="#f0f0f0"/><path d="M256 0C155 0 67 59 25 145h462A256 256 0 0 0 256 0z" fill="#ff9811"/><path d="M256 512c101 0 189-59 231-145H25c42 86 130 145 231 145z" fill="#6da544"/><circle cx="256" cy="256" r="89" fill="#0052b4"/><circle cx="256" cy="256" r="56" fill="#f0f0f0"/><path fill="#0052b4" d="M256 187l17 39 42-4-25 34 25 34-42-4-17 39-17-39-42 4 25-34-25-34 42 4z"/></svg>
						<h3 class="h5 mb-2"><strong>New Delhi</strong></h3>
						<div class="d-none" itemprop="name">Oswald Labs APAC HQ</div>
						<address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
							<div itemprop="streetAddress">E 267, Third Floor<br>
							Greater Kailash II (GK-2)</div>
							<div><span itemprop="addressLocality">New Delhi</span> <span itemprop="postalCode">110048</span>, <span itemprop="addressCountry">India</span></div>
						</address>
						<div itemscope itemtype="http://schema.org/contactPoint">
							<p class="mb-0 mt-3">
								<i data-fa-transform="flip-h" class="fas fa-phone fa-fw mr-2"></i>
								<a class="text-white" href="tel:+918860844523" itemprop="telephone">+91 8860844523</a>
							</p>
							<div itemprop="hoursAvailable" itemtype="http://schema.org/OpeningHoursSpecification">
								<small>
									Mon&ndash;Sat,
									<time itemprop="opens" content="09:00:00">9 am</time>
									to
									<time itemprop="closes" content="18:00:00">6 pm</time>
									IST
								</small>
							</div>
							<p class="mb-0 mt-3">
								<i class="fas fa-envelope fa-fw mr-2"></i>
								<a class="text-white" href="mailto:delhi@oswaldlabs.com" itemprop="email">delhi@oswaldlabs.com</a>
							</p>
							<small>
								Replies in
								<span itemprop="availableLanguage" itemscope itemtype="http://schema.org/Language">
									<span itemprop="name">English</span>
								</span>
								or
								<span itemprop="availableLanguage" itemscope itemtype="http://schema.org/Language">
									<span itemprop="name">Hindi</span>
								</span>
							</small>
						</div>
					</div>
					<div class="col" itemscope itemtype="http://schema.org/LocalBusiness">
						<svg style="width: 20%" class="big-card-shadow rounded-circle mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><circle cx="256" cy="256" r="256" fill="#f0f0f0"/><path d="M256 0C146 0 52 69 16 167h480A256 256 0 0 0 256 0z" fill="#a2001d"/><path d="M256 512c110 0 204-69 240-167H16c36 98 130 167 240 167z" fill="#0052b4"/></svg>
						<h3 class="h5 mb-2"><strong>Enschede</strong></h3>
						<div class="d-none" itemprop="name">Oswald Labs Europe HQ</div>
						<address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
							<div itemprop="streetAddress">Bastille, De Hems 10</div>
							<div><span itemprop="postalCode">7522NL</span> Enschede</div>
							<div itemprop="addressCountry">The Netherlands</div>
						</address>
						<div itemscope itemtype="http://schema.org/contactPoint">
							<p class="mb-0 mt-3">
								<i data-fa-transform="flip-h" class="fas fa-phone fa-fw mr-2"></i>
								<a class="text-white" href="tel:+31644691056" itemprop="telephone">+31 644691056</a>
							</p>
							<div itemprop="hoursAvailable" itemtype="http://schema.org/OpeningHoursSpecification">
								<small>
									Mon&ndash;Fri,
									<time itemprop="opens" content="09:00:00">9 am</time>
									to
									<time itemprop="closes" content="17:00:00">5 pm</time>
									CET
								</small>
							</div>
							<p class="mb-0 mt-3">
								<i class="fas fa-envelope fa-fw mr-2"></i>
								<a class="text-white" href="mailto:enschede@oswaldlabs.com" itemprop="email">enschede@oswaldlabs.com</a>
							</p>
							<small>
								Replies in
								<span itemprop="availableLanguage" itemscope itemtype="http://schema.org/Language">
									<span itemprop="name">Dutch</span>
								</span>
								or
								<span itemprop="availableLanguage" itemscope itemtype="http://schema.org/Language">
									<span itemprop="name">English</span>
								</span>
							</small>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<a href="#" class="btn btn-primary btn-block mt-5r mb-3" onclick="Calendly.showPopupWidget('https://calendly.com/oswaldlabs');return false;">Schedule a Meeting</a>
				<p class="font-italic text-center text-white">or</p>
				<div class="card card-block p-4 mb-5">
					<form action="https://formspree.io/yourfriends@oswaldlabs.com" method="post">
						<div class="form-group">
							<label for="name">Name</label>
							<input type="text" name="name" class="form-control" id="name" placeholder="Enter your full name" autofocus required>
						</div>
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email" name="email" class="form-control" id="email" placeholder="Enter your email" required>
						</div>
						<div class="form-group">
							<label for="department">Department</label>
							<select name="department" class="form-control" id="department">
								<option selected>Support</option>
								<option>Sales</option>
								<option>Accelerator</option>
								<option>Partnerships</option>
								<option>Feedback</option>
								<option>CEO&rsquo;s Office</option>
							</select>
						</div>
						<div class="form-group">
							<label for="message">Message</label>
							<textarea rows="5" name="message" id="message" class="form-control" placeholder="How can we help?" required></textarea>
						</div>
						<button type="submit" class="btn btn-primary">Get in touch &rarr;</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</header>

<main id="content">
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-3 mb-5">
					<h2 class="subheading justify-content-between mb-2">
						<div class="small text-body">Support</div>
					</h2>
					<p><a class="text-body" href="mailto:yourfriends@oswaldlabs.com">yourfriends@oswaldlabs.com</a></p>
				</div>
				<div class="col-md-3 mb-5">
					<h2 class="subheading justify-content-between mb-2">
						<div class="small text-body">Invoicing</div>
					</h2>
					<p><a class="text-body" href="mailto:invoice@oswaldlabs.com">invoice@oswaldlabs.com</a></p>
				</div>
				<div class="col-md-3 mb-5">
					<h2 class="subheading justify-content-between mb-2">
						<div class="small text-body">Partners</div>
					</h2>
					<p><a class="text-body" href="mailto:ara@oswaldlabs.com">ara@oswaldlabs.com</a></p>
				</div>
				<div class="col-md-3 mb-5">
					<h2 class="subheading justify-content-between mb-2">
						<div class="small text-body">Marketing</div>
					</h2>
					<p><a class="text-body" href="mailto:cmo@oswaldlabs.com">cmo@oswaldlabs.com</a></p>
				</div>
				<div class="col-md-3 mb-5 mb-md-0">
					<h2 class="subheading justify-content-between mb-2">
						<div class="small text-body">Sales (Global)</div>
					</h2>
					<p><a class="text-body" href="mailto:sales@oswaldlabs.com">sales@oswaldlabs.com</a></p>
				</div>
				<div class="col-md-3 mb-5 mb-md-0">
					<h2 class="subheading justify-content-between mb-2">
						<div class="small text-body">Sales (Germany)</div>
					</h2>
					<p><a class="text-body" href="mailto:germany@oswaldlabs.com">germany@oswaldlabs.com</a></p>
				</div>
				<div class="col-md-3 mb-5 mb-md-0">
					<h2 class="subheading justify-content-between mb-2">
						<div class="small text-body">Sales (Mumbai)</div>
					</h2>
					<p><a class="text-body" href="mailto:mumbai@oswaldlabs.com">mumbai@oswaldlabs.com</a></p>
				</div>
				<div class="col-md-3">
					<h2 class="subheading justify-content-between mb-2">
						<div class="small text-body">Sales (Gurugram)</div>
					</h2>
					<p><a class="text-body" href="mailto:gurugram@oswaldlabs.com">gurugram@oswaldlabs.com</a></p>
				</div>
			</div>
		</div>
	</section>
</main>

<link rel="stylesheet" href="https://assets.calendly.com/assets/external/widget.css">
<script src="https://assets.calendly.com/assets/external/widget.js"></script>