---
title: Cookie Policy &middot; Oswald Labs
---

<header id="masthead" class="<%= current_page.data.template || "light" %>">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
	</div>
	<%= partial "policies_nav" %>
</header>

<main id="content">
	<section>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div>
						<h1>Cookie Policy</h1>
						<p>This policy describes how a11y.co uses cookies, session storage, and local storage ("cookies"). We recommend that you also consult our Privacy Policy for additional information on how we collect and use information collected from visitors.</p>
						<p>This policy is effective Jan 1, 2017. Your continued use of the a11y.co software, code, widget, plugin and site after that will signify your acceptance of this policy. We may modify this Policy without notifying you, so please check back often for updates.</p>
						<p>By using the a11y.co software, you agree that we can use the cookies (and session storage and local storage). You can stop cookies by changing the settings in your browser.</p>
						<h2 class="h4">What are Cookies?</h2>
						<p>Cookies are text files, containing small amounts of information, which are downloaded to your browsing device (such as a computer or smartphone) when you visit a website. Cookies can be recognized by the website that downloaded them — or other websites that use the same cookies. This helps websites know if the browsing device has visited them before.</p>
						<h2 class="h4">What Are Cookies Used For?</h2>
						<p>Cookies do lots of different jobs, like helping us understand how the a11y.co software is being used, letting you navigate between pages efficiently, remembering your preferences, and generally improving your browsing experience. Cookies can also help ensure the accessibility options you see on a host website is more helpful and relevant to you.</p>
						<h2 class="h4">What Types Of Cookies Does a11y.co Use?</h2>
						<p>The type of cookies used on most websites can generally be put into one of six categories: Strictly Necessary, Performance, Functionality, Flash, Tailored Content and Targeting. In order to provide you with the best browsing experience, a11y.co may use any or all of these categories throughout the a11y.co software. You can find out more about each cookie category in the sections below.</p>
						<ul>
							<li><strong>Strictly Necessary Cookies: </strong>These cookies are essential, as they enable you to move around the a11y.co software and use its features, such as accessing secure areas. Without these cookies, some services you have asked for can’t be provided.</li>
							<li><strong>Performance Cookies: </strong>These cookies collect information about how you use the a11y.co software, for example which accessibility features you enable most often and if you get error messages on certain host pages. These cookies don’t gather information that identifies you. All information these cookies collect is anonymous and is only used to improve how the a11y.co software works.</li>
							<li><strong>Functionality Cookies: </strong>These cookies allow the a11y.co software to remember choices you make (such as which accessibility features your users have enabled on your site). For instance, the a11y.co software uses functionality cookies to remember your accessibility preferences. These cookies can also be used to remember changes you’ve made to text size and other parts of pages that you can customize. They may also be used to provide services you’ve asked for such as watching a video or commenting on a post. The information these cookies collect may be anonymous and they cannot track your browsing activity on other websites.</li>
							<li><strong>Flash Cookies: </strong>We may, in certain circumstances, use Adobe Flash Player to deliver special content, such as video clips or animation. To improve your user experience, Local Shared Objects (commonly known as "Flash cookies") are employed to provide functions such as remembering your settings and preferences. Flash cookies are stored on your device, but they are managed through an interface different from the one provided by your web browser. This means it is not possible to manage Flash cookies through your browser in the same way you would normally manage cookies. Instead, you can access your Flash management tools from Adobe’s website <a href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager.html" target="_blank" rel="noopener">here</a>.</li>
							<li><strong>Tailored Content Cookies: </strong>Tailored content cookies help the a11y.co software provide enhanced features and display content in a way that is relevant to you. These cookies help the a11y.co software determine what information to show you based on how you have used the a11y.co software previously. These cookies do not track your browsing activity on other websites.</li>
							<li><strong>Targeting Cookies: </strong>These cookies are used to deliver advertisements that are more relevant to you and your interests. They are also used to limit the number of times you see an advertisement as well as help measure the effectiveness of an advertising campaign. They remember that you have visited a website and this information may be shared with other organizations such as advertisers. This means after you have accessed the a11y.co software you may see some advertisements about our services elsewhere on the Internet.</li>
						</ul>
						<h2 class="h4">More Info</h2>
						<p>The length of time a cookie will stay on your browsing device depends on whether it is a "persistent" or "session" cookie. Session cookies will only stay on your device until you stop browsing. Persistent cookies stay on your browsing device until they expire or are deleted.</p>
						<p>First party cookies are cookies that belong to us, while third party cookies are cookies that another party places on your browsing device through the a11y.co software.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>