---
title: Education &middot; Oswald Labs Values
desc: Oswald Labs is an award-winning accessibility technology company, and our values focus on making knowledge universally accessible.
---

<header id="masthead" class="<%= current_page.data.template || "light" %>">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
	</div>
	<%= partial "values_nav" %>
</header>

<main id="content">
	<section>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div>
						<h1>Education</h1>
						<p>Aubrey Priest said that a substandard education will always result in a substandard nation. 15 lakh students take the board exams every year. We want to ensure that each one of them has access to good-quality study material for free by building India’s first online classroom that’s accessible to everyone, regardless of their disability.</p>
						<p>We believe that the whole idea of education is taken in the wrong sense. It’s become a misconception that studying is only about scrolling through the pages of your textbook the night before your exam. It’s not about that. Education is about freedom. Like Nelson Mandela said, Education is the most powerful weapon which you can use to change the world. That’s why we acquired Class Rebels, a Delhi-based education technology company to help us build Kaksha, the online classroom.</p>
						<p>If you have a product or organization that can help us build the next big edtech solution, feel free to write to us to explore partnership opportunities.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>