---
title: Environment &middot; Oswald Labs Values
desc: Oswald Labs is an award-winning accessibility technology company, and our values focus on using sustainable energy and remain carbon neutral.
---

<header id="masthead" class="<%= current_page.data.template || "light" %>">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
	</div>
	<%= partial "values_nav" %>
</header>

<main id="content">
	<section>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div>
						<h1>Environment</h1>
						<p>We use sustainable energy, wind energy to be particular, to power all our servers. Our web hosting provider is certified to generate 130 percent of the electricity used to both power and cool all of its shared and reseller servers, which means that it's actually giving more energy back than consuming.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>