---
title: Justice &middot; Oswald Labs Values
desc: Oswald Labs is an award-winning accessibility technology company, and our values focus on making justice accessible through our partnerships.
---

<header id="masthead" class="<%= current_page.data.template || "light" %>">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
	</div>
	<%= partial "values_nav" %>
</header>

<main id="content">
	<section>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div>
						<h1>Justice</h1>
						<p>Thousands of court cases have been locked up and are unavailable to people who, say, cannot read. We’ve partnered with Justice Adda, a part of the Cambridge Social Ventures programme in the Centre for Social Innovation at Cambridge Judge Business School, to make justice accessible. We provide accessibility technology solutions to them for free.</p>
						<p>If you have a product or organization that can help us make justice accessible, feel free to write to us to explore partnership opportunities.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>