---
title: Logos &middot; Presskit &middot; Oswald Labs
desc: "Download the logos, pictures, and information about Oswald Labs, the award-winning accessibility technology company in this presskit."
---

<header id="masthead" class="light">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
	</div>
	<div class="darkgray">
		<div class="container">
			<div class="row pt-2 pb-2">
				<div class="col-md-3 d-flex align-items-center">
					<h2 class="mb-0 text-body font-weight-bold p-2 pl-3 p-md-0">Presskit</h2>
				</div>
				<div class="col-md d-flex justify-content-end pr-0">
					<%= partial "presskit_nav" %>
				</div>
			</div>
		</div>
	</div>
</header>

<main id="content">
	<section class="pt-5">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-6">
					<div class="mb-5">
						<h1>Logos</h1>
						<p>Download high-resolution logos, pictures, and information about Oswald Labs, the award-winning accessibility technology company. Please make sure to follow the <a href="/brand-guidelines">brand guidelines</a>.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-md-4 d-flex align-items-stretch">
					<a target="_blank" href="https://upload.wikimedia.org/wikipedia/commons/b/b5/Oswald_Labs_New_Logo.svg" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="mb-1">
							<img alt="" class="domain-icon bigger" src="/icons/favicon-32x32.png?v=2">
						</div>
						<div class="h5 mb-1 mt-3">Oswald Labs symbol</div>
						<div class="mb-1">Vector SVG</div>
						<div class="small text-secondary">CC BY-SA 4.0, Wikimedia Commons</div>
					</a>
				</div>
				<div class="col-6 col-md-4 d-flex align-items-stretch">
					<a target="_blank" href="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Oswald_Labs_New_Logo.svg/512px-Oswald_Labs_New_Logo.svg.png" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="mb-1">
							<img alt="" class="domain-icon bigger" src="/icons/favicon-32x32.png?v=2">
						</div>
						<div class="h5 mb-1 mt-3">Oswald Labs symbol</div>
						<div class="mb-1">PNG 512px square</div>
						<div class="small text-secondary">CC BY-SA 4.0, Wikimedia Commons</div>
					</a>
				</div>
				<div class="col-6 col-md-4 d-flex align-items-stretch">
					<a target="_blank" href="https://upload.wikimedia.org/wikipedia/commons/9/9c/Oswald_Labs_Logo.svg" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="mb-1">
							<img alt="" class="domain-icon bigger" src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Oswald_Labs_Logo.svg">
						</div>
						<div class="h5 mb-1 mt-3">Oswald Labs logo</div>
						<div class="mb-1">Vector SVG</div>
						<div class="small text-secondary">CC BY-SA 4.0, Wikimedia Commons</div>
					</a>
				</div>
				<div class="col-6 col-md-4 d-flex align-items-stretch">
					<a target="_blank" href="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Oswald_Labs_Logo.svg/500px-Oswald_Labs_Logo.svg.png" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="mb-1">
							<img alt="" class="domain-icon bigger" src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Oswald_Labs_Logo.svg">
						</div>
						<div class="h5 mb-1 mt-3">Oswald Labs logo</div>
						<div class="mb-1">PNG, 500px &times; 85px</div>
						<div class="small text-secondary">CC BY-SA 4.0, Wikimedia Commons</div>
					</a>
				</div>
				<div class="col-6 col-md-4 d-flex align-items-stretch">
					<a target="_blank" href="https://cdn.oswald.foundation/bee56-oswald-icon-2.png" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="mb-1">
							<img alt="" class="domain-icon bigger" src="https://cdn.oswald.foundation/bee56-oswald-icon-2.png">
						</div>
						<div class="h5 mb-1 mt-3">Oswald Labs app icon</div>
						<div class="mb-1">PNG 192px square</div>
						<div class="small text-secondary">CC BY-ND 4.0, Oswald Labs CDN</div>
					</a>
				</div>
				<div class="col-6 col-md-4 d-flex align-items-stretch">
					<a target="_blank" href="https://upload.wikimedia.org/wikipedia/commons/f/fc/Agastya.svg" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="mb-1">
							<img alt="" class="domain-icon bigger" src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Agastya.svg">
						</div>
						<div class="h5 mb-1 mt-3">Agastya logo</div>
						<div class="mb-1">Vector SVG</div>
						<div class="small text-secondary">CC BY-SA 4.0, Wikimedia Commons</div>
					</a>
				</div>
				<div class="col-6 col-md-4 d-flex align-items-stretch">
					<a target="_blank" href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Agastya.svg/480px-Agastya.svg.png" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="mb-1">
							<img alt="" class="domain-icon bigger" src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Agastya.svg">
						</div>
						<div class="h5 mb-1 mt-3">Agastya logo</div>
						<div class="mb-1">PNG, 480px square</div>
						<div class="small text-secondary">CC BY-SA 4.0, Wikimedia Commons</div>
					</a>
				</div>
				<div class="col-6 col-md-4 d-flex align-items-stretch">
					<a target="_blank" href="https://upload.wikimedia.org/wikipedia/commons/c/c0/Shravan.svg" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="mb-1">
							<img alt="" class="domain-icon bigger" src="https://upload.wikimedia.org/wikipedia/commons/c/c0/Shravan.svg">
						</div>
						<div class="h5 mb-1 mt-3">Shravan logo</div>
						<div class="mb-1">Vector SVG</div>
						<div class="small text-secondary">CC BY-SA 4.0, Wikimedia Commons</div>
					</a>
				</div>
				<div class="col-6 col-md-4 d-flex align-items-stretch">
					<a target="_blank" href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Shravan.svg/480px-Shravan.svg.png" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="mb-1">
							<img alt="" class="domain-icon bigger" src="https://upload.wikimedia.org/wikipedia/commons/c/c0/Shravan.svg">
						</div>
						<div class="h5 mb-1 mt-3">Shravan logo</div>
						<div class="mb-1">PNG, 480px square</div>
						<div class="small text-secondary">CC BY-SA 4.0, Wikimedia Commons</div>
					</a>
				</div>
				<div class="col-6 col-md-4 d-flex align-items-stretch">
					<a target="_blank" href="https://upload.wikimedia.org/wikipedia/commons/5/5e/Valmiki.svg" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="mb-1">
							<img alt="" class="domain-icon bigger" src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Valmiki.svg">
						</div>
						<div class="h5 mb-1 mt-3">Valmiki logo</div>
						<div class="mb-1">Vector SVG</div>
						<div class="small text-secondary">CC BY-SA 4.0, Wikimedia Commons</div>
					</a>
				</div>
				<div class="col-6 col-md-4 d-flex align-items-stretch">
					<a target="_blank" href="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Valmiki.svg/480px-Valmiki.svg.png" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="mb-1">
							<img alt="" class="domain-icon bigger" src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Valmiki.svg">
						</div>
						<div class="h5 mb-1 mt-3">Valmiki logo</div>
						<div class="mb-1">PNG, 480px square</div>
						<div class="small text-secondary">CC BY-SA 4.0, Wikimedia Commons</div>
					</a>
				</div>
			</div>
		</div>
	</section>
</main>