---
title: Partners &middot; Oswald Labs Accelerator
desc: Oswald Labs partners with impact-driven, passionate companies to bring the best of technology in the hands of the next billion users.
---

<header id="masthead" class="light">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
	</div>
	<%= partial "accelerator_nav" %>
</header>

<main id="content">
	<section class="pt-5">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-6">
					<div class="mb-5">
						<h1>Partners</h1>
						<p>Oswald Labs partners with impact-driven, passionate companies to bring the best of technology in the hands of the next billion users. Interested in working with us? <a href="/contact?department=accelerator">Get in touch</a>.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 d-flex align-items-stretch">
					<a target="_blank" rel="noopener" href="https://aws.amazon.com/activate/" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="mb-4 d-flex align-items-center justify-content-center h-65">
							<img alt="AWS Activate logo" class="dark-invert" style="height: 32px" src="/images/logos/awsactivate.png">
						</div>
						<div><strong>AWS Activate</strong> is a program by Amazon Web Services designed to provide startups with the low cost, easy to use cloud computing resources they need to scale and grow their businesses.</div>
					</a>
				</div>
				<div class="col-md-4 d-flex align-items-stretch">
					<a target="_blank" rel="noopener" href="https://novelt.com/en/" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="mb-4 d-flex align-items-center justify-content-center h-65">
							<img alt="Novel-T logo" style="height: 40px" src="/images/logos/novel-t.svg">
						</div>
						<div><strong>Novel-T</strong> offers startups and innovative entrepreneurs access to a dynamic ecosystem. By connecting entrepreneurship to high-tech innovation and employing Novel-Tools, they help startups to become game changers.</div>
					</a>
				</div>
				<div class="col-md-4 d-flex align-items-stretch">
					<a target="_blank" rel="noopener" href="http://www.eyefocus.co" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="mb-4 d-flex align-items-center justify-content-center h-65">
							<img alt="EyeFocus Accelerator logo" style="height: 65px" src="/images/eyefocus.webp">
						</div>
						<div><strong>EyeFocus Accelerator</strong> is the world's first innovation program for companies producing products for preventing, curing, and living with eye disease and blindness.</div>
					</a>
				</div>
				<div class="col-md-4 d-flex align-items-stretch">
					<a target="_blank" rel="noopener" href="https://unloq.io/" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="mb-4 d-flex align-items-center justify-content-center h-65">
							<img alt="UNLOQ logo" class="dark-invert" style="height: 40px" src="/images/logos/unloq.svg">
						</div>
						<div><strong>UNLOQ</strong> is a simple &amp; secure multi-factor authentication, transaction authorisation and data encryption SaaS company based in London. UNLOQ provides their services to our startups for free.</div>
					</a>
				</div>
				<div class="col-md-4 d-flex align-items-stretch">
					<a target="_blank" rel="noopener" href="http://art4edu.in" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="mb-4 d-flex align-items-center justify-content-center h-65">
							<img alt="Art4Education logo" style="height: 65px" src="/images/a4e.png">
						</div>
						<div><strong>Art4Education</strong> is a student-driven, not for profit initiative to sponsor the education of underprivileged children by using art and talents to raise and aggregate funds.</div>
					</a>
				</div>
				<div class="col-md-4 d-flex align-items-stretch">
					<a target="_blank" rel="noopener" href="http://hardstart.nl/" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="mb-4 d-flex align-items-center justify-content-center h-65">
							<img alt="Hardstart logo" style="height: 45px" src="/images/logos/hardstart.png">
						</div>
						<div><strong>Hardstart</strong> is an association for student entrepreneurs in the region of Twente in the Netherlands. It incubates 10+ startups with 60+ members and $1M+ in value.</div>
					</a>
				</div>
				<div class="col-md-4 d-flex align-items-stretch">
					<a target="_blank" rel="noopener" href="http://industrydevelopment.net/" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="mb-4 d-flex align-items-center justify-content-center h-65">
							<img alt="Industry Development Network logo" style="height: 65px" src="/images/logos/idn.png">
						</div>
						<div><strong>Industry Development Network</strong> is a team of industry experts who have been a part of hundreds of new product introductions and technocommercial successes in the marketplace.</div>
					</a>
				</div>
				<div class="col-md-4 d-flex align-items-stretch">
					<a target="_blank" rel="noopener" href="http://mcdcindia.com/" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="mb-4 d-flex align-items-center justify-content-center h-65">
							<img alt="MCDC logo" style="height: 35px" src="/images/logos/mcdc.png">
						</div>
						<div><strong>MCDC</strong> is a development consulting company lead by team of product passionate developers and market positioning experts striving to create awesome, unique product positioning and competitive designs.</div>
					</a>
				</div>
			</div>
		</div>
	</section>
</main>