---
title: Press &middot; Oswald Labs
desc: "Oswald Labs, the award-winning accessibility technology company, has been featured by the press across the world. Learn more or download our presskit."
---

<header id="masthead" class="light">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
	</div>
	<div class="darkgray">
		<div class="container">
			<div class="row pt-2 pb-2">
				<div class="col-md-3 d-flex align-items-center">
					<h2 class="mb-0 text-body font-weight-bold p-2 pl-3 p-md-0">Presskit</h2>
				</div>
				<div class="col-md d-flex justify-content-end pr-0">
					<%= partial "presskit_nav" %>
				</div>
			</div>
		</div>
	</div>
</header>

<main id="content">
	<section class="pt-5">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-6">
					<div class="mb-5">
						<h1>Press Features</h1>
						<p>Oswald Labs has been featured by the press across the globe. You can find some of these articles here. If you're a member of the press, you can <a href="/logos">download our presskit</a> too.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 d-flex align-items-stretch">
					<a href="http://www.huffingtonpost.in/2016/08/01/two-teenagers-from-delhi-want-to-change-the-web-with-this-readin_a_21442472/" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="h5">
							<img alt="" src="https://tse2.mm.bing.net/th?q=huffpost+app+icon&w=15&h=15&p=0&dpr=2&adlt=moderate&c=1" class="mr-2 mb-2 domain-icon">
							HuffPost
						</div>
						<div>These Delhi Teens Want To Change The Web With Their Reading App For Dyslexics</div>
					</a>
				</div>
				<div class="col-md-6 d-flex align-items-stretch">
					<a href="https://www.pressreader.com/@Anand_Chowdhary.1/csb_40LcGNIT7IG_V_NlgS1wXCRgZ9b4zyVbISEwGGcggRs" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="h5">
							<img alt="" src="https://tse2.mm.bing.net/th?q=hindustan+times+app+icon&w=15&h=15&p=0&dpr=2&adlt=moderate&c=1" class="mr-2 mb-2 domain-icon">
							Hindustan Times
						</div>
						<div>App to help dyslexics browse the internet</div>
					</a>
				</div>
				<div class="col-md-6 d-flex align-items-stretch">
					<a href="https://www.scoopwhoop.com/Delhi-Teens-Created-Reading-App-For-People-With-Dyslexia/" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="h5">
							<img alt="" src="https://icons.better-idea.org/icon?url=scoopwhoop.com&size=80..120..200" class="mr-2 mb-2 domain-icon">
							ScoopWhoop
						</div>
						<div>These Delhi Teens Created A Reading App For People With Dyslexia. Bravo!</div>
					</a>
				</div>
				<div class="col-md-6 d-flex align-items-stretch">
					<a target="_blank" href="https://yourstory.com/2017/03/just-16-and-18-delhi-teens-web-accessible-dyslexics-visually-impaired/" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="h5">
							<img alt="" src="https://s2.googleusercontent.com/s2/favicons?alt=s&sz=32&domain_url=yourstory.com" class="mr-2 mb-2 domain-icon">
							YourStory
						</div>
						<div>At just 16 and 18, these Delhi teens are using tech to make the web accessible to dyslexics and the visually impaired</div>
					</a>
				</div>
				<div class="col-md-6 d-flex align-items-stretch">
					<a href="https://www.thebetterindia.com/63239/oswald-web-access-dyslexia-visually-impaired/" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="h5">
							<img alt="" src="https://tse2.mm.bing.net/th?q=the+better+india+logo&w=15&h=15&p=0&dpr=2&adlt=moderate&c=1" class="mr-2 mb-2 domain-icon">
							The Better India
						</div>
						<div>How Two Teenagers Are Helping People with Dyslexia &amp; Visual Impairments Access the Web</div>
					</a>
				</div>
				<div class="col-md-6 d-flex align-items-stretch">
					<a href="https://angelhack.com/2016/06/18/learn-two-teens-delhi-coding-make-world-better-place/" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="h5">
							<img alt="" src="https://icons.better-idea.org/icon?url=angelhack.com&size=80..120..200" class="mr-2 mb-2 domain-icon">
							AngelHack
						</div>
						<div>Learn How Two Teens From Delhi Are Coding To Make The World A Better Place!</div>
					</a>
				</div>
				<div class="col-md-6 d-flex align-items-stretch">
					<a href="http://www.parentherald.com/articles/58928/20160804/special-needs-technology-web-reading-app-people-dyslexia-learning-disabilities.htm" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="h5">
							<img alt="" src="https://tse2.mm.bing.net/th?q=p+serif&w=15&h=15&p=0&dpr=2&adlt=moderate&c=1" class="mr-2 mb-2 domain-icon">
							Parent Herald
						</div>
						<div>Special Needs Technology Devised By Teens: Web Reading App For People With Dyslexia, Learning Disabilities And Visual Impairments</div>
					</a>
				</div>
				<div class="col-md-6 d-flex align-items-stretch">
					<a href="https://indianceo.in/news/meet-startup-india-rocks-finale-2016-winners/" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="h5">
							<img alt="" src="https://s2.googleusercontent.com/s2/favicons?alt=s&sz=32&domain_url=indianceo.in" class="mr-2 mb-2 domain-icon">
							IndianCEO
						</div>
						<div>Meet Startup India Rocks Finale 2016 Winners</div>
					</a>
				</div>
				<div class="col-md-6 d-flex align-items-stretch">
					<a href="http://bwdisrupt.businessworld.in/article/Oswald-Foundation-10-Month-Old-Startup-Goes-Multinational/14-07-2017-122124/" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="h5">
							<img alt="" src="https://s2.googleusercontent.com/s2/favicons?alt=s&sz=32&domain_url=bwdisrupt.businessworld.in" class="mr-2 mb-2 domain-icon">
							BW Disrupt
						</div>
						<div>Oswald Foundation, 10 Month Old Startup Goes Multinational</div>
					</a>
				</div>
				<div class="col-md-6 d-flex align-items-stretch">
					<a href="http://bwdisrupt.businessworld.in/article/BharatHacks-a-Hackathon-to-Solve-Problems-for-India/27-07-2017-123013/" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="h5">
							<img alt="" src="https://s2.googleusercontent.com/s2/favicons?alt=s&sz=32&domain_url=bwdisrupt.businessworld.in" class="mr-2 mb-2 domain-icon">
							BW Disrupt
						</div>
						<div>BharatHacks, a Hackathon to Solve Problems for India</div>
					</a>
				</div>
				<div class="col-md-6 d-flex align-items-stretch">
					<a href="http://bwdisrupt.businessworld.in/article/Oswald-Foundation-Rebrands-to-Oswald-Labs-and-Launches-A11Y-co-Web-Accessibility-Platform/11-12-2017-134288/" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="h5">
							<img alt="" src="https://s2.googleusercontent.com/s2/favicons?alt=s&sz=32&domain_url=bwdisrupt.businessworld.in" class="mr-2 mb-2 domain-icon">
							BW Disrupt
						</div>
						<div>Oswald Foundation Rebrands to Oswald Labs and Launches A11Y.co Web Accessibility Platform</div>
					</a>
				</div>
				<div class="col-md-6 d-flex align-items-stretch">
					<a href="https://www.inshorts.com/news/teens-create-tool-to-help-dyslexics-access-web-1470052316018" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="h5">
							<img alt="" src="https://icons.better-idea.org/icon?url=inshorts.com&size=80..120..200" class="mr-2 mb-2 domain-icon">
							Inshorts
						</div>
						<div>Teens create tool to help dyslexics access web</div>
					</a>
				</div>
				<div class="col-md-6 d-flex align-items-stretch">
					<a href="https://newzhook.com/story/3752" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="h5">
							<img alt="" src="https://icons.better-idea.org/icon?url=newzhook.com&size=80..120..200" class="mr-2 mb-2 domain-icon">
							Newz Hook
						</div>
						<div>Delhi teens create Web tool for dyslexics &amp; vision impaired</div>
					</a>
				</div>
				<div class="col-md-6 d-flex align-items-stretch">
					<a href="https://newzhook.com/story/9051" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="h5">
							<img alt="" src="https://icons.better-idea.org/icon?url=newzhook.com&size=80..120..200" class="mr-2 mb-2 domain-icon">
							Newz Hook
						</div>
						<div>Delhi teens start company to make accessible products</div>
					</a>
				</div>
				<div class="col-md-6 d-flex align-items-stretch">
					<a href="http://www.indianwomenblog.org/developed-by-school-kids-this-app-makes-reading-easy-for-dyslexics/" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="h5">
							<img alt="" src="https://icons.better-idea.org/icon?url=indianwomenblog.org&size=80..120..200" class="mr-2 mb-2 domain-icon">
							Indian Women Blog
						</div>
						<div>Developed By School Kids, This App Makes Reading Easy For Dyslexics</div>
					</a>
				</div>
				<div class="col-md-6 d-flex align-items-stretch">
					<a href="https://homegrown.co.in/article/60219/thanks-to-two-indian-teenagers-dyslexic-internet-users-can-now-surf-the-web-with-ease/" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="h5">
							<img alt="" src="https://s2.googleusercontent.com/s2/favicons?alt=s&sz=32&domain_url=homegrown.co.in" class="mr-2 mb-2 domain-icon">
							Homegrown
						</div>
						<div>Thanks To Two Indian Teenagers, Dyslexic Internet Users Can Now Surf The Web With Ease</div>
					</a>
				</div>
				<div class="col-md-6 d-flex align-items-stretch">
					<a href="http://www.daisy.org/techwatch-2016-10b" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="h5">
							<img alt="" src="https://s2.googleusercontent.com/s2/favicons?alt=s&sz=32&domain_url=daisy.org" class="mr-2 mb-2 domain-icon">
							The DAISY Consortium
						</div>
						<div>Featured Tool: Oswald</div>
					</a>
				</div>
			</div>
			<div class="row justify-content-center mt-5">
				<div class="card card-body col-md-5 p-5">
					<h3>Presskit</h3>
					<p>Find our official logos, pictures, and information in our presskit.</p>
					<div>
						<a href="/logos" class="btn btn-primary">Download our presskit &rarr;</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>