---
title: Press &middot; Oswald Labs
desc: Oswald Labs, the award-winning accessibility technology company, has been featured by the press across the world. Learn more or download our presskit.
---

<header id="masthead" class="light">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
	</div>
	<%= partial "presskit_nav" %>
</header>

<main id="content">
	<section class="pt-5">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-6">
					<div class="mb-5">
						<h1>Press Features</h1>
						<p>Oswald Labs has been featured by the press across the globe. You can find some of these articles here. If you're a member of the press, you can <a href="/logos">download our presskit</a> too.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a href="https://issuu.com/utnieuws/docs/carrierespecial2018" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/utoday.nl" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>UToday</strong></div>
									<div>Business & Career Magazine</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="https://www.thenewsminute.com/article/andhra-organizes-its-first-annual-startap-awards-swiggy-bags-startup-year-81967" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/thenewsminute.com" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>The News Minute</strong></div>
									<div>Andhra organizes its first annual StartAP awards</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="https://launchstory.in/story/oswald-labs-technology-for-the-next-billion-users/" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/launchstory.in" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>LaunchStory</strong></div>
									<div>Technology for the next billion users</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="https://launchstory.in/story/oswald-labs-technology-for-the-next-billion-users/" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/launchstory.in" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>LaunchStory</strong></div>
									<div>Technology for the next billion users</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="https://geek.digit.in/2018/03/startups-are-answering-the-accessibility-question/" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/digit.in" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>Digit Geek</strong></div>
									<div>Startups are answering the accessibility question</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="https://www.forbes.com/profile/oswald-labs/?list=30under30-asia-social-entrepreneurs" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/forbes.com" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>Forbes</strong></div>
									<div>30 Under 30 Asia 2018</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="https://fd.nl/fd-persoonlijk/1231259/talentenspecial-de-lijst" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/fd.nl" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>Het Financieele Dagblad</strong></div>
									<div>Deze vijftig talenten zetten de toon</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="https://www.huffingtonpost.in/2016/08/01/two-teenagers-from-delhi-want-to-change-the-web-with-this-readin_a_21442472/" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/huffpost.com" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>HuffPost</strong></div>
									<div>These Delhi Teens Want To Change The Web With Their Reading App For Dyslexics</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="https://www.scoopwhoop.com/Delhi-Teens-Created-Reading-App-For-People-With-Dyslexia/" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/scoopwhoop.com" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>ScoopWhoop</strong></div>
									<div>These Delhi Teens Created A Reading App For People With Dyslexia. Bravo!</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a target="_blank" rel="noopener" href="https://yourstory.com/2017/03/just-16-and-18-delhi-teens-web-accessible-dyslexics-visually-impaired/" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/yourstory.com" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>YourStory</strong></div>
									<div>At just 16 and 18, these Delhi teens are using tech to make the web accessible to dyslexics and the visually impaired</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="https://www.thebetterindia.com/63239/oswald-web-access-dyslexia-visually-impaired/" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/thebetterindia.com" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>The Better India</strong></div>
									<div>How Two Teenagers Are Helping People with Dyslexia &amp; Visual Impairments Access the Web</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="http://thetimeliners.com/two-indian-teenagers-built-app-help-dyslexic-people-use-internet" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/thetimeliners.com" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>The Timeliners</strong></div>
									<div>Two Indian Teenagers Built an App To Help Dyslexic People Use the Internet</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="http://www.parentherald.com/articles/58928/20160804/special-needs-technology-web-reading-app-people-dyslexia-learning-disabilities.htm" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/parentherald.com" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>Parent Herald</strong></div>
									<div>Web Reading App For People With Dyslexia, Learning Disabilities And Visual Impairments</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="https://indianceo.in/news/meet-startup-india-rocks-finale-2016-winners/" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/indianceo.in" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>IndianCEO</strong></div>
									<div>Meet Startup India Rocks Finale 2016 Winners</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="http://bwdisrupt.businessworld.in/article/Oswald-Foundation-10-Month-Old-Startup-Goes-Multinational/14-07-2017-122124/" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/businessworld.in" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>BW Disrupt</strong></div>
									<div>Oswald Foundation, 10 Month Old Startup Goes Multinational</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="http://bwdisrupt.businessworld.in/article/BharatHacks-a-Hackathon-to-Solve-Problems-for-India/27-07-2017-123013/" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/businessworld.in" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>BW isrupt</strong></div>
									<div>BharatHacks, a Hackathon to Solve Problems for India</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="http://bwdisrupt.businessworld.in/article/Oswald-Foundation-Rebrands-to-Oswald-Labs-and-Launches-A11Y-co-Web-Accessibility-Platform/11-12-2017-134288/" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/businessworld.in" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>BW Disrupt</strong></div>
									<div>Oswald Foundation Rebrands to Oswald Labs and Launches A11Y.co Web Accessibility Platform</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="https://www.inshorts.com/news/teens-create-tool-to-help-dyslexics-access-web-1470052316018" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/inshorts.com" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>Inshorts</strong></div>
									<div>Teens create tool to help dyslexics access web</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="https://newzhook.com/story/3752" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/newzhook.com" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>Newz Hook</strong></div>
									<div>Delhi teens create Web tool for dyslexics &amp; vision impaired</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="https://newzhook.com/story/9051" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/newzhook.com" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>Newz Hook</strong></div>
									<div>Delhi teens start company to make accessible products</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="http://www.indianwomenblog.org/developed-by-school-kids-this-app-makes-reading-easy-for-dyslexics/" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/indianwomenblog.org" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>Indian Women Blog</strong></div>
									<div>Developed By School Kids, This App Makes Reading Easy For Dyslexics</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="https://homegrown.co.in/article/60219/thanks-to-two-indian-teenagers-dyslexic-internet-users-can-now-surf-the-web-with-ease/" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/homegrown.co.in" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>Homegrown</strong></div>
									<div>Thanks To Two Indian Teenagers, Dyslexic Internet Users Can Now Surf The Web With Ease</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="http://www.daisy.org/techwatch-2016-10b" class="text-dark d-block mb-4">
						<div class="row">
							<div class="col-2">
								<img aria-hidden="true" alt="" src="https://logo.clearbit.com/www.daisy.org" class="rounded-circle">
							</div>
							<div class="col d-flex align-items-center pl-0">
								<div>
									<div><strong>The DAISY Consortium</strong></div>
									<div>Featured Tool: Oswald</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="row justify-content-center mt-5">
				<div class="card card-body col-md-5 p-5">
					<h3>Presskit</h3>
					<p>Find our official logos, pictures, and information in our presskit.</p>
					<div>
						<a href="/logos" class="btn btn-primary">Download our presskit &rarr;</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>