---
title: Press &middot; Oswald Labs
desc: Oswald Labs, the award-winning accessibility technology company, has been featured by the press across the world. Learn more or download our presskit.
---

<header id="masthead" class="light">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
	</div>
	<%= partial "presskit_nav" %>
</header>

<main id="content">
	<section class="pt-5">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-6">
					<div class="mb-5">
						<h1>Press Features</h1>
						<p>Oswald Labs has been featured by the press across the globe. You can find some of these articles here. If you're a member of the press, you can <a href="/logos">download our presskit</a> too.</p>
					</div>
				</div>
			</div>
			<div class="row microlink">
				<div class="col-md-6">
					<a href="https://www.forbes.com/profile/oswald-labs/?list=30under30-asia-social-entrepreneurs">
						Forbes: Forbes 30 Under 30 Asia 2018
					</a>
				</div>
				<div class="col-md-6">
					<a href="https://fd.nl/fd-persoonlijk/1231259/talentenspecial-de-lijst">
						FD: Deze vijftig talenten zetten de toon
					</a>
				</div>
				<div class="col-md-6">
					<a href="http://www.huffingtonpost.in/2016/08/01/two-teenagers-from-delhi-want-to-change-the-web-with-this-readin_a_21442472/">
						HuffPost: These Delhi Teens Want To Change The Web With Their Reading App For Dyslexics
					</a>
				</div>
				<div class="col-md-6">
					<a href="https://www.scoopwhoop.com/Delhi-Teens-Created-Reading-App-For-People-With-Dyslexia/">
						ScoopWhoop: These Delhi Teens Created A Reading App For People With Dyslexia. Bravo!
					</a>
				</div>
				<div class="col-md-6">
					<a target="_blank" rel="noopener" href="https://yourstory.com/2017/03/just-16-and-18-delhi-teens-web-accessible-dyslexics-visually-impaired/">
						YourStory: At just 16 and 18, these Delhi teens are using tech to make the web accessible to dyslexics and the visually impaired
					</a>
				</div>
				<div class="col-md-6">
					<a href="https://www.thebetterindia.com/63239/oswald-web-access-dyslexia-visually-impaired/">
						The Better India: How Two Teenagers Are Helping People with Dyslexia &amp; Visual Impairments Access the Web
					</a>
				</div>
				<div class="col-md-6">
					<a href="http://thetimeliners.com/two-indian-teenagers-built-app-help-dyslexic-people-use-internet">
						The Timeliners: Two Indian Teenagers Built an App To Help Dyslexic People Use the Internet
					</a>
				</div>
				<div class="col-md-6">
					<a href="http://www.parentherald.com/articles/58928/20160804/special-needs-technology-web-reading-app-people-dyslexia-learning-disabilities.htm">
						Parent Herald: Special Needs Technology Devised By Teens: Web Reading App For People With Dyslexia, Learning Disabilities And Visual Impairments
					</a>
				</div>
				<div class="col-md-6">
					<a href="https://indianceo.in/news/meet-startup-india-rocks-finale-2016-winners/">
						IndianCEO: Meet Startup India Rocks Finale 2016 Winners
					</a>
				</div>
				<div class="col-md-6">
					<a href="http://bwdisrupt.businessworld.in/article/Oswald-Foundation-10-Month-Old-Startup-Goes-Multinational/14-07-2017-122124/">
						BW Disrupt: Oswald Foundation, 10 Month Old Startup Goes Multinational
					</a>
				</div>
				<div class="col-md-6">
					<a href="http://bwdisrupt.businessworld.in/article/BharatHacks-a-Hackathon-to-Solve-Problems-for-India/27-07-2017-123013/">
						BW Disrupt: BharatHacks, a Hackathon to Solve Problems for India
					</a>
				</div>
				<div class="col-md-6">
					<a href="http://bwdisrupt.businessworld.in/article/Oswald-Foundation-Rebrands-to-Oswald-Labs-and-Launches-A11Y-co-Web-Accessibility-Platform/11-12-2017-134288/">
						BW Disrupt: Oswald Foundation Rebrands to Oswald Labs and Launches A11Y.co Web Accessibility Platform
					</a>
				</div>
				<div class="col-md-6">
					<a href="https://www.inshorts.com/news/teens-create-tool-to-help-dyslexics-access-web-1470052316018">
						Inshorts: Teens create tool to help dyslexics access web
					</a>
				</div>
				<div class="col-md-6">
					<a href="https://newzhook.com/story/3752">
						Newz Hook: Delhi teens create Web tool for dyslexics &amp; vision impaired
					</a>
				</div>
				<div class="col-md-6">
					<a href="https://newzhook.com/story/9051">
						Newz Hook: Delhi teens start company to make accessible products
					</a>
				</div>
				<div class="col-md-6">
					<a href="http://www.indianwomenblog.org/developed-by-school-kids-this-app-makes-reading-easy-for-dyslexics/">
						Indian Women Blog: Developed By School Kids, This App Makes Reading Easy For Dyslexics
					</a>
				</div>
				<div class="col-md-6">
					<a href="https://homegrown.co.in/article/60219/thanks-to-two-indian-teenagers-dyslexic-internet-users-can-now-surf-the-web-with-ease/">
						Homegrown: Thanks To Two Indian Teenagers, Dyslexic Internet Users Can Now Surf The Web With Ease
					</a>
				</div>
				<div class="col-md-6">
					<a href="http://www.daisy.org/techwatch-2016-10b">
						The DAISY Consortium: Featured Tool: Oswald
					</a>
				</div>
			</div>
			<div class="row justify-content-center mt-5">
				<div class="card card-body col-md-5 p-5">
					<h3>Presskit</h3>
					<p>Find our official logos, pictures, and information in our presskit.</p>
					<div>
						<a href="/logos" class="btn btn-primary">Download our presskit &rarr;</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<script src="https://cdn.jsdelivr.net/npm/microlinkjs@latest/umd/microlink.min.js"></script>
<script>
	microlink(".microlink .col-md-6 > a", {
		round: true,
	});
</script>
<style> .microlink_card { margin-bottom: 2rem } </style>