---
title: Privacy Policy &middot; Oswald Labs
---

<header id="masthead" class="<%= current_page.data.template || "light" %>">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
	</div>
	<%= partial "policies_nav" %>
</header>

<main id="content">
	<section>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div>
						<h1>Privacy Policy</h1>
						<p>This Privacy Policy applies to the a11y.co software, code, widget, plugin, associated services and website located at a11y.co, its sub-domains and any associated web-based and mobile applications (collectively, "a11y.co") and that are the property of a11y.co or its parent company, Oswald Foundation (OswaldAbles Technologies Private Limited).</p>
						<p>a11y.co's Privacy Policy tells you what information we use, collect or disclose to third parties about our users.</p>
						<p>We collect and use your information internally and may disclose your information to others, third parties outside of a11y.co, in certain situations that are described in the Privacy Policy.</p>
						<p>The Privacy Policy addresses two kinds of information: (1) Personal Information; and (2) Anonymous Information.</p>
						<p>Personal Information identifies you as an individual, such as your first and last name, address, school, email address, online contact information, image or audio of your voice. Anonymous Information does not identify you and can be combined with Anonymous Information about other users.</p>
						<h2 class="h4">What Information We Collect</h2>
						<p>We collect your Personal Information as follows:</p>
						<ul>
							<li>Registration information: your first, last name and email</li>
							<li>Your company name, address, contact information</li>
						</ul>
						<p>We collect your Anonymous Information as follows:</p>
						<ul>
							<li>Data derived from cookies: what pages you viewed, how long you were on a particular page or whether you clicked on a link, feature or option. A cookie is a small file we place on your computer and acts as a unique identifier. A cookie does not allow us access to your computer or any information about you, other than the data you choose to share with us. By declining to accept cookies you may not have access to a11y.co features.</li>
							<li>When a user uses a11y.co software on your website, we collect information about them to store their preferences. We also collect information about your website's pageviews, users, etc., to track usage.</li>
						</ul>
						<h2 class="h4">How We Use Your Information</h2>
						<p>We use your Personal and Anonymous Information internally to understand your needs and provide you with better service and information, in particular:</p>
						<ul>
							<li>Internal record keeping: to establish and update user accounts.</li>
							<li>Answering questions: to respond to queries you have sent to us.</li>
							<li>Improving or expanding our accessibility content and offerings, including software and services.</li>
							<li>Promotion: we may periodically send promotional emails about our new products, special offers or other information</li>
							<li>Educational and market research: from time to time, we may use your information to contact you by email or mail for market research purposes or educational studies.</li>
							<li>We use traffic log cookies to identify which website pages are being used. This helps us analyze data and improve our accessibility product in order to tailor them to customer needs.</li>
						</ul>
						<h2 class="h4">Who We Disclose Information to</h4>
						<p>We disclose your Personal and Anonymous Information as follows:</p>
						<ul>
							<li>We disclose your Transaction Information to third parties for the purpose of processing your payment and for fraud prevention purposes.</li>
							<li>To respond to inquiries from law enforcement or to defend our rights or the rights of others.</li>
						</ul>
						<h2 class="h4">Third Party Software and Services</h4>
						<p>Use of a11y.co may involve third party software and services.</p>
						<p>Use of third party software and services, including websites, may disclose your Personal or Anonymous Information to third parties. The Privacy Policy only applies to information that a11y.co collects, uses or discloses and does not apply to the collection or use of your information by third parties through third party software or services. Use of third party software or services in a11y.co may require you to accept a third party’s terms of service/use or privacy policy. It is your sole responsibility to determine whether any third party privacy policy is acceptable to you.</p>
						<h2 class="h4">Security</h4>
						<p>We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online. a11y.co uses industry standard SSL (secure socket layer) encryption to transfer private Personal Information.</p>
						<p>Only the a11y.co software and services are publicly accessible, no additional ports are opened in our system’s security groups other than required and any information stored in our databases is not publicly accessible and exists only on our internal network.</p>
						<h2 class="h4">Updates</h2>
						<p>a11y.co reserves the right, at its sole discretion, to change or modify or to add or remove portions of the Privacy Policy at any time ("Updates"). You will be deemed to have accepted any Update by continuing to use a11y.co.</p>
						<h2 class="h4">Contact Us</h2>
						<p>If you have questions or comments about the Privacy Policy or a11y.co data collection in general, please send us an email at <a href="mailto:yourfriends@oswaldlabs.com">yourfriends@oswaldlabs.com</a> or contact us by mail: Oswald Foundation APAQ HQ, E-267, Greater Kailash II (GK-2), New Delhi 110048, INDIA.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>