---
title: Shravan &middot; Oswald Labs
desc: "Oswald Labs partners with impact-driven, passionate companies to bring the best of technology in the hands of the next billion users."
---

<header id="masthead" class="light">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
	</div>
	<div class="darkgray">
		<div class="container">
			<div class="row pt-2 pb-2">
				<div class="col-md-3 d-flex align-items-center">
					<h2 class="mb-0 text-body font-weight-bold p-2 pl-3 p-md-0">
						<img aria-hidden="true" alt="Shravan logo" src="https://upload.wikimedia.org/wikipedia/commons/c/c0/Shravan.svg" class="icon-image">
						<span>Shravan</span>
					</h2>
				</div>
				<div class="col-md d-flex justify-content-end pr-0">
					<nav class="nav">
						<a class="nav-link active" href="/shravan">Introduction</a>
						<a class="nav-link" href="/shravan/technology">Technology</a>
						<a class="nav-link" href="/shravan/features">Features</a>
						<a target="_blank" class="nav-link" href="#">Preregister<i title="External link" class="fas fa-external-link-alt ml-2 text-muted"></i></a>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>

<main id="content">
	<section class="pt-5">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-6">
					<div class="mb-5">
						<h1>Shravan</h1>
						<p>Oswald Labs partners with impact-driven, passionate companies to bring the best of technology in the hands of the next billion users. Interested in working with us? <a href="/contact?department=accelerator">Get in touch</a>.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 d-flex align-items-stretch">
					<a target="_blank" href="#" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="mb-4">
							<img alt="" style="height: 65px" src="https://oswaldlabs.com/partners/unifiers.png">
						</div>
						<div><strong>Unifiers</strong> is a social infrastructure organization trying to train and employ India's youth, and our partnership is helping build large-scale accessible portals for online training.</div>
					</a>
				</div>
				<div class="col-md-4 d-flex align-items-stretch">
					<a target="_blank" href="#" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="mb-4">
							<img alt="" style="height: 65px" src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_300,w_300,f_auto,q_auto/v1/207099/edzdqea3cfidtxap33iu.jpg">
						</div>
						<div><strong>EyeFocus Accelerator</strong> is the world's first innovation program for companies producing products for preventing, curing, and living with eye disease and blindness.</div>
					</a>
				</div>
				<div class="col-md-4 d-flex align-items-stretch">
					<a target="_blank" href="#" class="list-group-item list-group-item-action p-4 mb-4">
						<div class="mb-4">
							<img alt="" style="height: 65px" src="https://oswaldlabs.com/partners/a4e.png">
						</div>
						<div><strong>Art4Education</strong> is a student-driven, not for profit initiative to sponsor the education of underprivileged children by using art and talents to raise and aggregate funds.</div>
					</a>
				</div>
			</div>
		</div>
	</section>
</main>