---
title: Shravan &middot; Oswald Labs
desc: Shravan is the first end-to-end accessible smartphone OS that can be easily used by the visually impaired, unlettered, senior citizens, and everyone in between.
---

<header id="masthead" class="light">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
	</div>
	<%= partial "shravan_nav" %>
</header>

<main id="content">
	<section class="pt-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-5 mr-0 mr-md-5 d-flex align-items-center">
					<div class="mb-5">
						<h1>World's first accessible smartphone OS.</h1>
						<p class="mt-3">Introducing Shravan, the world's first end-to-end accessible smartphone OS. With our patent-pending speech and vibration technology, Shravan can be easily used by the visually impaired, the unlettered, senior citizens, and everyone in between.</p>
						<p class="mt-4">
							<a target="_blank" rel="noopener" href="https://eepurl.com/clrg1n" class="btn btn-primary">Preregister now &rarr;</a>
						</p>
					</div>
				</div>
				<div class="col-md-5">
					<img alt="" src="/images/shravan-1.png">
				</div>
			</div>
			<div class="row mt-5r">
				<div class="col-md">
					<img alt="" src="/images/shravan-image-1.png">
					<h3 class="h5 mt-3">Breaking Barriers</h3>
					<p>It works for people who have visual impairment, learning disorders, or are senior citizens. It also works for villagers, illiterate audiences, disabled users, and everyone in between.</p>
				</div>
				<div class="col-md mt-5 mt-md-0">
					<img alt="" src="/images/shravan-image-2.png">
					<h3 class="h5 mt-3">Revolutionary Technology</h3>
					<p>It uses accessible interface patterns with different modes for correcting system-wide contrast and design settings using a patent-pending combination of vibrations, speech, and touch.</p>
				</div>
				<div class="col-md mt-5 mt-md-0">
					<img alt="" src="/images/shravan-image-3.png">
					<h3 class="h5 mt-3">Made for Digital India</h3>
					<p>It has Aadhar integration and works in native languages like Hindi, Bengali, Telugu, Marathi, Tamil, Urdu, Gujarati, Kannada, Malayalam, Odia, Punjab, Assamese, and Maithili.</p>
				</div>
				<div class="col-md mt-5 mt-md-0">
					<img alt="" src="/images/shravan-image-4.png">
					<h3 class="h5 mt-3">Tons of Features</h3>
					<p>It has a built-in voice assistant, internet applications like live news and sports scores, music streaming, and search, and emergency features like one-tap ambulance access.</p>
				</div>
			</div>
		</div>
	</section>
</main>