---
title: Spaces &middot; Oswald Labs Accelerator
desc: "Oswald Labs partners with impact-driven, passionate companies to bring the best of technology in the hands of the next billion users."
---

<header id="masthead" class="light">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
	</div>
	<%= partial "accelerator_nav" %>
</header>

<main id="content">
	<section class="pt-5">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-6">
					<div class="mb-5">
						<h1>Spaces</h1>
						<p>Oswald Labs Accelerator spaces are where startups part of the program can work out of for free. Interested in sponsoring your location? <a href="/contact?department=accelerator">Get in touch</a>.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 d-flex align-items-stretch">
					<div class="card">
						<img alt="" src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&center=Oswald+Foundation+New+Delhi+India&key=AIzaSyCuiZevIb1G87KAoLRSECEdWNBQ06JCMjU" class="w-100">
						<div class="card-body">
							<div><strong>Oswald Labs APAC HQ</strong></div>
							<div>E-267, Greater Kailash II (GK-2)</div>
							<diV>New Delhi 110048, Delhi</div>
							<diV>India</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex align-items-stretch mt-5 mt-md-0">
					<div class="card">
						<img alt="" src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&center=Bastille+De+Hems+10+Enschede+Netherlands&key=AIzaSyCuiZevIb1G87KAoLRSECEdWNBQ06JCMjU" class="w-100">
						<div class="card-body">
							<div><strong>Hardstart</strong></div>
							<div>De Hems 10, 2nd Floor</div>
							<diV>Enschede 7522N, Overijssel</div>
							<div>The Netherlands</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex align-items-stretch mt-5 mt-md-0">
					<div class="card">
						<img alt="" src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&center=28-A+Street+2+Shiv+Vihar+Sector+12+Gurugram+122001+Haryana+India&key=AIzaSyCuiZevIb1G87KAoLRSECEdWNBQ06JCMjU" class="w-100">
						<div class="card-body">
							<div><strong>Melangebox HQ</strong></div>
							<div>28A, Street #2, Shiv Vihar, Sector 12</div>
							<diV>Gurugram 122001, Haryana</div>
							<diV>India</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>