---
title: Team &middot; Oswald Labs
desc: "Oswald Labs is an award-winning accessibility technology company with a team of 10+ passionate designers, engineers, and researchers."
---

<header id="masthead" class="light">
	<div class="container pt-3">
		<%= partial "navbar" %>
		<div class="row justify-content-between">
			<div class="col-md-6">
				<div class="hero mb-5">
					<h1>Team</h1>
					<p>Oswald Labs is an innovative, young company of 10+ motivated individuals with a mission to make technology accessible to everyone. We're based out of India and the Netherlands.</p>
				</div>
			</div>
		</div>
	</div>
</header>

<main id="content">
	<section>
		<div class="container">
			<div class="row text-center">
				<div class="col-6 col-md-3 mb-5">
					<a class="d-block" href="/team/anand"><img alt="Anand Chowdhary" src="/images/team/anand.png" class="rounded-circle w-50"></a>
					<div class="h5 font-weight-bold mt-4 mb-0">Anand Chowdhary</div>
					<div>Chief Executive Officer</div>
					<p class="small mt-2">Creative technologist and entrepreneur, student at University of Twente</p>
					<p><a href="/team/anand">Visit profile</a></p>
				</div>
				<div class="col-6 col-md-3 mb-5">
					<a class="d-block" href="/team/nishant"><img alt="Nishant Gadihoke" src="/images/team/nishant.png" class="rounded-circle w-50"></a>
					<div class="h5 font-weight-bold mt-4 mb-0">Nishant Gadihoke</div>
					<div>Chief Technology Officer</div>
					<p class="small mt-2">Multi-disciplinary designer and developer, student</p>
					<p><a href="/team/nishant">Visit profile</a></p>
				</div>
				<div class="col-6 col-md-3 mb-5">
					<a class="d-block" href="/team/mahendra"><img alt="Mahendra Raghuwanshi" src="/images/team/mahendra.png" class="rounded-circle w-50"></a>
					<div class="h5 font-weight-bold mt-4 mb-0">Mahendra Raghuwanshi</div>
					<div>Chief Operating Officer</div>
					<p class="small mt-2">Electronics engineer, previously Radio Expert at Nokia, BTech SGSITS</p>
					<p><a href="/team/mahendra">Visit profile</a></p>
				</div>
				<div class="col-6 col-md-3 mb-5">
					<a class="d-block" href="/team/tarek"><img alt="Tarek Gethe" src="/images/team/tarek.png" class="rounded-circle w-50"></a>
					<div class="h5 font-weight-bold mt-4 mb-0">Tarek Gethe</div>
					<div>Head of Sales, Germany</div>
					<p class="small mt-2">Digital marketer, researcher, psychology student at University of Twente</p>
					<p><a href="/team/tarek">Visit profile</a></p>
				</div>
				<div class="col-6 col-md-3 mb-5">
					<img alt="Erik Hasenoehrl" src="/images/team/erik.jpg" class="rounded-circle w-50">
					<div class="h5 font-weight-bold mt-4 mb-0">Erik Hasenoehrl</div>
					<div>Research Advisor</div>
					<p class="small mt-2">Research Fellow at Procter &amp; Gamble, PhD in Analytical Chemistry</p>
				</div>
				<!--<div class="col-6 col-md-3 mb-5">
					<img alt="Erik Hasenoehrl" src="/images/team/michael.png" class="rounded-circle w-50">
					<div class="h5 font-weight-bold mt-4 mb-0">Michael Groeneveld</div>
					<div>Technology Advisor</div>
					<p class="small mt-2">Founder of El Ni&ntilde;o, engineer, MSc University of Twente</p>
				</div>-->
				<div class="col-6 col-md-3 mb-5">
					<img alt="Gagan Bhasin" src="/images/team/tobias.png" class="rounded-circle w-50">
					<div class="h5 font-weight-bold mt-4 mb-0">Tobias Stone</div>
					<div>Eye Innovation Advisor</div>
					<p class="small mt-2">Founder of EyeFocus Accelerator, Director Innovation at BBFA UK</p>
				</div>
				<div class="col-6 col-md-3 mb-5">
					<img alt="Gagan Bhasin" src="/images/team/gagan.png" class="rounded-circle w-50">
					<div class="h5 font-weight-bold mt-4 mb-0">Gagan Bhasin</div>
					<div>Mobility Advisor</div>
					<p class="small mt-2">Engineer, director at Nokia Network Planning and Optimization</p>
				</div>
				<div class="col-6 col-md-3 mb-5">
					<img alt="Mahendra Raghuwanshi" src="/images/team/abhinav.png" class="rounded-circle w-50">
					<div class="h5 font-weight-bold mt-4 mb-0">Abhinav Tandon</div>
					<div>Partnerships Advisor</div>
					<p class="small mt-2">Co-founder of Creator's Gurukul, CEO of Lasie Foundation, BTech IIT Delhi</p>
				</div>
				<div class="col-6 col-md-3 mb-5">
					<img alt="Tarek Gethe" src="/images/team/pankaj.png" class="rounded-circle w-50">
					<div class="h5 font-weight-bold mt-4 mb-0">Pankaj Kankaria</div>
					<div>Investments Advisor</div>
					<p class="small mt-2">Director at Scale Ventures, angel investor, MSc University of Edinburgh</p>
				</div>
				<div class="col-6 col-md-3 mb-5">
					<img alt="Erik Hasenoehrl" src="/images/team/sid.jpg" class="rounded-circle w-50">
					<div class="h5 font-weight-bold mt-4 mb-0">Siddharth Shetty</div>
					<div>IndiaStack Advisor</div>
					<p class="small mt-2">Product Manager at Exotel, contributor at IndiaStack, founder of Fundlined</p>
				</div>
				<div class="col-6 col-md-3 mb-5">
					<img alt="Mahendra Raghuwanshi" src="/images/team/pradeep.png" class="rounded-circle w-50">
					<div class="h5 font-weight-bold mt-4 mb-0">Pradeep Chowdhary</div>
					<div>Design Advisor</div>
					<p class="small mt-2">Founder of Industry Development India, MDes National Institute of Design</p>
				</div>
			</div>
			<div class="row justify-content-center mt-4">
				<div class="card card-body col-md-7 p-5">
					<h3>We're hiring!</h3>
					<p>You’d love it at Oswald Labs! We offer benefits, stock, and salary. Hit us up with your r&eacute;sum&eacute; and we'll get in touch with you.</p>
					<div>
						<a href="mailto:yourfriends@oswaldlabs.com" class="btn btn-primary">Email us &rarr;</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>