---
title: Valmiki &middot; Oswald Labs
desc: Agastya makes your websites inclusive and accessible with just one line of code, a product by Oswald Labs, the award-winning accessibility technology company.
---

<header id="masthead" class="<%= current_page.data.template || "light" %>">
	<div class="container pt-3 pb-3">
		<%= partial "navbar" %>
	</div>
	<%= partial "valmiki_nav" %>
</header>

<main id="content">
	<section class="pt-5">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-4">
					<div class="mb-5">
						<h1 class="mt-4">The revolutionary tool for accessible reading.</h1>
						<p class="mt-3">Valmiki is an extension for Chromium-based web browsers like Google Chrome and Opera that changes the look and feel of the entire internet based on your reading preferences. It works for people with learning disorders, eye defects, and everyone else.</p>
						<p class="mt-4">
							<a target="_blank" rel="noopener" href="https://bit.ly/2CUk0zs" class="btn btn-primary">Download for free &rarr;</a>
						</p>
					</div>
				</div>
				<div class="col-md-8">
					<img alt="" src="/images/valmiki.png">
				</div>
			</div>
		</div>
	</section>
	<section class="gray">
		<div class="container">
			<h2 class="text-center mb-5">Valmiki works for everyone.</h2>
			<div class="row">
				<div class="col-md-6 mb-5">
					<img class="mb-3" alt="" src="/images/valmiki-1.png">
					<h3 class="h4">Learning Disabilities</h3>
					<p>Based on the specifications provided by the British Dyslexia Association and the World Wide Web Consortium, Valmiki automatically corrects the typography, contrast ratios, and other visual elements on a webpage to make reading easier for users with learning disabilities.</p>
				</div>
				<div class="col-md-6 mb-5">
					<img class="mb-3" alt="" src="/images/valmiki-2.png">
					<h3 class="h4">Visual Impairment</h3>
					<p>On the press of a button (or a key), Valmiki extracts all relevant content on a webpage and reads it out in a language of the user’s choice. Valmiki can also translate that text into another language, and visually impaired users only have to press a few keyboard shortcuts for all of this.</p>
				</div>
				<div class="col-md-6 mb-5 mb-md-0">
					<img class="mb-3" alt="" src="/images/valmiki-3.png">
					<h3 class="h4">Senior Citizens</h3>
					<p>Senior citizens who are not used to browsing the web can switch to Valmiki's Reading Mode which removes all unnecessary links, ads, and popups, and presents the relevant content in a beautiful readable format. They can also easily change the font size and contrasts based on their eye defects.</p>
				</div>
				<div class="col-md-6 mb-5 mb-md-0">
					<img class="mb-3" alt="" src="/images/valmiki-4.png">
					<h3 class="h4">Everyone Else</h3>
					<p>Valmiki is incredibly customizable, and users can easily change all properties and styles like text color, font family, and image contrasts for a consistent experience across the web. It remembers your settings, and they are automatically applied on any website you visit.</p>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md mb-5 mb-md-0">
					<i class="fas fa-fw fa-fh fa-newspaper h1 mb-3 text-muted"></i>
					<h2 class="h3">Featured by 20+ publications.</h2>
					<p>Valmiki was DAISY Consortium's featured tool in October 2016, and has been featured by over 20 publications around the world, including HuffPost, Hindustan Times, and ScoopWhoop.</p>
					<p><a class="btn btn-left" href="/press">Learn more about Valmiki's press &rarr;</a></p>
				</div>
				<div class="col-md">
					<i class="fas fa-fw fa-fh fa-code h1 mb-3 text-muted"></i>
					<h2 class="h3">Completely free and open source.</h2>
					<p>Valmiki is free and always will be, and is built using Chrome Web APIs in JavaScript. The source code is MIT licensed, and available on GitHub for everyone to use and build.</p>
					<p><a class="btn btn-left" target="_blank" rel="noopener" href="https://github.com/OswaldFoundation/valmiki">View the source on GitHub &rarr;</a></p>
				</div>
			</div>
		</div>
	</section>
</main>